<ion-card
  class="cardProfile ion-no-padding"
  (click)="goTo(content.type, content?.form_id, content?.showAlert)"
  [routerLink]="getRouterLink(content?.type, content?.form_id)"
  [state]="{ id: content?.id, header: content?.title}"
  routerLinkActive="active-item"

  
>
  <ion-item class="ion-no-padding item" lines="none" mode="ios">
    <ion-thumbnail class="thumbnail" slot="start">
      <img
        class="img"
        [src]="content?.img"
        onError="this.onerror=null; this.src='/assets/images/shared-care-plan/image-not-found.png' "
        alt=""
      />
    </ion-thumbnail>
    <ion-grid class="ion-no-padding item" style="height: 100% !important">
      <ion-row class="verticalAlignItem" style="margin: unset;" *ngIf="content?.type !== 'App\\Monitoring'">
        <ion-text style="display: inline-flex !important;">
          <p>{{ content?.from  }} </p>&nbsp; 
          <p *ngIf="content?.to"> ---  {{ content?.to  }}</p>
        </ion-text>
        &nbsp; 
        <ion-icon
          *ngIf="content?.accepted === false"
          src="assets/icons/ellipsis orange.svg"
          (click)="presentAlert()"
        ></ion-icon>
      </ion-row>
      <ion-row class="imgPadding" *ngIf="content?.type === 'App\\Monitoring'">
        <p>
          {{ "form.goals" | translate }} {{ content?.description }}
        </p>
        
      </ion-row>
      <ion-row>
        <ion-text class="txtTitleGoalsDarker textAdvicesSlider">{{
          content?.title
          ? (content.title.length > 40 ? (content.title | slice: 0:40) + '...' : content.title)
          : ''
        }}</ion-text>

        <ion-icon
          class="arrow"
          slot="end"
          size="small"
          name="chevron-forward-outline"
        ></ion-icon>
      </ion-row>
      <!--<ion-row *ngIf="content.type !== 'medication'" class="textMon-For-Med">
        <p style="color: var(--malva)">
          {{ "form.scheduled" | translate }} {{ content?.description }}
        </p>
        
      </ion-row>-->
      <ion-row *ngIf="content.type === 'medication'" class="textMon-For-Med">
        <p style="color: var(--malva)">
          {{ "medication.dose" | translate }}
          {{ content?.description }}
        </p>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card>
