.boton-reject {
    color: #E81111; /* Color del texto */
  }
  
  .boton-accepted {
    color: #4192F1; /* Color del texto */
  }

  .custom-textarea {
    min-height: 150px; 
    min-width: 250px;
  }