<ion-header mode="md" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="introAction()" class="skip-btn" fill="clear" color="primary">{{'intro.skip' | translate| titlecase}} {{this.currentSlideIndex}}/4</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding">

  <div class="main-container swiper-container-wrapper">

    <swiper-container #swiper (slidechange)="onSlideChange()" [slidesPerView]="1">

      <swiper-slide>
        <div class="center-container">
          <img src="assets/images/contact.png">
        </div>

        <div class="main-container">
          <h2>{{'intro.title1' | translate}}</h2>
          <p>{{'intro.slider1_text' | translate}}</p>
        </div>
      </swiper-slide>


      <swiper-slide>
        <div class="center-container">
          <img src="assets/images/agenda.png">
        </div>

        <div class="main-container">
          <h2>{{'intro.title2' | translate}}</h2>
          <p>{{'intro.slider2_text' | translate}}</p>
        </div>
      </swiper-slide>


      <swiper-slide>
        <div class="center-container">
          <img src="assets/images/scp.png">
        </div>

        <div class="main-container">
          <h2>{{'intro.title3' | translate}}</h2>
          <p>{{'intro.slider3_text' | translate}}</p>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="center-container">
          <img src="assets/images/daily_tasks.png">
        </div>

        <div class="main-container">
          <h2>{{'intro.title4' | translate}}</h2>
          <p>{{'intro.slider4_text' | translate}}</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>


<footer>
  <ng-container *ngIf="!this.isLastSlide; else noLast">
    <ion-button class="intro-btn" type="button" color="primary" shape="round" mode="ios"
      expand="block" (click)="swipeNext()">
      {{'intro.continue' | translate}}
    </ion-button>
  </ng-container>


  <ng-template #noLast>
    <ion-button class="intro-btn" type="button" color="primary" shape="round" mode="ios" expand="block"
      (click)="introAction()">
      {{'intro.continue' | translate}}
    </ion-button>
  </ng-template>
</footer>