<ion-app>
  <ion-content fullscreen class="ion-padding" scroll-y="true">
    <div class="main-container">
      <ion-slides pager="true">
        <!-- first slide -->
        <ion-slide>
          <div class="slide">
            <h1 class="titleBold">Bienvenido a <br>
              <span style="color:#3498DB;">Doole Health</span>
            </h1>

            <ion-grid style="text-align: start;">
              <ion-row>
                <ion-col size="2">
                  <img class="iconPadding" src="assets/icons/Estrella.svg" />
                </ion-col>
                <ion-col size="10">
                  <p><b>Todo en uno</b><br>Toda tu información médica
                    en una sola app</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2">
                  <img class="iconPadding" src="assets/icons/Icono.svg" />
                </ion-col>
                <ion-col size="10">
                  <p><b>Contacta con tu médico</b><br> Habla con tu especialista directamente o solicita una consulta
                    presencial
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="2" padding>
                  <img class="iconPadding" src="assets/icons/Vector.svg" />
                </ion-col>
                <ion-col size="10">
                  <p><b>Salud y deporte</b><br>Conecta tus aplicaciones de salud
                    para ver tu evolución</p><br>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-slide>

        <!-- second slide -->
        <ion-slide>
          <div class="slide">
            <img class="iconPadddingCenter" src="assets/icons/calendar.svg" />
            <h1 class="titleBoldCentered">Agenda<br>
            </h1>
            <ion-grid style="text-align: center;">
              <ion-col size="12">
                <p>La agenda de Doole Health te permite incluirtodos tus citas y recordatorios médicos.
                  ¡No podrás vivir sin ella!</p>
              </ion-col>
            </ion-grid>
          </div>
        </ion-slide>

        <!-- third slide -->
        <ion-slide>
          <div class="slide">
            <img class="iconPadddingCenter" src="assets/icons/chat.svg" />
            <h1 class="titleBoldCentered">Contacta<br>
            </h1>
            <ion-grid style="text-align: center;">
              <ion-col size="12">
                <p>Habla con tu médico y especialista a través de videollamada o chat 
                  y solicita una cita presencial ¡Nunca fué tan rápido y cómodo!</p>
              </ion-col>
            </ion-grid>
          </div>
        </ion-slide>
        <!-- fourth slide -->
        <ion-slide>
          <div class="slide">
            <img class="iconPadddingCenter" src="assets/icons/Seguimiento.svg" />
            <h1 class="titleBoldCentered">Seguimiento<br>
            </h1>
            <ion-grid style="text-align: center;">
              <ion-col size="12">
                <p>Revisa resultados clínicos, contesta formularios o comprueba la evolución de tus constantes.
                  ¡Ahora podrás revisarlos siempre que quieras!</p>
              </ion-col>
            </ion-grid>
          </div>
        </ion-slide>
        <!-- fifth slide -->
        <ion-slide>
          <div class="slide">
            <img class="iconPadddingCenter" src="assets/icons/Mi Diario.svg" />
            <h1 class="titleBoldCentered">Mi Diario<br>
            </h1>
            <ion-grid style="text-align: center;">
              <ion-col size="12">
                <p>En un vistazo revisa tu dieta, medicación, juegos e información de salud del día.
                  ¡Cuidar de tu salud nunca había sido tan fácil!</p>
              </ion-col>
            </ion-grid>
          </div>
        </ion-slide>
        <!-- sixth  slide -->
        <ion-slide>
          <div class="slide">
            <img class="iconPadddingCenter" src="assets/icons/Novedades.svg" />
            <h1 class="titleBoldCentered">Novedades y Consejos<br>
            </h1>
            <ion-grid style="text-align: center;">
              <ion-col size="12">
                <p>Dispón de las últimas novedades sanitarias y consejos por parte de equipo médico
                  ¡Mantente actualizado en todo momento!</p>
              </ion-col>
            </ion-grid>
          </div>
        </ion-slide>
        <!-- seventh  slide -->
        <ion-slide>
          <div class="slide">
            <img class="iconPadddingCenter" src="assets/icons/Mi Perfil.svg" />
            <h1 class="titleBoldCentered">Mi Perfil<br>
            </h1>
            <ion-grid style="text-align: center;">
              <ion-col size="12">
                <p>Configura tus datos y tus preferencias de notificación para poder estar siempre informado.
                  ¡Disfruta tu experiencia en Doole Health!</p>
              </ion-col>
            </ion-grid>
          </div>
        </ion-slide>
        
      </ion-slides>
      <ion-button type="button" color="primary" expand="block" class="buttonPadding" (click)="introAction()">
        Continuar
      </ion-button>
    </div>
  </ion-content>