<ion-content fullscreen class="ion-padding">

  <div class="main-container swiper-container-wrapper">

    <swiper [slidesPerView]="1" [navigation]="false" [pagination]="false" [scrollbar]="{ draggable: true }">

      <!-- first slide -->
      <ng-template swiperSlide>
        <div class="slide">
          <ion-text class="titleBold"> {{'intro.title1' | translate}}<br>
            <span style="color:#3498DB;">Oxeen Home</span>
          </ion-text>

          <ion-grid style="text-align: start;">
            <ion-row>
              <ion-col size="2">
                <img class="iconPadding" src="assets/icons/Estrella.svg" />
              </ion-col>
              <ion-col size="10">
                <p><b>{{'intro.slider1_text1' | translate}}</b>
                  <br>{{'intro.slider1_text2' | translate}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2">
                <img class="iconPadding" src="assets/icons/Icono.svg" />
              </ion-col>
              <ion-col size="10">
                <p><b>{{'intro.slider1_text3' | translate}}</b>
                  <br> {{'intro.slider1_text4' | translate}}
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" padding>
                <img class="iconPadding" src="assets/icons/Vector.svg" />
              </ion-col>
              <ion-col size="10">
                <p><b>{{'intro.slider1_text5' | translate}}</b>
                  <br>{{'intro.slider1_text6' | translate}}
                </p><br>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-template>
      <!-- second slide -->

      <ng-template swiperSlide>
        <div class="">
          <ion-row class="justify-content-center">
            <ion-col size="4">
              <img class="iconPadddingCenter" src="assets/icons/calendar.svg" />
            </ion-col>
            <ion-col size="8">
              <ion-text class="titleBoldCentered">{{'intro.title2' | translate}}
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <p>{{'intro.slider2_text1' | translate}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>

      <!-- third slide -->
      <ng-template swiperSlide>
        <div class="slide">
          <ion-row class="justify-content-center">
            <ion-col size="4">
              <img src="assets/icons/chat.svg" />
            </ion-col>
            <ion-col size="8">
              <ion-text class="titleBoldCentered">{{'intro.title3' | translate}}<br>
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <p>{{'intro.slider3_text1' | translate}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>
      <!-- fourth slide -->
      <ng-template swiperSlide>
        <div class="slide">
          <ion-row class="justify-content-center">
            <ion-col size="4">
              <img src="assets/icons/Seguimiento.svg" />
            </ion-col>
            <ion-col size="8">
              <ion-text class="titleBoldCentered">{{'intro.title4' | translate}}<br>
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <p>{{'intro.slider4_text1' | translate}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>
      <!-- fifth slide -->
      <ng-template swiperSlide>
        <div class="slide">
          <ion-row class="justify-content-center">
            <ion-col size="4">
              <img src="assets/icons/Mi Diario.svg" />
            </ion-col>
            <ion-col size="8">
              <ion-text class="titleBoldCentered">{{'intro.title5' | translate}}
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <p>{{'intro.slider5_text1' | translate}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>
      <!-- sixth  slide -->
      <ng-template swiperSlide>
        <div class="slide">
          <ion-row class="justify-content-center">
            <ion-col size="4">
              <img src="assets/icons/Novedades.svg" />
            </ion-col>
            <ion-col size="8">
              <ion-text class="titleBoldCentered">{{'intro.title6' | translate}}<br>
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <p>{{'intro.slider6_text1' | translate}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>
      <!-- seventh  slide -->
      <ng-template swiperSlide>
        <div class="slide">
          <ion-row class="justify-content-center">
            <ion-col size="4">
              <img src="assets/icons/Mi Perfil.svg" />
            </ion-col>
            <ion-col size="8">
              <ion-text class="titleBoldCentered">{{'intro.title7' | translate}}<br>
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <p>{{'intro.slider7_text1' | translate}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button type="button" color="primary" expand="block" (click)="introAction()">
                {{'button.continue' | translate}}
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ng-template>



    </swiper>

    <!-- <ion-button type="button" color="primary" expand="block" class="buttonPadding" (click)="introAction()">
        {{'button.continue' | translate}}
      </ion-button> -->
  </div>
</ion-content>