.txtTitleTrackingLittle{
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
}
.textMediumLeft > app-text-shell{
  text-align: left;
  color: #7f8c8d!important;
}


.users-list {
    ion-item {
      --padding-start: 0px;
    }
  }

  ion-item {
    border-bottom: 1pt solid #ced6d6;
    ion-thumbnail{
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  
  .user-name > app-text-shell {
    --text-shell-line-height: 17px;
    max-width: 120px;
    font-weight: 500;
  
    &.text-loaded {
      max-width: inherit;
    }
  }
  
  .user-lastname > app-text-shell {
    --text-shell-line-height: 14px;
    max-width: 120px;
    &.text-loaded {
      max-width: inherit;
    }
  }
  .strech{
    max-height: 5px;
  }

  .floating-button {
    width: 90%;
    position: absolute;
    bottom: 100%; 
    --background: transparent; 
    text-transform: none;
    height: 50px !important;
  }
  
  ion-footer {
    position: relative; 
  }