<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'chat.header' | translate}}
      <app-info info="{{'info.chat' | translate}}"></app-info>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="medical-directory" [state]="{isChat:true}" routerLinkActive='active-item'>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="whiteBackground">
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-list *ngIf="this.data && this.data?.length > 0; else noData">
    <div *ngFor="let post of this.data; let i = index" >

      <span *ngIf="post?.recipients?.length == 1">
        <div *ngFor="let item of post?.recipients; let i = index">
          <ion-item *ngIf="item.id == this.authService?.user.idUser" lines="full" routerLink="conversation"
            [state]="{staff:item, chat: post.message?.message_header_id }"  routerLinkActive='active-item'>
            <ion-thumbnail slot="start">
              <app-aspect-ratio [ratio]="{w:1, h:1}">
                <app-image-shell animation="spinner" [src]="item?.image" [alt]="'Sample Image'"
                  class="img-wrapper-doctors"></app-image-shell>
              </app-aspect-ratio>
            </ion-thumbnail>
            <ion-grid>
              <ion-row>
                <ion-col class="strech" size=8 class="user-name">
                  <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell>
                </ion-col>
                <ion-col class="strech" size=4>
                  <p class="txtTitleChatDate" *ngIf=" post?.message?.updated_at.slice(0, 10) != myDate.slice(0, 10)">
                    {{post?.message?.updated_at.slice(0, 10)}}</p>
                  <p class="txtTitleChatDate" *ngIf=" post?.message?.updated_at.slice(0, 10) == myDate.slice(0, 10)">
                    {{post?.message?.updated_at.slice(11, 16)}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="strech txtTitleGoals">{{post?.message?.content}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </span>

      <span *ngIf="post?.recipients?.length == 2">
        <div *ngFor="let item of post?.recipients; let i = index">
          <ion-item *ngIf="item.id != this.authService?.user.idUser" lines="full" routerLink="conversation"
            [state]="{staff:item, chat: post.message?.message_header_id }"  routerLinkActive='active-item'>
            <ion-thumbnail slot="start">
              <app-aspect-ratio [ratio]="{w:1, h:1}">
                <app-image-shell animation="spinner" [src]="item?.image" [alt]="'Sample Image'"
                  class="img-wrapper-doctors"></app-image-shell>
              </app-aspect-ratio>
            </ion-thumbnail>
            <ion-grid>
              <ion-row>
                <ion-col class="strech" size=8 class="user-name">
                  <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell>
                </ion-col>
                <ion-col class="strech" size=4>
                  <p class="txtTitleChatDate" *ngIf=" post?.message?.updated_at.slice(0, 10) != myDate.slice(0, 10)">
                    {{post?.message?.updated_at.slice(0, 10)}}</p>
                  <p class="txtTitleChatDate" *ngIf=" post?.message?.updated_at.slice(0, 10) == myDate.slice(0, 10)">
                    {{post?.message?.updated_at.slice(11, 16)}}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p class="strech txtTitleGoals">{{post?.message?.content}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </div>
      </span>
      <span *ngIf="post?.recipients?.length >= 3">
        <div *ngFor="let item of post?.recipients; let i = index">
          <span *ngIf="i === (post?.recipients?.length - 1)">
            <ion-item *ngIf="item.id != this.authService?.user.idUser" lines="full" routerLink="conversation"
              [state]="{staff:item, chat: post.message?.message_header_id }" routerLinkActive='active-item'>
              <ion-thumbnail slot="start">
                <app-aspect-ratio [ratio]="{w:1, h:1}">
                  <app-image-shell animation="spinner" src="assets/images/group.png" [alt]="'Sample Image'"
                    class="img-wrapper-doctors"></app-image-shell>
                </app-aspect-ratio>
              </ion-thumbnail>
              <ion-grid>
                <ion-row>
                  <ion-col class="strech" size=6 class="user-name">
                    <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell>
                    <!-- <p *ngIf="post?.recipients?.length >= 3">+{{post?.recipients?.length-1}}</p> -->
                  </ion-col>
                  <ion-col class="strech" size=1 class="user-name">
                    +
                  </ion-col>
                  <ion-col class="strech" size=1 class="user-name">
                    <!-- <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell> -->
                    <app-text-shell class="user-name" *ngIf="post?.recipients?.length >= 3"
                      [data]="post?.recipients?.length-1"></app-text-shell>
                  </ion-col>
                  <ion-col class="strech" size=4>
                    <p class="txtTitleChatDate" *ngIf=" post?.message?.updated_at.slice(0, 10) != myDate.slice(0, 10)">
                      {{post?.message?.updated_at.slice(0, 10)}}</p>
                    <p class="txtTitleChatDate" *ngIf=" post?.message?.updated_at.slice(0, 10) == myDate.slice(0, 10)">
                      {{post?.message?.updated_at.slice(11, 16)}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <p class="strech txtTitleGoals">{{post?.message?.content}}</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </span>
        </div>
      </span>
    </div>
  </ion-list>
  <ng-template #noData>
    <div *ngIf=" !this.isLoading">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon class="iconNoData" name="chatbubbles-outline"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4 style="text-align: center;"> {{ "no_data"| translate}} </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>