.textMedium {
  text-align: right;
  color: #7f8c8d;
}
.textMediumLeft {
  text-align: left;
  color: #7f8c8d!important;
}

.ios .arrow{
  display: none;
}

#container * {
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;

}
#left,
#middle,
#right {
  display: inline-block;

  zoom: 1;
  vertical-align: top;
}
#left {
  width: 10%;
}
#middle {
  vertical-align: bottom;
  width: 80%;
}
#right {
  vertical-align: bottom;
  width: 10%;
}

section {
  margin: 10em;
}


ion-label {
  color: var(--default-text) !important;
}