<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" "></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'appointment.header_appointment' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="whiteBackground">
  <div class="whiteBackground">
  
    <ion-list>
      <ion-row>
        <ion-text class="txtTitle">{{this.event?.title}}</ion-text>
      </ion-row>
      <ion-item>
        <ion-label>{{ 'appointment.field_modality' | translate}}</ion-label>
        <ion-label class="textMedium">{{(this.event?.online === 1)? ('appointment.online' | translate) : ('appointment.face_to_face' | translate)}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'appointment.field_date' | translate}}</ion-label>
        <ion-text class="textMedium">{{event?.start_date_iso8601 | date: 'EEEE, d MMMM yyyy, HH:mm'}}</ion-text>
      </ion-item>
      <ion-item routerLink="doctor" 
              [state]="{doctor: staff}" 
              *ngFor="let staff of event?.staff; let i = index" 
              [lines]="(i == event?.staff.length-1)? 'full': 'none'">
        <ion-label>{{ 'appointment.field_specially' | translate}}</ion-label>
        <ion-text class="textMedium"  >{{staff?.name}}</ion-text>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item [lines]="(event?.site !== null)? 'none': 'full' ">
        <ion-label>{{ 'appointment.field_center' | translate}}</ion-label>
      </ion-item>
<!--       <ion-item>
        <ion-label text-wrap class="textMediumLeft">Centro Asociado Santa Marina</ion-label>
      </ion-item> -->
      <ion-item *ngIf="event?.site">
<!--         <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11969.313337812735!2d2.1941609!3d41.4103908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1623755939112!5m2!1ses!2ses"
          width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
          <div [innerHtml]="event?.site"></div>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'appointment.field_appointment_type' | translate}}</ion-label>
        <ion-label class="textMedium">{{event?.agendaType?.name}}</ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="event?.instructions !== undefined && event?.instructions.length > 0">
        <ion-label>{{ 'appointment.field_instructions' | translate}}</ion-label>
      </ion-item>
      <ion-item *ngFor="let instruction of event?.instructions" (click)="actionIntrucction( instruction)">
        <ion-label text-wrap class="textMediumLeft">{{instruction.title}}</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'appointment.field_information' | translate}}</ion-label>
        <ion-textarea class="textMedium" [innerHtml]="event?.description"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ 'appointment.field_attached_files' | translate}}</ion-label>
        <ion-label  class="textMedium">{{ (event?.files.length > 0)? '': 'appointment.no_files' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-row class="files-row">
    <ion-col class="file-item" style="padding-right: 4px;" *ngFor="let m of event?.files">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="file-picture" [src]="m.name.split('.').pop() == 'pdf'? 'assets/icons/pdf-thumbnail.svg' : m.temporaryUrl" (click)="openFile(m)"></app-image-shell>
      </app-aspect-ratio>
      <span class="file-name">
      </span>
    </ion-col>
  </ion-row>

  <ion-button *ngIf="event?.origin === 1" fill="clear" expand="full" color="danger" (click)="deleteReminder()">
    {{ 'appointment.button_delete' | translate}}</ion-button>
</ion-content>