<ion-header>
  <ion-toolbar>
    <ion-title>Objectivos de Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>100 mg/dl</div>
  <div>01/01/2020</div>
  <div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  <div>
    Recompensa
  </div>
  <ion-card>
    <ion-img  src='assets/icons/goals.svg' style="margin-right: 5px; height: 40px;"></ion-img>
    <ion-card-title>Objetivo de </ion-card-title><br>
    <div>50 Healthies</div>
  </ion-card>

  <div>
    Information
  </div>
  <ion-card>
    <ion-card-title>Definición</ion-card-title><br>
    <div>El azúcar en la sangre, también llamada “glucosa”,es el azúcar principal que se encuentra en su sangre. Esta proviene de los alimentos que usted consume yes repartida a todas las células de su cuerpo para ser usada como energía.</div>
    <div>Valores normales</div>
  </ion-card>

  <div>
    Concejos
  </div>
  <ion-card>
    <ion-img  src='assets/icons/goals.svg' style="margin-right: 5px; height: 40px;"></ion-img>
    <ion-card-title>Controla tus niveles de glucosa</ion-card-title><br>
    <div>Descubre los mejores alimentos para mejorar tus niveles de glucosa</div>
  </ion-card>
</ion-content>
