<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio" ></ion-back-button>
    </ion-buttons>
    <ion-title>Objectivos de Actividad</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-segment value="documents" scrollable style="background-color: white;">
      <ion-segment-button value="">
        <ion-label>D</ion-label>
      </ion-segment-button>
      <ion-segment-button value="">
        <ion-label>W</ion-label>
      </ion-segment-button>
      <ion-segment-button value="">
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value="">
        <ion-label>Y</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div class="main-container2">
  <ion-row><ion-col size="2" class="txtTitleGoalsGreenBig">100</ion-col><ion-col size="2" class="txtTitleGoalsLittle2">mg/dl</ion-col></ion-row>
  <ion-row><ion-col size="4" class="txtTitleGoalsLittle">01/01/2020</ion-col></ion-row>
 </div>
  <div id="container" style="min-width: 310px; max-width: 1100px; height: 400px; margin: 0 auto"></div>
  <div class="main-container">
    <ion-text class="txtTitleNoMargin">Recompensa</ion-text>
  </div>
  <ion-card class="cardProfilePadding">
    <ion-row>
      <ion-col size="2">
        <ion-img src='assets/icons/IconGoal.svg' style="margin-right: 5px; height: 40px;"></ion-img>
      </ion-col>
      <ion-col size="10" class="txtTitleGoals2">Alcanza tu objetivo y suma Healthies:<br>50 Healthies</ion-col>
    </ion-row>
 

  </ion-card>

  <div class="main-container">
    <ion-text class="txtTitleNoMargin">Información</ion-text>
  </div>
  <ion-card class="cardProfilePadding">
    <ion-card-title class="txtTitleGoals">Definición</ion-card-title><br>
    <div>El azúcar en la sangre, también llamada “glucosa”,es el azúcar principal que se encuentra en su sangre. Esta proviene de los alimentos que usted consume yes repartida a todas las células de su cuerpo para ser usada como energía.</div>
    <ion-item-divider></ion-item-divider>
   <ion-col>Valores normales</ion-col><ion-col> 140 mg/dl</ion-col>
  </ion-card>

  <div class="main-container">
    <ion-text class="txtTitleNoMargin">Consejos</ion-text>
  </div>
  <ion-card class="cardProfilePadding">
    <ion-row>
      <ion-col size="4" class="imgCard">
      </ion-col>
      <ion-col size="8"><ion-card-title class="txtTitleGoals3">Controla tus niveles de glucosa</ion-card-title><p class="txtTitleGoals3">Descubre los mejores alimentos para mejorar tus niveles de glucosa </p></ion-col>
    </ion-row>
    
   
  </ion-card>
</ion-content>
