<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{header}}</ion-title>
    <ion-buttons slot="end" >
      <ion-button color="primary" routerLink="/agenda/reminder-add" [state]="{element_id: id}" ><ion-icon slot="icon-only" name="alarm-outline"></ion-icon></ion-button>
      <ion-icon slot="icon-only" name="add" color="primary"
      routerLink="/elements-add" [state]="{id: id, name:header, units:units}"
      ></ion-icon>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-segment 
    value="day" 
    [(ngModel)]="segmentFilter" 
    (ionChange)="segmentChanged($event)"
    scrollable style="background-color: white;">
      <ion-segment-button value="1d" >
        <ion-label>D</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1w">
        <ion-label>W</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1m">
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1y">
        <ion-label>Y</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-row class="textBlueCentered1, header-change-month" style="background-color: white !important;">
      <!-- Move back one screen of the slides -->
     <ion-col size="2">
       <ion-button fill="clear" (click)="back()"  class="textBlueCentered1">
         <ion-icon name="chevron-back-outline" slot="icon-only" color="primary" ></ion-icon>
       </ion-button>
     </ion-col>
     <ion-col size="8" class="textBlue; textBlueCentered">
       <h3 style="text-align: center; font-size: 20px;">{{ viewTitle | titlecase }}</h3>
     </ion-col>
     <ion-col size="2" class="textBlueCentered1">
       <ion-button fill="clear" (click)="next()" [disabled]="disabledButton()">
         <ion-icon name="chevron-forward-outline" slot="icon-only" color="primary"></ion-icon>
       </ion-button>
     </ion-col>
   </ion-row>

    <div class="main-container2">
  <ion-row *ngIf="this.values && this.values.length > 0"><ion-col size="4" class="txtTitleGoalsGreenBig">{{values[0].value}}&nbsp;<span style="color:black" class="txtTitleGoalsLittle2">{{units}}</span></ion-col></ion-row>
  <ion-row *ngIf="this.values &&  this.values.length > 0"><ion-col size="4" class="txtTitleGoalsLittle">{{ formatDate(values[0].date_value) | date: 'dd/MM/y'}}</ion-col></ion-row>
 </div>

<div id="container" style="min-width: 310px; max-width: 1100px; height: 400px; margin: 0 auto"></div>

<div *ngIf="goals !== undefined &&  goals.length >0"> 
  <div class="main-container">
    <ion-text class="txtTitleNoMargin">{{ 'goals.subtitle_reward' | translate}}</ion-text>
  </div>

    <ion-card  *ngFor="let goal of goals" class="cardProfilePadding">
      <ion-row>
        <ion-col size="2">
          <ion-img src='assets/icons/IconGoal.svg' style="margin-right: 5px; height: 40px;"></ion-img>
        </ion-col>
        <ion-col size="10" class="txtTitleGoals2">{{'goals.description_reward' | translate}} {{goal.score}} Healthies<br></ion-col>
      </ion-row>
    </ion-card>
</div>


  <div class="main-container">
    <ion-text class="txtTitleNoMargin">{{ 'goals.subtitle_information' | translate}}</ion-text>
  </div>
  <ion-card class="cardProfilePadding">
    <ion-card-title  *ngIf="description" class="txtTitleGoals">{{ 'activity_goal.definition' | translate}}</ion-card-title><br>
    <div *ngIf="description">{{description}}</div>
    <!-- <ion-item-divider></ion-item-divider> -->
    <div *ngIf="this.normalValue">
      <ion-col >{{ 'activity_goal.normal_value' | translate}}</ion-col><ion-col>{{this.normalValue}} {{this.units}}</ion-col>
    </div>
  </ion-card>

<!--   <div class="main-container">
    <ion-text class="txtTitleNoMargin">{{ 'goals.subtitle_advices' | translate}}</ion-text>
  </div>
  <ion-card class="cardProfilePadding">
    <ion-row>
      <ion-col size="4" class="imgCard">
      </ion-col>
      <ion-col size="8"><ion-card-title class="txtTitleGoals3">Controla tus niveles de glucosa</ion-card-title><p class="txtTitleGoals3">Descubre los mejores alimentos para mejorar tus niveles de glucosa </p></ion-col>
    </ion-row>
  </ion-card> -->
  
</ion-content>
