.verticalLine {
    width:1%;
    height:85%;
    background:#2ECC71;
    margin-left:2%;
  }
  .verticalLinePurple {
    width:1%;
    height:85%;
    background:#9B59B6;
    margin-left:2%;
  }
  .verticalLineRed {
    width:1%;
    height:85%;
    background:#E74C3C;
    margin-left:2%;
  }
/*  .verticalLine2 {
   border-left: 2px solid  #3498DB,;
   margin-left: 5%;
  }*/
  ion-img{
 
    height: 30px;
    color: #2ECC71;
}
ion-segment {
    margin: 10px 0;
    background: #ffffff;
  }
  