.verticalLine {
    width:1%;
    height:85%;
    background:#2ECC71;
    margin-left:2%;
  }
  .verticalLinePurple {
    width:1%;
    height:85%;
    background:#9B59B6;
    margin-left:2%;
  }
  .verticalLineRed {
    width:1%;
    height:85%;
    background:#E74C3C;
    margin-left:2%;
     }
 .verticalLine2 {
   border-left: 2px solid  #7F8C8D;
   margin-left: 2%; 
   z-index: 1;
}
.dot{
  margin-left: -2%;   
  position: absolute;
  top: 6px;
  left: 20px;
  background: #7F8C8D;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  z-index: 10;
}
  ion-img{
 
    height: 30px;
    color: #2ECC71;
}

  card{
    width: 100px !important;
  }
  .formulario{
    display: block;
    max-width: 100%;
    height: 900px!important;
    position:unset !important;
    overflow:visible !important;
    }
  
    .cardProfile{
      height: 90px !important;
  }
  
  .item{
      height: 100% !important;
  }
  
  .thumbnail{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      width: 98px !important;
      height: 87px !important;
  }

  ion-segment-button {
    height: fit-content;
    font-size: 16px;
    text-transform: none;
    --color-checked: var(--ion-color-primary) !important;
    --background-checked: transparent !important;
    --indicator-color: transparent !important;
    text-align: center;
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; 
    color: #7F8C8D;
  }
  
  ion-segment-button.segment-button-checked {
    background: #ECDDFE;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
    color: var(--default-text) !important;
      border-top: 0% !important;
    border-left: 0% !important;
    border-right: 0% !important;
    --indicator-color: transparent !important;
  }
  
  ion-segment-button.segment-button-after-checked {
    color: #7F8C8D !important;
  }