<ion-header>
  <!-- <ion-toolbar> -->

  <ion-toolbar mode="ios" [ngSwitch]="segment">
    <ion-title>{{ 'tracking.header' | translate}}</ion-title>
    <ion-buttons slot="end" *ngSwitchCase="'documents'">
      <ion-icon
        class="primaryIcon"
        slot="icon-only"
        name="filter-outline"
        (click)="addFilters()"
      ></ion-icon
      >&nbsp;
      <ion-icon
        class="primaryIcon"
        slot="icon-only"
        name="add"
        (click)="addDocument()"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngSwitchCase="'graphics'">
      <ion-icon
        class="primaryIcon"
        slot="icon-only"
        name="add"
        (click)="addElement()"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content view-cached="”false”">
  <span>
    <changeUser
      [isFamily]="this.authService?.user?.familyUnit != null"
    ></changeUser>
  </span>
  <!-- SegmentBar -->

  <ion-segment
    (ionChange)="segmentChanged($event)"
    [(ngModel)]="segment"
    scrollable
  >
    <ion-segment-button value="documents">
      <ion-label>{{ 'tracking.tap_test' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="forms">
      <ion-label>{{ 'tracking.tap_forms' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="graphics">
      <ion-label>{{ 'tracking.tap_graphics' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Documents -->

  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'documents'">
      <div class="spin" *ngIf="this.loadingTests">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div
        *ngIf="!this.loadingTests && this.listDiagnostic && this.listDiagnostic.length > 0; else noData"
      >
      <br>
        <ion-list
          *ngFor="let list of this.listDiagnostic; let i = index"
          (mouseover)="fireEvent($event,i)"
          (click)="fireEvent($event,i)"
        >
          <!-- <div class="dot" [ngStyle]="{'background': list.color}"></div>
       <div class="verticalLine2" [ngStyle]="{ 'border-left': '2px solid'+list.color}"> -->
          <ion-label class="txtTitleGray" [ngStyle]="{'color': list.color}"
            >{{ formatSelectedDate(list.date, 'EEEE, d MMMM YYYY')}}</ion-label
          >
          <ion-list *ngFor="let doc of list.diagnosticTests">
            <ion-card
              class="cardProfile"
              routerLink="/document-detail"
              [state]="{id: doc.id}"
              routerLinkActive="active-item"
            >
              <ion-item lines="none">
                <div class="verticalLine"></div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <ion-img
                        style="align-items: left"
                        src="assets/icons/document-attach.svg"
                        style="margin-right: 5px"
                      >
                      </ion-img>
                    </ion-col>
                    <ion-col size="4">
                      <ion-text class="txtTitleGoals"
                        >{{doc.diagnostic_test_type?.name}}</ion-text
                      >
                    </ion-col>
                    <ion-col size="4">
                      <ion-text class="txtTitleTrackingDate"
                        >{{formatSelectedDate(doc.data, 'dd MMM y')}}</ion-text
                      >
                    </ion-col>
                    <ion-col size="2">
                      <ion-icon
                        class="arrow"
                        size="small"
                        name="chevron-forward-outline"
                      ></ion-icon>
                    </ion-col>
                  </ion-row>

                  <ion-col size="12">
                    <ion-card-title class="txtTracking"
                      >{{doc.title}}
                    </ion-card-title>
                  </ion-col>
                  <ion-col size="12">
                    <!-- <ion-card-title class="txtTitleTrackingLittle">{{doc.idDoctor}}</ion-card-title> -->
                    <ion-card-title class="txtTitleTrackingLittle"
                      >{{doc.description}}</ion-card-title
                    >
                  </ion-col>
                  <ion-col size="12">
                    <ion-card-title class="textBlue">
                      <p
                        routerLink="/document-detail"
                        [state]="{id: doc.id}"
                        routerLinkActive="active-item"
                      >
                        {{ 'documents.button_detail' | translate}}
                      </p>
                    </ion-card-title>
                  </ion-col>
                </ion-grid>
              </ion-item>
            </ion-card>
          </ion-list>
          <!-- </div> -->
        </ion-list>
      </div>
    </div>

    <!-- Forms -->
    <div *ngSwitchCase="'forms'">
      <div class="spin" *ngIf="this.loadingForms">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div
        *ngIf="!this.loadingForms && this.forms && this.forms.length > 0; else noData"
      >
        <ion-list *ngFor="let event of this.forms">
          <ion-card
            class="cardProfile"
            [routerLink]="['form', { id : event?.id }]"
          >
            <ion-item lines="none">
              <div class="verticalLinePurple"></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-img
                      src="assets/icons/document-text.svg"
                      style="margin-right: 5px"
                    >
                    </ion-img>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-title class="txtTitleGoals"
                      >{{event.title}}</ion-card-title
                    >
                  </ion-col>
                  <ion-col size="2">
                    <ion-icon
                      name="chevron-forward-outline"
                      class="arrow"
                      size="small"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-col size="12" *ngIf="event.description != '' ">
                  <ion-card-title
                    class="txtTracking"
                    [innerHtml]="event.description"
                  >
                  </ion-card-title>
                </ion-col>
                <!--           <ion-col size="12">
            <ion-card-title class="txtTitleTrackingLittle">
              {{event.doctor}}</ion-card-title>
          </ion-col> -->
                <ion-col size="12">
                  <ion-card-title
                    class="textBlue"
                    [routerLink]="['form', { id : event?.id }]"
                  >
                    {{ 'documents.button_fill' | translate}}</ion-card-title
                  >
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-list>
      </div>

      <!-- <div>
  <iframe class="iframe" [src]="url"  allowfullscreen width="100%" height="120%" frameborder="0" >
  </iframe>
</div> -->
    </div>

    <!-- Graphics -->
    <div *ngSwitchCase="'graphics'">
      <div class="spin" *ngIf="this.loadingGraphics">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <div
        *ngIf="!this.loadingGraphics && this.groupedElements && this.groupedElements.length > 0; else noData"
      >
      <br>
        <ion-list *ngFor="let group of this.groupedElements">
          <ion-label *ngIf="group.elements.length > 0" class="txtTitle"
            >{{group.group }}</ion-label
          >
          <ion-card
            class="cardProfile"
            *ngFor="let element of this.group.elements"
          >
            <ion-item
              lines="none"
              routerLink="/activity-goal"
              [state]="{id: element.id, header:element.name}"
              routerLinkActive="active-item"
            >
              <div
                class="verticalLine"
                [ngStyle]="{'background': (element?.color)? element?.color: '#bcbcbc'}"
              ></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-icon
                      style="align-items: left; margin-right: 5px; zoom: 2"
                      [ngStyle]="{'color': (element?.color)? element?.color: '#bcbcbc' }"
                      name="{{element?.icon? element?.icon: 'fitness-outline'}}"
                    ></ion-icon>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-title class="txtTitleGoals"
                      >{{element.name}}</ion-card-title
                    >
                  </ion-col>
                  <ion-col size="2">
                    <ion-label style="text-align: right">
                      <ion-icon
                        name="chevron-forward-outline"
                        slot="end"
                        class="arrow"
                        size="small"
                      ></ion-icon>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-col size="12">
                  <ion-card-title class="txtTitleGoals"
                    >{{element.value}} {{element.units}}
                  </ion-card-title>
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-list>
      </div>
      <!-- <div *ngIf="groupedElements.length > 0; else noData">
    <ion-list *ngFor="let group of this.groupedElements">
      <ion-label *ngIf="group.elements.length > 0" class="txtTitle">{{group.group  }}</ion-label>
      <ion-card class="cardProfile" *ngFor="let element of this.group.elements">
        <ion-item lines="none" routerLink="/activity-goal" [state]="{id: element.id, header:element.name}">
          <div *ngIf="group.group=='Actividad Física' || group.group=='Actividad' " class="verticalLineRed"></div>
          <div *ngIf="group.group=='Bioquímica'"  class="verticalLine"></div>
          <div *ngIf="group.group=='Constantes'"  class="verticalLinePurple"></div>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-icon *ngIf="group.group=='Actividad Física'  ||  group.group=='Actividad' "  style="align-items: left;margin-right: 5px;zoom: 2; color: #E74C3C;" name="walk-outline"></ion-icon>
                <ion-icon *ngIf="group.group=='Bioquímica'"  style="align-items: left;margin-right: 5px;zoom: 2;color: #2ECC71;" name="water-outline"></ion-icon>
                <ion-icon *ngIf="group.group=='Constantes'"  style="align-items: left;margin-right: 5px;zoom: 2;color: #9B59B6;" name="stats-chart-outline"></ion-icon>
                
              </ion-col>
              <ion-col size="8">
                <ion-card-title class="txtTitleGoals">{{element.name}}</ion-card-title>
              </ion-col>
              <ion-col size="2">
                <ion-label style="text-align: right;">
                </ion-label>
              </ion-col>
            </ion-row>
            <ion-col size="12">
              <ion-card-title class="txtTitleGoals">{{element.value}} {{element.units}}
              </ion-card-title>
            </ion-col>
          </ion-grid>
        </ion-item>
      </ion-card>
    </ion-list>
  </div> -->
    </div>
  </div>

  <ng-template #noData>
    <div *ngIf="!this.loadingForms && !this.loadingTests && !this.loadingGraphics">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon class="iconNoData" name="accessibility"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4 style="text-align: center">{{ "no_data"| translate}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
   
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
