.verticalLine {
    width:1%;
    height:85%;
    background:#2ECC71;
    margin-left:2%;
  }
  .verticalLinePurple {
    width:1%;
    height:85%;
    background:#9B59B6;
    margin-left:2%;
  }
  .verticalLineRed {
    width:1%;
    height:85%;
    background:#E74C3C;
    margin-left:2%;
     }
 .verticalLine2 {
   border-left: 2px solid  #7F8C8D;
   margin-left: 2%; 
   z-index: 1;
}
.dot{
  margin-left: -2%;   
  position: absolute;
  top: 6px;
  left: 20px;
  background: #7F8C8D;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  z-index: 10;
}
  ion-img{
 
    height: 30px;
    color: #2ECC71;
}

  card{
    width: 100px !important;
  }
  .formulario{
    display: block;
    max-width: 100%;
    height: 900px!important;
    position:unset !important;
    overflow:visible !important;
    }
  
    .cardProfile{
      height: 90px !important;
  }
  
  .item{
      height: 100% !important;
  }
  
  .thumbnail{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      width: 98px !important;
      height: 87px !important;
  }