<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'recipe.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardProfile">
<!--     <ion-card-header>
      <ion-card-title>{{recipe?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHtml]="recipe?.description">
    </ion-card-content> -->
    <ion-item lines="none">
      <ion-label style="color:#E67E22;">{{recipe?.name}}</ion-label>  
    </ion-item>
    <ion-item lines="none" *ngIf="this.ingredients">
      <ion-label style="color:black;">{{'recipe.ingredients' | translate | uppercase}}</ion-label>  
    </ion-item>
    <div *ngFor="let item of this.ingredients">
      <ion-item lines="none">
        <ion-label>- {{item.name | titlecase}} ({{item.quantity}}) </ion-label>  
        <app-info  *ngIf="item?.family" title="{{item.name | titlecase}}" info="{{'recipe.family' | translate}}: {{item?.family[0]?.name}}"></app-info>
       <!--  <ion-icon *ngIf="item?.family" slot="end" size="small" name="chevron-forward-outline"></ion-icon>  -->
      </ion-item>
    </div>

    <div style="padding: 15px;">
      <span *ngIf="recipe?.description" [innerHTML]="recipe?.description"></span>
    </div>

  </ion-card>
</ion-content>
