<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'profile.configuration.bluetooth'  | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="full-width">
    <ion-button expand="full" color="secondary" (click)="this.scan()">{{ 'profile.configuration.bluetooth_search'  | translate}}</ion-button>
  </section>



  <ion-list>
    <ion-item *ngFor="let device of this.devices" (click)="this.connect(device)" detail>
      <ion-label>
        <h2>Name: {{device?.name || '- -'}}</h2>
        <h3>ID: {{device?.id}}</h3>
        <p>RSSI: {{device.rssi}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
</ion-content>
