<ion-header>
  <!-- <ion-toolbar> -->

  <ion-toolbar mode="ios">
    <ion-title class="toolbarTitle">{{ "exercices.header" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spin">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-row style="margin-top: 5%; margin-bottom: 5%">
    <ion-text class="txtTitleBlueDark">{{ exercise?.name }}</ion-text>
  </ion-row>

  <ion-card class="cardProfile" *ngIf="exercise">
    <img class="imagefit" *ngIf="exercise?.cover" [src]="exercise?.cover" />
    <ion-item lines="none" *ngIf="exercise?.description" padding>
      <p [innerHTML]="exercise.description | safeHtml"></p>
    </ion-item>
  </ion-card>

  <!--<ion-card class="cardProfile" *ngIf="exercise?.source" class="contentSource">
    <ion-row *ngIf="exercise?.source" style="margin: 5% 5% 0 5%">
      <ion-text class="contentSourceTitle"
        ><b>{{ "advices.source" | translate }}: </b>&nbsp;</ion-text
      >
    </ion-row>
    <ion-row *ngIf="exercise?.source" style="margin: 0 5%">
      <div [innerHtml]="exercise?.source | safeHtml"></div>
    </ion-row>
  </ion-card>-->
</ion-content>
