<ion-header>
  <!-- <ion-toolbar> -->

  <ion-toolbar mode="ios">
    <ion-title class="toolbarTitle">{{ "exercices.header" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="spin">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-card class="cardProfile" *ngIf="exercise">
    <img class="imagefit" *ngIf="exercise?.cover" [src]="exercise?.cover" />

    <ion-card-header>
      <ion-card-subtitle>
        <ion-text *ngIf="exercise?.name" class="title-card">
          {{exercise?.name}} </ion-text>
      </ion-card-subtitle>
  
  
     
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none" *ngIf="exercise?.description" padding>
        <p [innerHTML]="exercise.description | safeHtml"></p>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>
