<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cancelar"></ion-back-button>
    </ion-buttons>
    <ion-title>Filtro</ion-title>
    <ion-buttons slot="end" >
    <ion-button color="primary">Aplicar</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item lines="none">
        <ion-label>Desde</ion-label>
        <ion-select placeholder="Selecciona uno">
          <ion-select-option>dia</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item lines="none">
        <ion-label>Hasta</ion-label>
        <ion-select placeholder="Selecciona uno">
          <ion-select-option>dia</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
