<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button (click)="close()" text="" icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'documents_filter.header' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button  color="primary"
       (click)="submit()">
       <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar 
  [animated]="true" 
  (ionInput)="filterList($event)" 
  placeholder="{{ 'Busca tu prueba' | translate}}">
</ion-searchbar> -->

<div class="spin" *ngIf="this.isLoading">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

  <form (ngSubmit)="submit()" [formGroup]="form"> 
  <ion-item lines="none">
    <ion-text class="txtTitleNoMargin">{{ 'documents_add.field_date' | translate}}</ion-text>
    <ion-toggle slot="end" color="success" (ionChange)='(toggle = ! toggle) ? toggle : !toggle;'></ion-toggle>
  </ion-item>
  <ion-card class="cardProfile" *ngIf="toggle">
    <ion-list>
      <ion-item>
        <ion-label>{{ 'documents_filter.from' | translate}}</ion-label>
        <ion-datetime (ionChange)="changeFormatToDate()" formControlName="start_date" displayFormat="DD/MM/YYYY" placeholder=" {{  this.currentDate | date: 'dd/MM/YYYY' }} " min="1990-01-01" [max]="this.currentDate"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ 'documents_filter.until' | translate}}</ion-label>
        <ion-datetime (ionChange)="changeFormatFromDate()" formControlName="end_date" displayFormat="DD/MM/YYYY" placeholder=" {{  this.currentDate | date: 'dd/MM/YYYY' }} " min="1990-01-01" [max]="this.currentDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-item lines="none">
    <ion-text class="txtTitleNoMargin">{{ 'documents_add.field_test_type' | translate}}</ion-text>
    <ion-toggle slot="end" color="success" (ionChange)='(toggle2 = ! toggle2) ? toggle2 : !toggle2;'></ion-toggle>
  </ion-item>
  <ion-card class="cardProfile" *ngIf="toggle2">
    <ion-list *ngFor="let test of listTestType; let i = index">
      <ion-item [lines]="linesNone(i)">
        <ion-label>{{test.name}}</ion-label>
        <ion-checkbox slot="start"  (ionChange)="actionCheckboxTestType($event, test.id)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
</form>
</ion-content>