<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cancelar"></ion-back-button>
    </ion-buttons>
    <ion-title>Filtro</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="submit()">Aplicar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar 
  [animated]="true" 
  (ionInput)="filterList($event)" >
</ion-searchbar>
  <form (ngSubmit)="submit()" [formGroup]="form"> 
  <ion-item lines="none">
    <ion-text class="txtTitleNoMargin">Fecha</ion-text>
    <ion-toggle slot="end" color="success" (ionChange)='(toggle = ! toggle) ? toggle : !toggle;'></ion-toggle>
  </ion-item>
  <ion-card class="cardProfile" *ngIf="toggle">
    <ion-list>
      <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime formControlName="start_date" displayFormat="DD/MM/YY" placeholder=" {{  this.currentDate | date: 'dd/MM/YYYY' }} " min="1990-01-01" [max]="this.currentDate"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Hasta</ion-label>
        <ion-datetime formControlName="end_date" displayFormat="DD/MM/YY" placeholder=" {{  this.currentDate | date: 'dd/MM/YYYY' }} " min="1990-01-01" [max]="this.currentDate"></ion-datetime>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-item lines="none">
    <ion-text class="txtTitleNoMargin">Tipo de prueba</ion-text>
    <ion-toggle slot="end" color="success" (ionChange)='(toggle2 = ! toggle2) ? toggle2 : !toggle2;'></ion-toggle>
  </ion-item>
  <ion-card class="cardProfile" *ngIf="toggle2">
    <ion-list *ngFor="let test of listTestType; let i = index">
      <ion-item [lines]="linesNone(i)">
        <ion-label>{{test.name}}</ion-label>
        <ion-checkbox slot="start"  (ionChange)="actionCheckboxTestType($event, test)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
</form>
</ion-content>