<ion-header>
  <ion-toolbar>
    <ion-title>Condiciones de uso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main-container">
    <p align="center">
      <strong>PRIVACIDAD Y TRATAMIENTO DE LA INFORMACIÓN Doole Health</strong>
  </p>
  <p>
      <em>
          La App de Doole Health es una aplicación que facilita la comunicación entre usuarios y
          profesionales sanitarios así como determinadas actividades sanitarias y
          de atención social. Su objetivo es sustituir aquellas actividades o
          acciones presenciales susceptibles de realizarse a distancia para su
          mayor comodidad, mejora de la atención prestada, disminución de
          desplazamientos -y contaminación asociada- y optimización de los
          recursos disponibles.
      </em>
  </p>
  <p>
      <em> </em>
  </p>
  <p>
      <em>
          Al utilizarla, usted está dando su consentimiento para que los
          profesionales sanitarios o sociosanitarios se comuniquen con usted por
          este medio a través de mensajería segura, videoconferencia u otros
          sistemas de comunicación o almacenaje de información.
      </em>
  </p>
  <p>
      <em> </em>
  </p>
  <p>
      <em>
          Estos sistemas no evitan que usted en cualquier momento pueda utilizar
          los canales de atención convencionales (presencia física, comunicación
          telefónica, etc). De hecho, si por cualquier motivo usted no recibe una
          respuesta adecuada a través de +Apropp, deberá recurrir a estos canales
          convencionales.
      </em>
  </p>
  <p>
      <em> </em>
  </p>
  <p>
      <em>
          La App de Doole Health es pues una herramienta que quiere hacerle la vida más fácil pero
          como el tipo de información y datos con los que trabaja son de alta
          confidencialidad (aspecto que nos tomamos como de máxima importancia)
          queremos detallarle los aspectos legales de esta relación.
      </em>
  </p>
  <p>
      <strong>1.- DERECHO DE INFORMACIÓN</strong>
  </p>
  <p>
      De acuerdo con lo dispuesto en el artículo 11 de la Ley Orgánica 3/2018, de
      5 de diciembre, de Protección de Datos Personales y garantía de los
      derechos digitales (en adelante LOPDGDD) y el artículo 13 del Reglamento
      General de Protección de datos 2016/679 le informamos de:
  </p>
  <p>
      <strong>1.1.- Identificación de responsables:</strong>
  </p>
  <p>
      El responsable del tratamiento es la Fundación FLS de Lucha contra el Sida,
      las enfermedades infecciosas y la promoción de la salud y la ciencia, con
      domicilio en Badalona (08916), Ctra. de Canyet s / n - Hosp. Univ. Germans
  Trias i Pujol, 2ª planta Maternal, teléfono: (+34) 934 657 897    <strong></strong>
  </p>
  <p>
      El delegado de protección de datos es CIPDI Tratamiento de la Infomación SL
  Puede contactar con el delegado al correo electrónico    <a href="mailto:lopd@flsida.org">lopd@flsida.org</a>
  </p>
  <p>
      <strong>1.2.- Finalidades de tratamiento y base jurídica</strong>
  </p>
  <p>
      <strong>1.2.1.- Finalidad general.</strong>
  </p>
  <p>
      Los datos que nos facilite mediante esta aplicación, los que nos envíe a
      nuestra dirección de correo electrónico y los que se puedan generar
      mientras mantenga relación con el responsable del tratamiento se
      incorporarán, <em>tal como nos las ceda</em>, a una base de datos
      titularidad del responsable del tratamiento.
      <em>
          Para poder utilizar la aplicación puede ser necesario ponerla en
          contacto en su nombre con los datos de su proveedor de servicios de
          salud o socio-sanitarios. Al aceptar estas cláusulas usted autoriza
          este tratamiento de datos.
      </em>
  </p>
  <p>
      <em>Sólo utilizaremos los datos para prestarle los servicios</em>
      que nos solicite y para enviar información de nuestras actividades por
      correo electrónico o dirección postal.
  </p>
  <p>
      La base jurídica de este tratamiento será la relación contractual que
      mantenga con el responsable del tratamiento y el consentimiento que otorga
      al aceptar este aviso.
  </p>
  <p>
      <strong>1.2.2.- Tratamiento de imágenes</strong>
  </p>
  <p>
      Desde la propia aplicación usted puede personalizar su perfil de usuario y
      puede subir a su perfil fotografías de sus pruebas o informes.
  </p>
  <p>
      El tratamiento de estas imágenes está legitimado con el consentimiento de
      los afectados o en aplicación del artículo 8 de la LO 1/1982 de protección
      del derecho al honor, la intimidad y la propia imagen
  </p>
  <p>
      <strong>1.3.- Categorías de destinatarios</strong>
      .
  </p>
  <p>
      Para dar cumplimiento a las anteriores finalidades tendrán acceso a sus
      datos:
  </p>
  <p>
      ● El personal debidamente autorizado por la dirección del responsable del
      tratamiento
  </p>
  <p>
  ● Los proveedores necesarios para dar cumplimiento a su demanda.    <em>La Fundación</em> ha firmado contratos de confidencialidad con todos
      estos proveedores y, en especial, con aquellos que se dedican al
      alojamiento de datos.
  </p>
  <p>
      ● La administración pública en el ámbito de sus competencias.
  </p>
  <p>
      Puede ampliar esta información consultando al DPO
  </p>
  <p>
      <strong>1.4.- Transferencia internacional de datos</strong>
  </p>
  <p>
      Para desarrollar sus funciones el responsable del tratamiento no cede, ni
      deposita datos fuera de la Unión Europea.
  </p>
  <p>
      <strong>1.5.- Plazo de conservación de la información.</strong>
  </p>
  <p>
      El responsable del tratamiento conservará su información mientras no
      revoque el consentimiento otorgado en aceptar esta cláusula.
  </p>
  <p>
      <strong>1.6.- Derechos como afectado</strong>
  </p>
  <p>
      Tiene derecho a acceder, rectificar, suprimir, oponerse a que sus datos se
      traten, a limitar el tratamiento, a pedir la portabilidad de los datos, a
      no ser sometido a decisiones individuales automatizadas y a revocar el
      consentimiento que otorga.
  </p>
  <p>
      Para ejercer estos derechos puede dirigirse por escrito a las direcciones
      del responsable del tratamiento que constan en este aviso legal.
  </p>
  <p>
      <strong> 1.7.- Derecho de reclamación.</strong>
  </p>
  <p>
      El organismo competente para conocer de la correcta aplicación de las
      normas sobre tratamiento de la información es la Autoridad de Protección de
      Datos, con domicilio en la Calle Jorge Juan n. 6 de Madrid.
  </p>
  <p>
      <strong>1.8.- Obligaciones del afectado.</strong>
  </p>
  <p>
      El afectado debe aportar información veraz y actualizada en todos los
      procesos de recogida de datos, siendo él el único responsable de la
      vulneración de esta obligación.
      <em>
          Además debe considerar que aquellos datos que aporte en nombre propio
          relacionados con su salud o situación sociosanitaria pueden tener
          implicaciones en las decisiones del profesional que las reciba por lo
          que la equivocación o engaño serán responsabilidad del usuario.
      </em>
  </p>
  <p>
      En los formularios de recogida de datos están marcados los datos que son
      obligatorios aportar, en función de la demanda que haga el afectado. La
      falta de la aportación de estos datos puede suponer la imposibilidad de
      participar de la actividad o proporcionar el servicio que se solicita.
  </p>
  <p>
      <strong>1.9.- Elaboración de perfiles</strong>
  </p>
  <p>
      Para el cumplimiento de los objetivos del responsable del tratamiento y,
      sobre todo, para hacer una atención más personalizada, cuidadosa y eficaz
      del usuario, a veces, es necesario elaborar perfiles de los destinatarios
  de los servicios. En ningún caso, la elaboración del perfil    <em>se hace de manera exclusivamente automatizada.</em>
  </p>
  <p>
      <strong>2. CONSENTIMIENTO DEL USUARIO</strong>
  </p>
  <p>
      Se entiende que el usuario acepta las condiciones establecidas
      <em>
          si pulsa el botón 'ACEPTAR' que se encuentra en todos los formularios
          de recogida de datos, o si envía un mensaje por cualquiera de los
          sistemas de comunicación existentes en la propia App o por correo
          electrónico.
      </em>
  </p>
  <p>
      <strong> </strong>
  </p>
  <p>
      <strong>3. SEGURIDAD</strong>
      <em></em>
  </p>
  <p>
      <em>
          Los datos personales se guardan en la base de datos general de
          administración de la Fundación que, en todo caso, garantiza las medidas
          técnicas y organizativas para preservar la integridad y la seguridad de
          la información que trata.
      </em>
  </p>
  <p>
      <strong> </strong>
  </p>
  <ion-item lines="none">
  <ion-checkbox color="primary"></ion-checkbox>
  <ion-label>He leído y acepto las condiciones</ion-label>
</ion-item>
  <ion-button type="button" color="primary" expand="block" class="enter-btn" routerLink="legal" [disabled]="">
   Continuar
</ion-button>
  </div>
</ion-content>
