<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'faqs.button_perfil' | translate}}" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'faqs.header_faqs' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(this.faq !== undefined && this.faq !== null ); else noData">
    <div [innerHtml]="this.faq"></div>
  </div>
  <ng-template #noData>
    <ion-label *ngIf="!this.isLoading"> {{ "no_data"| translate}} </ion-label>
  </ng-template>
</ion-content>
