.txtTitleTrackingLittle{
    font-size: 12px;
    font-weight: 400;
    color: #7f8c8d;
  }
  .textMediumLeft {
    text-align: left;
    color: #7f8c8d!important;
  }

  #container * {
    margin: 0;
    padding: 0;
  }

  #container {
    width: 100%;
  padding: 10px;
  }
  .titule {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #left,
  #middle,
  #right {
    display: inline-block;

    zoom: 1;
    vertical-align: top;
  }
  #left {
    width: 10%;
  }
  #middle {

    width: 75%;
  }
  #right {
    width: 10%;
  }