#container * {
    margin: 0;
    padding: 0;
  }
  #container {
    width: 100%;

  }
  #left,
  #middle,
  #right {
    display: inline-block;

    zoom: 1;
    vertical-align: top;
  }
  #left {
    width: 10%;
  }
  #middle {
    vertical-align: bottom;
    width: 80%;
  }
  #right {
    vertical-align: bottom;
    width: 10%;
  }

  section {
    margin: 10em;
  }

  ion-spinner {
    position: fixed;
    z-index: 999;
    height: 5em;
    width: em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  ion-label {
    --color: var(--default-text) !important;
  }
  ion-card{
    box-shadow: none !important;
  }
  
  .typography{
    font-family: 'Poppins-Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  
  }

  .textMedium {
    text-align: right;
    color: #7f8c8d;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
  }