<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{diagnosticTestType.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  fullscreen>

  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-row>
    <ion-text class="txtTitle2">{{ 'documents.subtitle_information' | translate}}</ion-text>
  </ion-row>
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item *ngIf="diagnosticTest.title !== null">
        <ion-label>{{ 'documents_add.field_title' | translate}}</ion-label>
        <ion-label class="textMedium">{{diagnosticTest.title}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ 'documents_add.field_date' | translate}}</ion-label>
        <ion-label *ngIf="diagnosticTest !== undefined" class="textMedium">{{diagnosticTest.data | date: 'dd MMM yyy'}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="cardProfile">
    <ion-list>
      <!-- <ion-item>
        <ion-label>{{ 'documents_add.field_description' | translate}}</ion-label>
        <ion-label class="textMedium">{{diagnosticTest?.description}}</ion-label>
      </ion-item>
      <ion-item >
        <ion-label>{{ 'documents_add.field_diagnostic' | translate}}</ion-label>
        <ion-label class="textMedium">{{diagnosticTest?.diagnostic}}</ion-label>
      </ion-item> -->

      <!-- description and diagnostic accordion start here-->

      <div (click)="expandItem(item)" *ngFor="let item of items| slice:0:1; let i = index" [attr.data-index]="i"
        class="cardProfile">

        <ion-item *ngIf="item.expanded" lines="none">
          <ion-label>{{ 'documents_add.field_description' | translate}}</ion-label>
          <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
        </ion-item>
        <ion-item *ngIf="!item.expanded" lines="none">
          <ion-label>{{ 'documents_add.field_description' | translate}}</ion-label>
          <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
        </ion-item>

        <!-- ACORDION -->
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <ion-item>
            <ion-label class="textMedium">{{diagnosticTest?.description}}</ion-label>
          </ion-item>
        </app-expandable>

        <ion-item *ngIf="item.expanded" lines="none">
          <ion-label>{{ 'documents_add.field_diagnostic' | translate}}</ion-label>
          <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
        </ion-item>
        <ion-item *ngIf="!item.expanded" lines="none">
          <ion-label>{{ 'documents_add.field_diagnostic' | translate}}</ion-label>
          <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
        </ion-item>

        <!-- ACORDION -->
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <ion-item>
            <ion-label class="textMedium">{{diagnosticTest?.diagnostic}}</ion-label>
          </ion-item>
        </app-expandable>
      </div>
      <ion-item *ngIf="diagnosticTest?.center_id">
        <ion-label>{{ 'documents_add.field_center' | translate}}</ion-label>
        <ion-label class="textMedium">{{'diagnosticTestType.center_id'}}</ion-label>
      </ion-item>
      <ion-item *ngIf="diagnosticTest?.specialty_id">
        <ion-label>{{ 'documents_add.field_specially' | translate}}</ion-label>
        <ion-label class="textMedium">{{'diagnosticTest.specialty_id'}}</ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="diagnosticTest?.idDoctor">
        <ion-label>{{ 'documents_add.field_prfesional' | translate}}</ion-label>
        <ion-label class="textMedium">{{'diagnosticTest.idDoctor'}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>


  <!-- <ion-text class="txtTitle">{{ 'documents.subtitle_detail' | translate}}</ion-text> -->
  <ion-card (click)="expandItem(item)" *ngFor="let item of items" class="cardProfile">
    <div *ngIf="item.elements.elements.length > 0 ">
      <ion-item *ngIf="item.expanded" lines="none">
        <ion-label>{{item.elements.group}}</ion-label>
        <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item *ngIf="!item.expanded" lines="none">
        <ion-label>{{item.elements.group}}</ion-label>
        <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
      </ion-item>

      <!-- ACORDION -->
      <app-expandable expandHeight="100px" [expanded]="item.expanded">
        <ion-list *ngFor="let e of item.elements.elements">
          <ion-item>
            <ion-label>{{e.name}}</ion-label>
            <p class="txtTitleTrackingLittle">{{e.value}}{{e.units}}</p>
            <ion-text slot="end">
              <p class="txtTitleTrackingLittle">{{e.date | date: 'dd/mm/yy'}}</p>
            </ion-text>
          </ion-item>
        </ion-list>
      </app-expandable>
    </div>
  </ion-card>


  <ion-text *ngIf="this.mediaFiles && this.mediaFiles.length > 0" class="txtTitle">{{ 'documents_add.attachments' |
    translate}}</ion-text>
  <ion-row class="files-row">
    <ion-col class="file-item" style="padding-right: 4px;" *ngFor="let m of mediaFiles">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="file-picture"
          [src]="m.file_name.split('.').pop() == 'pdf'? 'assets/icons/pdf-thumbnail.svg' : m.temporaryUrl"
          (click)="openFile(m)"></app-image-shell>
      </app-aspect-ratio>
      <span class="file-name">
      </span>
    </ion-col>
  </ion-row>

</ion-content>