<ion-header>
  <ion-toolbar mode="ios">
   <!--  <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons> -->
    <ion-title class="toolbarTitle">{{ 'contact.header' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-tab-button style="margin-top: 1%; padding: 0%;" routerLink="/profile" mode="ios">
        <ion-icon class="icon-menu" style="margin-left: -5px;" src="../../assets/icons/menu.svg"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row style="background-color: var(--secondary-bkg); padding-top: 3%;">
    <ion-col size="0.5"></ion-col>
    <ion-col size="11" style="display: flex; justify-content: center;">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment" scrollable>

        <ion-segment-button *ngIf="role?.component?.chat" value="chat">
          <ion-label>{{ 'contact.tap_chat' | translate}}</ion-label>
        </ion-segment-button>

        <ion-segment-button *ngIf="role?.component?.agenda" value="medical-visits">
          <ion-label>{{ 'contact.tap_medical_visits' | translate}}</ion-label>
        </ion-segment-button>

        <ion-segment-button *ngIf="role?.component?.agenda" value="my-centers">
          <ion-label>{{ 'contact.tap_my_centers' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col size="0.5"></ion-col>

    <ion-row style="width: 100%;">
      <ion-col size="12">
        <app-caregiver></app-caregiver>
      </ion-col>
    </ion-row>
   
  </ion-row>



  <div class="verticalLine2" [ngSwitch]="segment">



    <div *ngSwitchCase="'my-centers'" style="margin-bottom: 20%;">
      <ng-container *ngIf="this.isLoading; else myCenters">
        <div class="spin">
         <ion-spinner ></ion-spinner>
        </div>
      </ng-container>

      <ng-template #myCenters>

        <ng-container *ngIf="this.permissionService.canSeeCenters && this.departments?.length > 0; else noData ">
          <div *ngFor="let slide of this.departments" class="ion-margin">
            <ion-card class="customCardAppointment">
              <ion-card-content>
                <ion-grid>
                  <ion-row class="alingLeft zeroMarginPadding">
                    <ion-col size="2.5" class="alingLeft zeroMarginPadding" style="display: flex; align-items: center;">
                      <ion-img src="assets/icons/medicalCenter.svg"></ion-img>
                    </ion-col>
                    <ion-col size="9.5" style="padding-top: 3%;">

                      <ion-row>
                        <ion-text class="title-center ion-margin-start">
                          {{slide.name | titlecase }}
                        </ion-text>
                      </ion-row>
                     

                      <ng-container *ngIf="slide?.description">
                        <ion-row>
                          <ion-text [innerHtml]="slide?.description">
                            {{slide?.description | titlecase }}
                          </ion-text>
                        </ion-row>
                      </ng-container>
                     
                      
                      <ng-container *ngIf="slide.specialties.length > 0">
                          <ng-container *ngFor="let item of slide.specialties">
                            <ion-row>
                              <ion-text class="center-name ion-margin-start">
                                {{item.name | titlecase }}
                              </ion-text>
                            </ion-row>
                        </ng-container>
                      </ng-container>
                      


                      <ng-container *ngIf="slide?.phone">
                        <ion-row>
                          <ion-text class="phone-txt ion-margin-start">
                            {{slide.phone}}
                          </ion-text>
                        </ion-row>
                       
                      </ng-container>
                    

  
                    </ion-col>
                  </ion-row>

                  <ion-row class="alingLeft zeroMarginPadding" *ngIf="slide?.phone">
                    <ion-col size="2.5" class="alingLeft zeroMarginPadding" style="display: flex; align-items: center;">
                      
                    </ion-col>

                    <ion-col size="3.5" style="display: flex; align-items: center;" >
                      <div *ngIf="slide?.website">
                        <a class="a-type1" [href]="sanitizeUrl(slide?.website)">
                          <b> {{'health_path.see_more' | translate }}! </b> </a>
                      </div>
                     
                    </ion-col>

                    <ion-col size="6"
                      style="display: flex; flex-direction: column; justify-content: space-between; padding: unset">
                      <div style="align-self: flex-end;">
                       
                      </div>
                    </ion-col>
                  </ion-row>






                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </ng-container>

        <ion-button mode="ios" color="warning" class="ion-padding" (click)="emergencyCall()" expand="block" shape="round">
          {{'detail_contact.emergencyCall' | translate }}
          <ion-icon style="padding-left: 2%;" src="../../assets/icons/phone_emergency.svg"></ion-icon>
        </ion-button>

        <ng-template #noData>
          <div *ngIf=" !this.isLoading">
            <app-no-data></app-no-data>
          </div>
        </ng-template>
      </ng-template>
    </div>


    <div *ngSwitchCase="'medical-visits'" style="margin-bottom: 20%;">
      <ng-container *ngIf="this.isLoading; else medicalVisits">
        <div class="spin">
         <ion-spinner ></ion-spinner>
        </div>
      </ng-container>

      <ng-template #medicalVisits>

        <ng-container *ngIf="this.permissionService.canViewEvents && this.appointment?.length > 0 && !checkAppointmentsNoStaff(); else noData ">
          <div *ngFor="let slide of this.appointment" class="ion-margin">
            <ion-card class="customCardAppointment" *ngIf="slide.staff.length > 0">
              <ion-card-content routerLink="/agenda/reminder/detail" routerLinkActive="active-item"
                [state]="{ event: slide}">
                <ion-grid>
                  <ion-row class="alingLeft zeroMarginPadding">
                    <ion-col size="2.5" class="alingLeft zeroMarginPadding" style="display: flex; align-items: center;">
                      <ion-img src="assets/icons/agenda_new.svg"></ion-img>
                    </ion-col>
                    <ion-col size="9.5" class="alingLeft zeroMarginPadding" style="padding-top: 3%;">
                      <ion-text class="date-txt ion-margin-start">

                        {{ formatSelectedDate(slide.start_date_iso8601) | titlecase
                        }}
                      </ion-text>
                      <br>
                      <ion-text class="date-txt ion-margin-start">
                        {{slide.title}}
                      </ion-text>
                      <br>

                      <ng-container *ngIf="slide?.staff.length > 0; else noProfesional">
                        <div *ngFor="let doctor of slide.staff;">
                          <ion-text class="staff-txt ion-margin-start">
                            {{doctor.name}} - <b>{{ 'appointment.field_specially' | translate }}</b>
                          </ion-text>
                          <br>
                        </div>
                      </ng-container>

                      <ng-template #noProfesional>
                        <ion-text class="staff-txt ion-margin-start">
                          <b>{{ 'appointment.no_field_specially' | translate }}</b>
                        </ion-text>
                      </ng-template>

                      <ion-row>
                        <a class="see-more-appointment">{{ 'health_path.see_more' | translate}}!</a>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </ng-container>

        <ng-template #noData>
          <div *ngIf=" !this.isLoading">
            <app-no-data></app-no-data>
          </div>
        </ng-template>

      </ng-template>
    </div>

    <!-- Chat -->

    <div *ngSwitchCase="'chat'" style="margin-bottom: 20%;">

      <ng-container *ngIf="this.isLoading; else chat">
        <div class="spin">
         <ion-spinner ></ion-spinner>
        </div>

      </ng-container>

      <ng-template #chat>
        <ion-list lines="full" *ngIf="this.permissionService.canManageMessages && this.data && this.data?.length > 0; else noData">
          <div *ngFor="let post of this.data; let i = index">

            <span *ngIf="post?.recipients?.length == 1">
              <div *ngFor="let item of post?.recipients; let i = index">

                <ion-item *ngIf="item.id == this.authService?.user.idUser" lines="full" mode="ios"
                  routerLink="conversation" [state]="{staff:item, chat: post.message?.message_header_id }"
                  routerLinkActive='active-item'>
                  <ion-thumbnail slot="start">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <app-image-shell animation="spinner" [src]="item?.image" [alt]="'Sample Image'"
                        class="img-wrapper-doctors"></app-image-shell>
                    </app-aspect-ratio>
                  </ion-thumbnail>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="strech" size=7.0 class="user-name">
                        <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell>
                      </ion-col>
                      <ion-col class="strech" size=5
                        style="display: flex; justify-content: end; align-items: center;">
                        <ion-text class="txt-updated" *ngIf="post?.message?.updated_at">
                          {{ formatDate(post?.message?.updated_at) }}</ion-text>

                        <ion-icon style="padding-left: 5%; font-size: 20px;"
                          src="assets/icons/challenge_card_btn.svg"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <p class="strech txtTitleGoals">{{ showMessage(post?.message)}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

              </div>
            </span>

            <span *ngIf="post?.recipients?.length == 2">
              <div *ngFor="let item of post?.recipients; let i = index">
                <ion-item *ngIf="item.id != this.authService?.user.idUser" lines="full" mode="md"
                  [routerLink]="['/contact/chat/conversation']"
                  [state]="{staff:item, chat: post.message?.message_header_id }" routerLinkActive='active-item'>

                  <ion-thumbnail slot="start">
                    <app-aspect-ratio [ratio]="{w:1, h:1}">
                      <app-image-shell animation="spinner" [src]="item?.image" [alt]="'Sample Image'"
                        class="img-wrapper-doctors"></app-image-shell>
                    </app-aspect-ratio>
                  </ion-thumbnail>

                  <ion-grid>
                    <ion-row>
                      <ion-col class="strech" size=7 class="user-name">
                        <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell>
                      </ion-col>
                      <ion-col class="strech" size=5
                        style="display: flex; justify-content: end; align-items: center;">
                        <ion-text class="txt-updated" *ngIf="post?.message?.updated_at">
                          {{ formatDate(post?.message?.updated_at) }}</ion-text>

                        <ion-icon style="padding-left: 5%; font-size: 20px;"
                          src="assets/icons/challenge_card_btn.svg"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col style="padding-top: 0px;">
                        <ion-text class="txt-message">{{ showMessage(post?.message)}}</ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                </ion-item>
              </div>
            </span>

            <span *ngIf="post?.recipients?.length >= 3">
              <div *ngFor="let item of post?.recipients; let i = index">
                <span *ngIf="i === (post?.recipients?.length - 1)">
                  <ion-item *ngIf="item.id != this.authService?.user.idUser" lines="full" md="ios"
                    routerLink="conversation" [state]="{staff:item, chat: post.message?.message_header_id }"
                    routerLinkActive='active-item'>
                    <ion-thumbnail slot="start">
                      <app-aspect-ratio [ratio]="{w:1, h:1}">
                        <app-image-shell animation="spinner" src="assets/images/group.png" [alt]="'Sample Image'"
                          class="img-wrapper-doctors"></app-image-shell>
                      </app-aspect-ratio>
                    </ion-thumbnail>
                    <ion-grid>
                      <ion-row>
                        <ion-col class="strech" size=5.8 class="user-name" style="display: flex; align-items: center;">
                          <app-text-shell class="user-name" [data]="item?.name" animation="bouncing"></app-text-shell>
                        </ion-col>
                        <ion-col class="strech" size=1 class="user-name" style="display: flex; align-items: center;">
                          +</ion-col>
                        <ion-col class="strech" size=1 class="user-name" style="display: flex; align-items: center;">
                          <app-text-shell class="user-name" *ngIf="post?.recipients?.length >= 3"
                            [data]="post?.recipients?.length-1"></app-text-shell>
                        </ion-col>
                        <ion-col class="strech" size=4.2
                          style="display: flex; justify-content: end; align-items: center;">
                          <ion-text class="txt-updated" *ngIf="post?.message?.updated_at">
                            {{ formatDate(post?.message?.updated_at) }}</ion-text>
                          <ion-icon style="padding-left: 5%; font-size: 20px;"
                            src="assets/icons/challenge_card_btn.svg"></ion-icon>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-text class="txt-message">{{ showMessage(post?.message)}}</ion-text>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </span>
              </div>
            </span>
          </div>
        </ion-list>


        <ng-template #noData>
          <div *ngIf=" !this.isLoading">
            <app-no-data></app-no-data>
          </div>
        </ng-template>

      </ng-template>
    </div>


    <!-- videocall-->
    <div *ngSwitchCase="'video'" style="margin-bottom: 20%;">
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-img src='assets/icons/Video.svg' class="img-wrapper"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3 style="text-align: center;">{{ 'contact.tap_video' | translate}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="txtContactLittle">{{ 'contact.text_video' | translate}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-card class="cardProfile">
            <ion-item lines="none" (click)="goMedicalDirectory(true)">
              <div class="verticalLine"></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-img style="align-items: left;" src='assets/icons/corazon.svg' style="width: 50%;padding: 3%;">
                    </ion-img>
                  </ion-col>
                  <ion-col size="10">
                    <ion-card-title class="txtTitleGoals">{{ 'contact.regular_professional' |
                      translate}}</ion-card-title>
                    <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-col size="12">
                  <ion-card-title class="txtTitleTrackingLittle">{{ 'contact.text_regular_professional' |
                    translate}}</ion-card-title>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title class="textBlue">
                    {{ 'button.continue' | translate}}</ion-card-title>
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-card>
          <ion-card class="cardProfile">
            <ion-item lines="none" routerLink="specialist-finder" routerLinkActive='active-item'>
              <div class="verticalLine"></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-img style="align-items: left;" src='assets/icons/others.svg' style="width: 50%;padding: 3%;">
                    </ion-img>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-title class="txtTitleGoals">{{ 'contact.other_specialists' | translate}}</ion-card-title>
                    <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-col size="12">
                  <ion-card-title class="txtTitleTrackingLittle">{{ 'contact.text_other_specialists' |
                    translate}}</ion-card-title>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title class="textBlue">
                    {{ 'button.continue' | translate}}</ion-card-title>
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-list>
    </div>

    <!-- Appointment -->
    <div *ngSwitchCase="'appointment'" style="margin-bottom: 20%;">
      
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-img src='assets/icons/Cita.svg' class="img-wrapper"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3 style="text-align: center;">{{ 'contact.tap_appointment' | translate}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="txtContactLittle">{{ 'contact.text_appointment_in_person' | translate}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-card class="cardProfile">
            <ion-item lines="none" (click)="goMedicalDirectory(false)">
              <div class="verticalLine"></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-img style="align-items: left;" src='assets/icons/corazon.svg' style="width: 50%;padding: 3%;">
                    </ion-img>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-title class="txtTitleGoals">{{ 'contact.regular_professional' |
                      translate}}</ion-card-title>
                    <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-col size="12">
                  <ion-card-title class="txtTitleTrackingLittle">{{ 'contact.text_appointment_regular_professional' |
                    translate}}</ion-card-title>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title class="textBlue">
                    {{ 'button.continue' | translate}}</ion-card-title>
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-card>
          <ion-card class="cardProfile">
            <ion-item lines="none" routerLink="specialist-finder" routerLinkActive='active-item'>
              <div class="verticalLine"></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-img style="align-items: left;" src='assets/icons/others.svg' style="width: 50%;padding: 3%;">
                    </ion-img>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-title class="txtTitleGoals">{{ 'contact.other_specialists' | translate}}</ion-card-title>
                    <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
                  </ion-col>
                </ion-row>
                <ion-col size="12">
                  <ion-card-title class="txtTitleTrackingLittle">{{ 'contact.text_appointment_other_specialists' |
                    translate}}</ion-card-title>
                </ion-col>
                <ion-col size="12">
                  <ion-card-title class="textBlue">
                    {{ 'button.continue' | translate}}</ion-card-title>
                </ion-col>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>

  <div *ngIf="this.permissionService.canManageMessages && this.segment === 'chat'" style="background-color: var(--default-bkg);"
    style="display: flex; justify-content: center;">
    <ion-button routerLink="medical-directory" [state]="{isChat:true}" routerLinkActive='active-item' color="primary"
      shape="round" class="floating-button ion-margin">
      <ion-text class="floatButton">{{'contact.new_message' | translate}}</ion-text>
      <ion-icon style="padding-left: 2%;" src="../../assets/icons/message.svg"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="this.permissionService.canManageEvents && this.segment === 'medical-visits'" style="background-color: var(--default-bkg);"
    style="display: flex; justify-content: center;">

    <ion-button (click)="requestVisit()" color="primary" shape="round" class="floating-button ion-margin">
      <ion-text class="floatButton">{{'contact.new_visit' | translate}}</ion-text> 
      <ion-icon style="padding-left: 2%;" src="../../assets/icons/new_visit.svg"></ion-icon>
    </ion-button>
  </div>
    <app-tabs></app-tabs>
</ion-footer>