ion-segment {
    margin-top: 2%;
    width: 100%;
    border-radius: 10px;
    background: var(--secondary-bkg);
    ion-label {
      text-transform: none;
    }
  }
  
  ion-segment-button {
    height: fit-content;
    font-size: 16px;
    text-transform: none;
    --color-checked: var(--ion-color-primary) !important;
    --background-checked: transparent !important;
    --indicator-color: transparent !important;
    text-align: center;
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; 
    color: #7F8C8D;
  }
  
  ion-segment-button.segment-button-checked {
    background: #ECDDFE;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
    color: var(--default-text) !important;
      border-top: 0% !important;
    border-left: 0% !important;
    border-right: 0% !important;
    --indicator-color: transparent !important;
  }
  
  ion-segment-button.segment-button-after-checked {
    color: #7F8C8D !important;
  }

  .txt-updated {
    color: var(--default-text);
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  .txt-message {
    color: var(--Label-Light-Secondary, rgba(60, 60, 67, 0.60));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.078px;
  }

  .floating-button {
    width: 90%;
    position: absolute;
    bottom: 100%; 
    --background: transparent; 
    text-transform: none;
    height: 50px !important;
  }
  
  ion-footer {
    position: relative; 
  }

  .customCardAppointment {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
    margin: 0px;
  }

  .hour-txt {
    color: var(--default-text);
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.048px;
  }
  
  .appointment-txt {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.024px;
    padding-left: 0px;
  }
  
  .date-txt {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.035px;

   
  }

  .staff-txt {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03px;

    b {
      font-family: 'Poppins-SemiBold' !important;
      font-weight: 400 !important;
      color:var(--ion-color-primary)
    }
  }


  .see-more-appointment {
    color: var(--seeAllColor);
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.175px;
  }

  .title-center {
    color: var(--games-home-color);
    font-family: "Poppins-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
  }
  
  .center-name {
    color: var(--Dark-text, #3F3F3F);
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03px;
  }

  .phone-txt {
    color: var(--Dar-Grey, #7F8C8D);
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.03px;
  }

  ion-card-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  ion-text {
    margin: 0px
  }

  .sc-ion-input-md-h{

    color: #7F8C8D;
  }

  