<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-wrap>{{'reminder.personal_reminder'| translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button  slot="end" fill="clear" (click)="submit()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- {{(this.isNewEvent)? ('button.add' | translate): ('button.ok' | translate)}} -->

<ion-content fullscreen>
  <form (ngSubmit)="submit()" [formGroup]="form">
  <div class="whiteBackground">
    <ion-card class="cardProfile">
      <ion-list>
        <ion-item>
          <ion-label  stacked>
            <h5 >{{'reminder.field_title' | translate}}</h5>
            <ion-note *ngIf="this.isSubmittedTitle && this.form.get('title').invalid" class="error " color="danger">{{ 'error_required' | translate}}</ion-note>
          </ion-label>
          <ion-input formControlName="title" class="textMedium" required  [placeholder]="this.titlePlaceholder"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label  stacked>
            <h5 >{{'reminder.field_notes' | translate}}</h5>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-textarea formControlName="description" class="textMediumLeft" placeholder="{{'reminder.placeholder_comments' | translate}}"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
  <ion-card class="cardProfile">
    <ion-list>
      
      <ion-item>
        <ion-label  stacked>
          <h5 >{{'reminder.field_start' | translate}}</h5>
          <ion-note *ngIf="this.isSubmittedStartDate && this.form.get('start_date').invalid" class="error " color="danger">{{ 'error_required' | translate}}</ion-note>
        </ion-label>
        <ion-datetime-button slot="end" datetime="start_date"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [locale]="this.locale" presentation="date" id="start_date" [min]="this.date" [max]="dateMax"  (ionChange)="this.isSubmittedStartDate = false"  formControlName="start_date"></ion-datetime>
        </ng-template>
      </ion-modal>
      
      <ion-item>
        <ion-label  stacked>
          <h5 >{{ 'reminder.field_end' | translate}}</h5>
          <ion-note *ngIf="this.isSubmittedDuration && this.form.get('end_date').invalid" (ionInput)="isSubmittedDuration = false"  class="error " color="danger">{{ getErrorEndDate() }}</ion-note>
        </ion-label>
        <ion-datetime-button slot="end" datetime="end_date"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime [locale]="this.locale" presentation="date" id="end_date" (ionChange)="this.isSubmittedDuration = false; checkTreatmentDates()" formControlName="end_date" [min]="this.date" [max]="dateMax"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-label  stacked>
          <h5 >{{ 'reminder.field_time' | translate}}</h5>
          <ion-note *ngIf="this.isSubmittedTimes && this.times.length ==0 " class="error " color="danger">{{ 'error_required' | translate}}</ion-note>
        </ion-label>
        <ion-datetime-button slot="end" datetime="time"></ion-datetime-button>
        <ion-icon slot="end" color="primary" name="add-circle-outline"></ion-icon>
      </ion-item>

      <ion-popover #datetimePopover [keepContentsMounted]="true" side="left" alignment="end">
        <ng-template>
          <ion-datetime mode="ios"  #datetime id="time" hourCycle="h23" [preferWheel]="true"  [locale]="this.locale" presentation="time" displayFormat="HH:mm" (ionChange)="this.isSubmittedTimes = false" formControlName="time"></ion-datetime>
          <ion-buttons slot="buttons">
            <ion-button color="danger" (click)="closeTimeAlert($event);" slot="start">{{'notifications.close' | translate}}</ion-button>
            <ion-button style="width: 50px;"></ion-button>
            <ion-button color="primary" (click)="inputTimes($event);" slot="end">{{'button.add' | translate}}</ion-button>
          </ion-buttons>
        </ng-template>
      </ion-popover>
      <div style="padding: 5px;">
        <ng-container>
          <ion-chip *ngFor="let time of this.times;let i = index">
            <ion-label class="txtTitleGoals">{{ this.dateService.format24h(time)}} </ion-label>
            <ion-icon name="close-circle" color="primary" (click)="removeTime(time)"></ion-icon>
          </ion-chip>
        </ng-container>
      </div>


      <ion-item lines="none">
        <ion-select  label="{{'reminder.field_repeat' | translate}}" class="txtTitleGoals" interface="action-sheet" (ionChange)="this.selectedFrequency()" cancelText="{{'button.cancel' | translate}}" formControlName="frequency"  okText="{{'button.ok' | translate}}">
          <ion-select-option value="daily">{{'reminder.frequency.daily' | translate}}</ion-select-option>
          <ion-select-option value="custom">{{'reminder.frequency.custom' | translate}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card class="cardProfile" *ngIf="this.frequencySeleted === 'custom' ">
    <div>
      <ion-item (click)="expandItem()" class="txtTitleGoals" *ngIf="this.expanded" lines="none">
        <ion-label>{{'reminder.week_day' | translate}}</ion-label>
        <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item (click)="expandItem()" class="txtTitleGoals" *ngIf="!this.expanded"  lines="none">
        <ion-label>{{'reminder.week_day' | translate}}</ion-label>
        <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
      </ion-item>

      <!-- ACORDION -->
      <app-expandable expandHeight="500px" [expanded]="this.expanded">
        <ion-list *ngFor="let e of days;let i= index">
          <ion-item [lines]="(i==6)? 'none':'' ">
            <ion-checkbox labelPlacement="end" color="success" (ionChange)="setDay($event, e, i)"
              [formControlName]=" 'day'+(i+1)">
              <ion-text>
                <p class="txtTitleGoals" style="color: black; font-size: 14px;">{{'reminder.day.day'+(i+1) | translate}}
                </p>
              </ion-text>
            </ion-checkbox>
          </ion-item>
        </ion-list>
      </app-expandable>

    </div>
  </ion-card>

</form>

<section *ngIf="!this.isNewEvent">
  <ion-button class="deleteButton"  expand="block" (click)="presentAlertConfirm()">{{ 'reminder.button_delete' | translate}}</ion-button>
  </section>
</ion-content>