<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-wrap>{{'reminder.personal_reminder'| translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button  slot="end" fill="clear" (click)="submit()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- {{(this.isNewEvent)? ('button.add' | translate): ('button.ok' | translate)}} -->

<ion-content fullscreen>
  <form (ngSubmit)="submit()" [formGroup]="form">
  <div class="whiteBackground">
    <ion-card class="cardProfile">
      <ion-list>
        <ion-item>
          <ion-label>{{'reminder.field_title' | translate}}</ion-label>
          <ion-input formControlName="title" class="textMedium" required></ion-input>
          <ion-note *ngIf="this.isSubmittedTitle && this.form.get('title').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>{{'reminder.field_notes' | translate}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea formControlName="description" class="textMedium" placeholder="{{'reminder.placeholder_comments' | translate}}"></ion-textarea>
        </ion-item>
<!--         <ion-item lines="none">
          <ion-label>{{'Tipo' | translate}}</ion-label>
          <ion-input formControlName="type" class="textMedium"></ion-input>
          <ion-note *ngIf="this.isSubmittedPlace && this.form.get('type').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        </ion-item> -->
      </ion-list>
    </ion-card>
  </div>
  <ion-card class="cardProfile">
    <ion-list>
<!--       <ion-item>
        <ion-label>{{'reminder.field_all_day' | translate}}</ion-label>
        <ion-toggle slot="end" color="success" checked></ion-toggle>
      </ion-item> -->
      <ion-item>
        <ion-label>{{'reminder.field_start' | translate}}</ion-label>
        <ion-datetime displayFormat="D MMM YYYY H:mm" min="1990-01-01" [max]="dateMax" formControlName="start_date" class="textMedium" required></ion-datetime>
        <ion-note *ngIf="this.isSubmittedStartDate && this.form.get('start_date').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label lines="none">{{'reminder.field_end' | translate}}</ion-label>
        <ion-datetime displayFormat="D MMM YYYY H:mm" min="1990-01-01" [max]="dateMax" formControlName="end_date" class="textMedium" required></ion-datetime>
        <ion-note *ngIf="this.isSubmittedDuration && this.form.get('end_date').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{'reminder.field_time' | translate}}</ion-label>
        <ion-datetime display-format="HH:mm A" picker-format="HH:mm A" formControlName="time" required></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label lines="none">{{'reminder.field_repeat' | translate}}</ion-label>
        <ion-select interface="action-sheet" (ionFocus)="isChangedSelect($event)" (ionChange)="this.selectedFrequency($event)" cancelText="{{'button.cancel' | translate}}" formControlName="frequency"  okText="{{'button.ok' | translate}}">
          <ion-select-option value="daily">{{'reminder.frequency.day' | translate}}</ion-select-option>
          <ion-select-option value="1week">{{'reminder.frequency.week1' | translate}}</ion-select-option>
          <ion-select-option value="2week">{{'reminder.frequency.week2'| translate}}</ion-select-option>
          <ion-select-option value="3week">{{'reminder.frequency.week3' | translate}}</ion-select-option>
          <ion-select-option value="1month">{{'reminder.frequency.month1' | translate}}</ion-select-option>
          <ion-select-option value="2month">{{'reminder.frequency.month2'| translate}}</ion-select-option>
          <ion-select-option value="3month">{{'reminder.frequency.month3'| translate}}</ion-select-option>
          <ion-select-option value="3month">{{'reminder.frequency.custom' | translate}}</ion-select-option>
        </ion-select>
        <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
      </ion-item>
    </ion-list>
  </ion-card>
<!--   <ion-card class="cardProfile">
    <ion-item>
      <ion-label lines="none">{{'reminder.field_notice' | translate}}</ion-label>
      <ion-input class="textMedium"></ion-input>
      <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label lines="none">{{'reminder.field_show_as' | translate}}</ion-label>
      <ion-input class="textMedium"></ion-input>
      <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
    </ion-item>
  </ion-card> -->
</form>

<section *ngIf="!this.isNewReminder">
  <ion-button class="deleteButton"  expand="block" (click)="presentAlertConfirm()">{{ 'reminder.button_delete' | translate}}</ion-button>
  </section> 
</ion-content>