<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-wrap>{{'reminder.personal_reminder'| translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button  slot="end" fill="clear" (click)="submit()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- {{(this.isNewEvent)? ('button.add' | translate): ('button.ok' | translate)}} -->

<ion-content fullscreen>
  <form (ngSubmit)="submit()" [formGroup]="form">
  <div class="whiteBackground">
    <ion-card class="cardProfile">
      <ion-list>
        <ion-item>
          <ion-label>{{'reminder.field_title' | translate}}</ion-label>
          <ion-input formControlName="title" class="textMedium" required></ion-input>
          <ion-note *ngIf="this.isSubmittedTitle && this.form.get('title').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>{{'reminder.field_notes' | translate}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea formControlName="description" class="textMedium" placeholder="{{'reminder.placeholder_comments' | translate}}"></ion-textarea>
        </ion-item>
<!--         <ion-item lines="none">
          <ion-label>{{'Tipo' | translate}}</ion-label>
          <ion-input formControlName="type" class="textMedium"></ion-input>
          <ion-note *ngIf="this.isSubmittedPlace && this.form.get('type').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        </ion-item> -->
      </ion-list>
    </ion-card>
  </div>
  <ion-card class="cardProfile">
    <ion-list>
<!--       <ion-item>
        <ion-label>{{'reminder.field_all_day' | translate}}</ion-label>
        <ion-toggle slot="end" color="success" checked></ion-toggle>
      </ion-item> -->
      <ion-item>
        <ion-label>{{'reminder.field_start' | translate}}</ion-label>
        <ion-datetime cancelText="{{'button.cancel' | translate}}" doneText="{{'button.accept' | translate}}" displayFormat="D MMM YYYY H:mm" min="1990-01-01" [max]="dateMax" formControlName="start_date" class="textMedium" required></ion-datetime>
        <ion-note *ngIf="this.isSubmittedStartDate && this.form.get('start_date').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label lines="none">{{'reminder.field_end' | translate}}</ion-label>
        <ion-datetime cancelText="{{'button.cancel' | translate}}" doneText="{{'button.accept' | translate}}" displayFormat="D MMM YYYY H:mm" min="1990-01-01" [max]="dateMax" formControlName="end_date" class="textMedium" required></ion-datetime>
        <ion-note *ngIf="this.isSubmittedDuration && this.form.get('end_date').invalid" (ionInput)="isSubmittedDuration = false"  class="error ion-padding" color="danger" slot="end">{{ getErrorEndDate() }}</ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{'reminder.field_time' | translate}}</ion-label>
        <ion-datetime cancelText="{{'button.cancel' | translate}}" doneText="{{'button.accept' | translate}}" [placeholder]="this.isSubmittedTimes? '': '+' " (ionChange)="inputDate(); this.isSubmittedTimes = false" display-format="HH:mm A" picker-format="HH:mm A" formControlName="time"></ion-datetime>
        <ion-note *ngIf="this.isSubmittedTimes && this.times.length ==0 " class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
      </ion-item>
      <ng-container *ngFor="let time of this.times;let i = index">
        <ion-chip>
          <ion-label class="txtTitleGoals">{{time}} </ion-label>
          <ion-icon name="close-circle" color="primary" (click)="removeTime(time)"></ion-icon>
        </ion-chip>
      </ng-container>
      <ion-item lines="none">
        <ion-label lines="none">{{'reminder.field_repeat' | translate}}</ion-label>
        <ion-select class="txtTitleGoals" interface="action-sheet" (ionChange)="this.selectedFrequency()" cancelText="{{'button.cancel' | translate}}" formControlName="frequency"  okText="{{'button.ok' | translate}}">
          <ion-select-option value="daily">{{'reminder.frequency.daily' | translate}}</ion-select-option>
          <ion-select-option value="custom">{{'reminder.frequency.custom' | translate}}</ion-select-option>
        </ion-select>
        <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card class="cardProfile" *ngIf="this.frequencySeleted === 'custom' ">
    <div>
      <ion-item (click)="expandItem()" class="txtTitleGoals" *ngIf="this.expanded" lines="none">
        <ion-label>{{'reminder.week_day' | translate}}</ion-label>
        <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item (click)="expandItem()" class="txtTitleGoals" *ngIf="!this.expanded"  lines="none">
        <ion-label>{{'reminder.week_day' | translate}}</ion-label>
        <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
      </ion-item>

      <!-- ACORDION -->
      <app-expandable expandHeight="400px" [expanded]="this.expanded">
        <ion-list mode="ios" *ngFor="let e of days;let i= index">
          <ion-item [lines]="(i==6)? 'none':'full' ">
            <ion-checkbox color="primary" (ionChange)="setDay($event, e, i)" [formControlName]=" 'day'+(i+1)"></ion-checkbox>
            <ion-text>
              <p class="txtTitleGoals" style="color: black; font-size: 14px;">{{'reminder.day.day'+(i+1) | translate}}</p>
            </ion-text>
          </ion-item>
        </ion-list>
      </app-expandable>
    </div>
  </ion-card>

</form>

<section *ngIf="!this.isNewEvent">
  <ion-button class="deleteButton"  expand="block" (click)="presentAlertConfirm()">{{ 'reminder.button_delete' | translate}}</ion-button>
  </section> 
</ion-content>