#container * {
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;

}
#left,
#middle,
#right {
  display: inline-block;
  zoom: 1;
  vertical-align: top;
}
#left {
  width: 5%;
}
#middle {
  vertical-align: bottom;
  width: 82%;
}
#right {
  vertical-align: top;
  width: 10%;
}

section {
  margin: 1em;
}
