<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Perfil" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'setting.family_unit.title_family_unit' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="listFamilyUnit !== undefined">
  <ion-list *ngFor="let family of this.listFamilyUnit">
    <ion-card class="cardProfile" (click)="changeAccount(family)">
      <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="family.thumbnail">
      </ion-avatar>
      <ion-label >
        <h3>{{family.name}}</h3>
        <p>{{family.family_relationship}}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>
</ion-content>
