<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'setting.family_unit.title_family_unit' | translate}}<app-info info="{{'info.family' | translate}}"></app-info></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner ></ion-spinner>
  </div>
  <span *ngIf="othersCanAccess.length > 0 || canAccess.length > 0; else noData">
  <section *ngIf="this.user?.familyUnit === null">
  <div>
    <ion-row *ngIf="othersCanAccess.length > 0" class="paddingTop">
      <ion-text class="txtTitle">{{ 'setting.family_unit.othersCanAccess' | translate }}</ion-text>
    </ion-row>
  <ion-list>
    <ion-card class="cardProfile" *ngFor="let family of this.othersCanAccess">
      <ion-card-content style="padding-left: 0%;">
    <ion-item lines="none" (click)="changeAccount(family)">
      <ion-avatar slot="start">
        <img [src]="family.thumbnail">
      </ion-avatar>
      <ion-label >
        <h3>{{family.name}}</h3>
        <p *ngIf="family?.socialRelationType">{{family.socialRelationType}}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>

  <ion-row  *ngIf="canAccess.length > 0;" class="paddingTop">
    <ion-text class="txtTitle">{{ 'setting.family_unit.canAccess' | translate }}</ion-text>
  </ion-row>
  <ion-list>
    <ion-card class="cardProfile" *ngFor="let family of this.canAccess" (click)="changeAccount(family)">
      <ion-card-content style="padding-left: 0%;">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="family.thumbnail">
      </ion-avatar>
      <ion-label >
        <h3>{{family.name}}</h3>
        <p *ngIf="family?.socialRelationType">{{family.socialRelationType}}</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>
</div>
</section>


<section *ngIf="this.user?.familyUnit !== null">
  <ion-card class="cardProfile" *ngFor="let family of this.othersCanAccess">
    <ion-card-content style="padding-left: 0%;">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img [src]="family.thumbnail">
    </ion-avatar>
    <ion-label >
      <h3>{{family.name}}</h3>

    </ion-label>
  </ion-item>
</ion-card-content>
</ion-card>
  <ion-button expand="block"  (click)="returnUser()" >{{'profile.button_go_back' | translate | uppercase  }}</ion-button>
</section>
</span>
<ng-template #noData>
  <div *ngIf="!this.isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-icon class="iconNoData" name="people"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <h4 style="text-align: center;"> {{ "no_data"| translate}} </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ng-template>
</ion-content>