<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Perfil" ></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad Familiar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card class="cardProfile">
      <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/icons/Mi Perfil.svg">
      </ion-avatar>
      <ion-label >
        <h3>Nombre del familiar</h3>
        <p>Relación familiar</p>
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>
</ion-content>
