<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="ion-text-wrap toolbarTitle">{{ nameLifeStyle | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tracking" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-card class="cardProfile ion-no-padding">
    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-icon
            style="height: 25px; width: 20px"
            [src]="iconLifeStyle"
          ></ion-icon>
          <ion-text class="txtTitleGoalsDarker textAdvicesSlider"
            >{{ 'lifestyle.head_card_title' | translate}}</ion-text
          >
        </ion-row>
        <ion-row>
          <p class="txtSubtitle">{{ 'lifestyle.head_card_text' | translate}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>-->
  <app-caregiver></app-caregiver>
  <div>
    <div class="spin" *ngIf="this.isLoading">
     <ion-spinner ></ion-spinner>
    </div>

    <ion-list>
      <app-lifestyle-index
        *ngFor="let content of this.listContent"
        [content]="content"
        (redirect)="handleRedirect($event)"
      ></app-lifestyle-index>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
    <app-tabs></app-tabs>
</ion-footer>
