.textMon-For-Med {
  color: #ba0186;
}

.txtTitleGoalsDarker {
  margin-top: 6px !important;
}

.txtSubtitle {
  font-size: 12px !important;
  color: #575757 !important;
  font-weight: 400;
}

ion-list {
  background: none !important;
}
