<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button (click)="close()" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditDrug? ('medication.edit_medication' | translate): ('medication.add_medication' | translate) }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card  class="cardProfilePaddingBottom" >
    <ion-item lines="none">
      <ion-text style="margin: 10px;" class="txtTitleGoals" stacked>{{drug?.name}}</ion-text>
    </ion-item>
  </ion-card>
  <ion-card  class="cardProfilePaddingBottom" >
      <form (ngSubmit)="submit()" [formGroup]="form">
      <ion-item>
        <ion-label class="txtTitleGoals"  stacked>{{ 'medication.field_from_date' | translate}}</ion-label>
        <ion-datetime (ionChange)="this.isSubmittedFromDate = false" formControlName="from_date" displayFormat="DD/MM/YYYY" placeholder="{{ 'medication.placeholder_chosse' | translate}}" pickerFormat="DD/MM/YYYY"></ion-datetime>
        <ion-note *ngIf="this.isSubmittedFromDate && this.form.get('from_date').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label class="txtTitleGoals"  stacked>{{ 'medication.field_to_date' | translate}}</ion-label>
        <ion-datetime (ionChange)="this.isSubmittedToDate = false; checkTreatmentDates()" formControlName="to_date" displayFormat="DD/MM/YYYY" placeholder="{{ 'medication.placeholder_chosse' | translate}}" pickerFormat="DD/MM/YYYY"></ion-datetime>
        <ion-note *ngIf="this.isSubmittedToDate && this.form.get('to_date').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
      </ion-item >
      <ion-item>
        <ion-label class="txtTitleGoals"  stacked>{{ 'medication.field_dose' | translate}}</ion-label>
        <ion-input (ionChange)="this.isSubmittedDosis = false" formControlName="dose"  type="number" placeholder="{{ 'medication.placeholder_dose' | translate}}" ></ion-input>
        <ion-note *ngIf="this.isSubmittedDosis && this.form.get('dose').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
      </ion-item >
      <ion-item>
        <ion-label class="txtTitleGoals" stacked>{{ 'medication.field_alias' | translate}}
        </ion-label>
        <ion-input formControlName="alias" type="text" placeholder="{{ 'medication.placeholder_alias' | translate}}" ></ion-input>
      </ion-item >
      <ion-item>
        <ion-label class="txtTitleGoals" stacked>{{ 'medication.field_take_time' | translate}}</ion-label>
        <ion-datetime (ionChange)="inputDate(); this.isSubmittedTimes = false"  formControlName="time" displayFormat="H:mm" placeholder="+">
        </ion-datetime>
        <ion-note *ngIf="this.isSubmittedTimes && this.times.length == 0 " class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
      </ion-item >
        <ng-container *ngFor="let time of this.times;let i = index">
          <ion-chip>
            <ion-label class="txtTitleGoals">{{time}} </ion-label>
            <ion-icon name="close-circle" color="primary" (click)="removeTime(time)"></ion-icon>
          </ion-chip>
        </ng-container>
      <ion-item lines="none">
        <ion-label class="txtTitleGoals" lines="none">{{'reminder.field_repeat' | translate}}</ion-label>
        <ion-select class="txtTitleGoals" interface="action-sheet" (ionFocus)="selectedFrequency($event)" (ionChange)="this.isChangedSelect($event)" cancelText="{{'button.cancel' | translate}}" formControlName="frequency"  okText="{{'button.ok' | translate}}">
          <ion-select-option value="daily">{{'reminder.frequency.daily' | translate}}</ion-select-option>
          <ion-select-option *ngIf="this.frequency ==  '1week' " value="1week">{{'reminder.frequency.custom' | translate}}</ion-select-option>
          <ion-select-option *ngIf="this.frequency ==  'custom' " value="custom">{{'reminder.frequency.custom' | translate}}</ion-select-option>
        </ion-select>
        <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
      </ion-item>
    </form>
    
  </ion-card>
  <div class="buttonContainer">
  <ion-button  expand="block" (click)="submit()" color="primary" >{{'medication.save_medication' | translate}}</ion-button><br>
  <!-- <ion-button expand="block" color="tertiary" >Editar este medicamento</ion-button> -->
  <ion-button *ngIf="isEditDrug" (click)="presentAlertConfirm()" class="buttonClose" color="transparent" expand="block">{{'medication.delete_medication' | translate}}</ion-button>
</div>
</ion-content>


