<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button (click)="close()" text=""></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{ isEditDrug? ('medication.edit_medication' | translate): ('medication.add_medication' | translate) }}</ion-title> -->
    <ion-title class="toolbarTitle">{{ ('medication.medication_plan' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="submit()">
       <ion-label>{{ 'medication.save_medication' | translate}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="!isEditDrug"  class="cardProfilePaddingBottom" >
    <ion-item lines="none">
      <app-add-drug-filter style="width: 100%;" (drugUpdated)="drugSelecting($event)" (dataInteractions)="dataInteractions($event)"></app-add-drug-filter>
    </ion-item> 

    <app-interactions-medicine [interactions]="interactions" *ngIf="interactions.length >0"></app-interactions-medicine>
  </ion-card>
  
  <form (ngSubmit)="submit()" [formGroup]="form" *ngIf="drug">

  <ion-card>
    <ion-item lines="none">
      <ion-label class="txtTitleGoals" stacked>{{ 'medication.name' | translate}}
      </ion-label>
      <ion-text style="margin: 10px;" class="txtTitleGoals" >{{drug.name}}</ion-text>
    </ion-item>
  <ion-item *ngIf="!isInstant">
    <ion-label class="txtTitleGoals" stacked>{{ 'medication.field_alias' | translate}}
    </ion-label>
    <ion-input [readonly]="!modifyMedicationPlans" formControlName="alias" type="text" placeholder="{{ 'medication.placeholder_alias' | translate}}" ></ion-input>
  </ion-item >

    <!-- field_dose -->
    <ion-item>
      <ion-label  stacked>
        <h5 >{{ 'medication.field_dose' | translate}}</h5>
        <ion-note *ngIf="this.isSubmittedDosis && this.form.get('dose').invalid" class="error" color="danger">{{ 'error_required' | translate}}</ion-note>
      </ion-label>
      <ion-input [readonly]="!modifyMedicationPlans" (ionChange)="this.isSubmittedDosis = false" formControlName="dose"  type="number" placeholder="{{ 'medication.placeholder_dose' | translate}}" ></ion-input>
    </ion-item >
  </ion-card>
  
  <ion-card  class="cardProfilePaddingBottom" >
  

    <!-- Single Shot-->
  
    <ion-item>
      <ion-label class="txtTitleGoals" stacked>{{ 'medication.snapshot_medication' | translate}}
      </ion-label>
      <ion-toggle (click)="snapshot()"></ion-toggle><br /><br />
    </ion-item>
    <!-- field_from_date -->
      <div *ngIf="!isInstant">
        <ion-item>
          <ion-label  stacked>
            <h5 >{{ 'medication.field_from_date' | translate}}</h5>
            <ion-note *ngIf="this.isSubmittedFromDate && this.form.get('from_date').invalid" class="error" color="danger">{{ 'error_required' | translate}}</ion-note>
          </ion-label>
          <ion-datetime-button mode="ios" [disabled]="!modifyMedicationPlans" slot="end" datetime="from_date"></ion-datetime-button>
          <ion-icon slot="end" color="primary" name="calendar"></ion-icon>
        </ion-item>

        <ion-modal [keepContentsMounted]="true" [backdropDismiss]="false">
          <ng-template>
            <ion-datetime mode="ios" [locale]="this.locale" presentation="date" id="from_date" (ionChange)="this.isSubmittedFromDate = false"  formControlName="from_date"></ion-datetime>
            <ion-buttons mode="ios" slot="buttons" style="background-color: white;">
              <ion-button class="btn-style-1" mode="ios" color="danger"  slot="start"></ion-button>
              <ion-button class="btn-style-1" mode="ios" style="width: 50px;"></ion-button>
              <ion-button class="btn-style-1" mode="ios" color="primary" slot="end" (click)="close();">{{'button.confirm' | translate}}</ion-button>
            </ion-buttons>
          </ng-template>
        </ion-modal>
      </div>
    <!-- field_to_date -->
      <div *ngIf="!isInstant">
        <ion-item>
          <ion-label  stacked>
            <h5 >{{ 'medication.field_to_date' | translate}}</h5>
            <ion-note *ngIf="this.isSubmittedToDate && this.form.get('to_date').invalid" class="error" color="danger">{{ 'error_required' | translate}}</ion-note>
          </ion-label>
          <ion-datetime-button mode="ios" [disabled]="!modifyMedicationPlans" slot="end" datetime="to_date"></ion-datetime-button>
          <ion-icon slot="end" color="primary" name="calendar"></ion-icon>
        </ion-item>

        <ion-modal [keepContentsMounted]="true" [backdropDismiss]="false">
          <ng-template>
            <ion-datetime mode="ios" [locale]="this.locale" presentation="date" id="to_date" (ionChange)="this.isSubmittedToDate = false; checkTreatmentDates()" formControlName="to_date"></ion-datetime>
            <ion-buttons mode="ios" slot="buttons" style="background-color: white;">
              <ion-button class="btn-style-1" mode="ios" color="danger"  slot="start"></ion-button>
              <ion-button class="btn-style-1" mode="ios" style="width: 50px;"></ion-button>
              <ion-button class="btn-style-1" mode="ios" color="primary" slot="end" (click)="close();">{{'button.confirm' | translate}}</ion-button>
            </ion-buttons>
          </ng-template>
        </ion-modal>
      </div>
  

      <div *ngIf="!isInstant">
        <ion-item lines="none">
          <ion-label  stacked>
            <h5 >{{ (modifyMedicationPlans)? ('medication.field_take_time' | translate):('medication.take_time' | translate) }}</h5>
            <ion-note *ngIf="this.isSubmittedTimes && this.times.length == 0 " class="error" color="danger">{{ 'error_required' | translate}}</ion-note>
          </ion-label>
          <ion-datetime-button mode="ios" *ngIf="modifyMedicationPlans" slot="end" datetime="time"></ion-datetime-button>
          <ion-icon *ngIf="modifyMedicationPlans" slot="end" color="primary" name="add-circle-outline"></ion-icon>
        </ion-item>

          <ion-popover #datetimePopover [keepContentsMounted]="true" side="left" alignment="end">
            <ng-template>
              <ion-datetime mode="ios" #datetime id="time" hourCycle="h23" [preferWheel]="true"  [locale]="this.locale" presentation="time" displayFormat="HH:mm" (ionChange)="this.isSubmittedTimes = false" formControlName="time"></ion-datetime>
              <ion-buttons mode="ios" slot="buttons">
                <ion-button color="danger" (click)="closeTimeAlert($event);" slot="start">{{'notifications.close' | translate}}</ion-button>
                <ion-button style="width: 50px;"></ion-button>
                <ion-button color="primary" (click)="inputTimes($event);" slot="end">{{'button.add' | translate}}</ion-button>
              </ion-buttons>
            </ng-template>
          </ion-popover>

          <div style="padding: 5px;">
            <ng-container >
              <ion-chip *ngFor="let time of this.times;let i = index">
                <ion-label class="txtTitleGoals">{{time}} </ion-label>
                <ion-icon  *ngIf="modifyMedicationPlans" name="close-circle" color="primary" (click)="removeTime(time)"></ion-icon>
              </ion-chip>
            </ng-container>
          </div>
      </div>

    </ion-card>

    <ion-card  class="cardProfile" *ngIf="!isInstant">
      <ion-item [lines]="this.expanded? 'none':'full'">
        <ion-select [disabled]="!modifyMedicationPlans" label="{{'reminder.field_repeat' | translate}}" class="txtTitleGoals" interface="action-sheet" (ionChange)="this.selectedFrequency()" cancelText="{{'button.cancel' | translate}}" formControlName="frequency"  okText="{{'button.ok' | translate}}">
          <ion-select-option value="daily">{{'reminder.frequency.daily' | translate}}</ion-select-option>
          <ion-select-option value="custom">{{'reminder.frequency.custom' | translate}}</ion-select-option>
        </ion-select>
        <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
      </ion-item>

      <div *ngIf="this.modifyMedicationPlans; else noEditDays">
        <div *ngIf="this.frequencySeleted === 'custom' && !isInstant">
          <ion-item (click)="expandItem()" class="txtTitleGoals" *ngIf="this.expanded">
            <ion-label>{{'reminder.week_day' | translate}}</ion-label>
            <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
          </ion-item>
          <ion-item (click)="expandItem()" class="txtTitleGoals" *ngIf="!this.expanded"  lines="none">
            <ion-label>{{'reminder.week_day' | translate}}</ion-label>
            <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
          </ion-item>
  
          <!-- ACORDION -->
          <app-expandable expandHeight="400px" [expanded]="this.expanded">
            <ion-list mode="ios" *ngFor="let e of days;let i= index">
              <ion-item [lines]="(i==6)? 'none':'' ">
                <ion-checkbox color="primary" (ionChange)="setDay($event, e, i)" [formControlName]=" 'day'+(i+1)"></ion-checkbox>
                <ion-text>
                  <p class="txtTitleGoals" style="color: black; font-size: 14px;">{{'reminder.day.day'+(i+1) | translate}}</p>
                </ion-text>
              </ion-item>
            </ion-list>
          </app-expandable>
        </div>
      </div>

      <ng-template #noEditDays>
        <ion-item (click)="expandItem()" class="txtTitleGoals" lines="none">
          <ion-label>{{'reminder.week_day' | translate}}</ion-label>
          <!-- <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon> -->
        </ion-item>

          <ion-list mode="ios" *ngFor="let e of days;let i= index">
            <ion-item [lines]="(i==6)? 'none':'' ">
              <ion-checkbox  *ngIf="e['day'+(i+1)]==0" color="primary" (ionChange)="setDay($event, e, i)" [formControlName]=" 'day'+(i+1)"></ion-checkbox>
              <ion-icon  *ngIf="e['day'+(i+1)]==1" color="primary" name="checkmark-circle"></ion-icon>
              <ion-text slot="end">
                <p class="txtTitleGoals" style="color: black; font-size: 14px;">{{'reminder.day.day'+(i+1) | translate}}</p>
              </ion-text>
            </ion-item>
          </ion-list>
          
      </ng-template>

  </ion-card>





</form>
  <div class="buttonContainer" *ngIf="modifyMedicationPlans && !this.isLoading">
    <!--<ion-button *ngIf="!isEditDrug" expand="block" (click)="snapshot()" [color]="isInstant? 'tertiary':'primary'">{{isInstant? ('medication.medication_plan' | translate):('medication.snapshot_medication' | translate) }}</ion-button><br>
    <ion-button [disabled]="this.isLoading" expand="block" (click)="submit()" color="primary" >{{'medication.save_medication' | translate}}</ion-button><br>-->
    <ion-button *ngIf="isEditDrug" (click)="presentAlertConfirm()" class="buttonClose" color="transparent" expand="block">{{'medication.delete_medication' | translate}}</ion-button>
  </div>
</ion-content>


