.txtTitleGoals{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
ion-datetime {
  font-size: 12px;
  font-weight: 400;
  //background: white !important;
  //box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px !important;
}

ion-input{
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}