<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'personal.button_back' | translate }}" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'personal.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="whiteBackground">

  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div>
    <ion-grid class="paddingGrid">
      <ion-row>
        <ion-col size="12">
          <ion-img *ngIf="this.userProfile as UserProfile"
            [src]="this.userProfile?.temporaryUrl" class="img-wrapper"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="this.userProfile as UserProfile">
      <ion-item >
        <ion-label>{{ 'personal.first_name' | translate}}</ion-label>
        <ion-label class="textMedium">{{this.userProfile?.first_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.last_name' | translate}}</ion-label>
        <ion-label class="textMedium">{{this.userProfile?.last_name}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.birthdate' | translate}}</ion-label>
        <ion-label class="textMedium">{{this.userProfile?.birthdate_european}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.gender' | translate}}</ion-label>
        <ion-label class="textMedium">{{ getGender(this.userProfile?.gender)  }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.language' | translate}}</ion-label>
        <ion-label class="textMedium">{{ this.userProfile?.language?.name }}</ion-label>
      </ion-item>
      <ion-item> 
        <ion-label>{{ 'personal.height' | translate}}</ion-label>
        <ion-label class="textMedium">{{this.userProfile.height}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.weight' | translate}}</ion-label>
        <ion-label class="textMedium">{{this.userProfile.weight }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.blood_group' | translate}}</ion-label>
        <ion-label class="textMedium">{{this.userProfile.blood_group }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'personal.diagnostics' | translate}}</ion-label>
        <div *ngFor="let diagnostic of this.userProfile.diagnostics " >
          <ion-label class="textMedium">{{diagnostic}}&nbsp;</ion-label>
        </div>         
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ 'personal.allergies' | translate}}</ion-label>
        <div *ngFor="let allergy of this.userProfile.allergies" >
          <ion-label class="textMedium">{{allergy}}&nbsp;</ion-label>
        </div>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
