<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" routerLink="../">{{ 'health_card.button_return' | translate}}</ion-button>
    <ion-title>{{ isAddCard? ('add_health_card.header_add_card' | translate) : ('edit_health_card.header_edit_card' | translate) }}</ion-title>
    <ion-button slot="end" fill="clear" (click)="this.isAddCard? addCard(): editCard()">
      {{ isAddCard? ('add_health_card.button_add' | translate) : ('edit_health_card.button_edit' | translate) }}</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img class="img-wrapperCard" src="assets/images/Subtract.png">
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>

  <form [formGroup]="formHealthCard" (ngSubmit)="addCard()">
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item lines="none">
        <ion-label>{{ 'health_card.modality' | translate}}</ion-label>
        <ion-select interface="action-sheet" placeholder="{{'add_health_card.placeholder_select' | translate}}" [compareWith]="compareFn" value="formHealthCard.get('health_card_type_id').value" formControlName="health_card_type_id" required>
          <ion-select-option *ngFor="let card of healthCardTypes" [value]="card?.id">{{card?.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item>
        <ion-label >{{ 'health_card.name' | translate}}</ion-label>
        <ion-input formControlName="name" placeholder="" slot="end" (ionFocus)="isSubmitted = false" maxlength="50" required></ion-input>
        <ion-note *ngIf="this.isSubmittedName && this.formHealthCard.get('name').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'error_required' | translate}}</p></ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'health_card.affiliation_number' | translate}}</ion-label>
        <ion-input formControlName="card_number" placeholder="" slot="end" (ionFocus)="isSubmittedAffiliationNumber = false" maxlength="30" required></ion-input>
        <ion-note *ngIf="this.isSubmittedAffiliationNumber && this.formHealthCard.get('card_number').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'error_required' | translate}}</p></ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'health_card.expiration_date' | translate}}</ion-label>
        <ion-datetime formControlName="expiration_date" displayFormat="DD/MM/YY" placeholder="Opcional" min="1990-01-01" [max]="this.dateMax"></ion-datetime>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label lines="none">{{ 'health_card.expedition_date' | translate}}</ion-label>
        <ion-datetime formControlName="issue_date" displayFormat="DD/MM/YY" placeholder="Opcional" min="1990-01-01"></ion-datetime>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</form>
<section *ngIf="!isAddCard">
  <ion-button class="deleteButton"  expand="block" (click)="deleteHealthCard()">{{ 'detail_health_card.button_delete_card' | translate}}</ion-button>
  </section> 
</ion-content>