<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ isAddCard? ('add_health_card.header_add_card' | translate) : ('edit_health_card.header_edit_card' |
      translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.isAddCard? addCard(): editCard()">
        <ion-icon slot="icon-only" name="checkmark-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img class="img-wrapperCard" src="assets/images/Subtract.png">
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
  </ion-grid>

  <form [formGroup]="formHealthCard" (ngSubmit)="addCard()">
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item lines="none">
        <ion-select stacked style="font-size: 14px;" label="{{'health_card.modality' | translate}}" interface="action-sheet" placeholder="{{'add_health_card.placeholder_select' | translate}}"  formControlName="health_card_type_id" required>
          <ion-select-option *ngFor="let card of healthCardTypes" [value]="card?.id">{{card?.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item>
        <ion-label  stacked>
          <h5 >{{'health_card.name' | translate}}</h5>
          <ion-note *ngIf="this.isSubmittedName && this.formHealthCard.get('name').invalid" class="error" color="danger"><p>{{ 'error_required' | translate}}</p></ion-note>
        </ion-label>
        <ion-input  class="textMedium" formControlName="name" placeholder="" slot="end" (ionFocus)="isSubmitted = false" maxlength="50" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  stacked>
          <h5 >{{'health_card.affiliation_number' | translate}}</h5>
          <ion-note *ngIf="this.isSubmittedAffiliationNumber && this.formHealthCard.get('card_number').invalid" class="error" color="danger"><p>{{ 'error_required' | translate}}</p></ion-note>
        </ion-label>
        <ion-input class="textMedium" formControlName="card_number" placeholder="" slot="end" (ionFocus)="isSubmittedAffiliationNumber = false" maxlength="30" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  stacked>
          <h5 >{{'health_card.expedition_date' | translate}}</h5>
          <ion-note slot="start" (click)="openMessageStartDate()" *ngIf="this.isSubmittedIssueDate && this.formHealthCard.get('issue_date').invalid" class="error " color="danger">{{ getErrorStartDate() }}</ion-note>
        </ion-label>
        <ion-datetime-button firstDayOfWeek="1" slot="end" datetime="issue_date"></ion-datetime-button>
      </ion-item>

      <ion-modal [keepContentsMounted]="true" [backdropDismiss]="false">
        <ng-template>
          <ion-datetime  firstDayOfWeek="1" [locale]="this.locale" presentation="month-year" id="issue_date" [max]="dateMax"  (ionFocus)="checkDateEvent()"  formControlName="issue_date" required></ion-datetime>
          <ion-buttons mode="ios" slot="buttons" style="background-color: white;">
            <ion-button class="btn-style-1" mode="ios" color="danger"  slot="start"></ion-button>
            <ion-button class="btn-style-1" mode="ios" style="width: 50px;"></ion-button>
            <ion-button class="btn-style-1" mode="ios" color="primary" slot="end" (click)="close();">{{'button.confirm' | translate}}</ion-button>
          </ion-buttons>
        </ng-template>
      </ion-modal>

      <ion-item lines="none">
        <ion-label  stacked (click)="openMessageEndDate()">
          <h5 >{{'health_card.expiration_date' | translate}}</h5>
          <ion-note  slot="end" *ngIf="this.isSubmittedExpiration && this.formHealthCard.get('expiration_date').invalid" class="error " color="danger" slot="end">{{ getErrorEndDate() }}</ion-note>
        </ion-label>
        <ion-datetime-button  firstDayOfWeek="1" slot="end" datetime="expiration_date"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true" [backdropDismiss]="false">
        <ng-template>
          <ion-datetime firstDayOfWeek="1" (ionFocus)="checkDateEvent()"  [locale]="this.locale" presentation="month-year" id="expiration_date" [min]="this.date" [max]="dateMax"  (ionFocus)="checkDateEvent()"  formControlName="expiration_date" required></ion-datetime>
          <ion-buttons mode="ios" slot="buttons" style="background-color: white;">
            <ion-button class="btn-style-1" mode="ios" color="danger"  slot="start"></ion-button>
            <ion-button class="btn-style-1" mode="ios" style="width: 50px;"></ion-button>
            <ion-button class="btn-style-1" mode="ios" color="primary" slot="end" (click)="close();">{{'button.confirm' | translate}}</ion-button>
          </ion-buttons>
        </ng-template>
      </ion-modal>
    </ion-list>
  </ion-card>
</form>
<section *ngIf="!isAddCard">
  <ion-button class="deleteButton"  expand="block" (click)="deleteHealthCard()">{{ 'detail_health_card.button_delete_card' | translate}}</ion-button>
  </section>
</ion-content>