.img-wrapperCard {
  min-width: 88px;
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}
.textMedium {
    text-align: right;
    color: #7f8c8d;
  }
  section {
    margin: 1.5em;
  }
  .deleteButton{
    color: red !important;
    --background: #ffffff;
  }
