ion-back-button {
  display: block;
  color:#3498DB;
}

.img-wrapper {
height: 81px;
width: 81px;
display: block;
margin: auto;
object-fit: cover;

}

.img-wrapper-load {
  height: 20px;
  width: 20px;
  display: block;
  margin: auto;
  object-fit: cover;
}

ion-label {
  color: var(--default-text) !important;
}



.skeleton-centered {
  width: 50%;
  height: 26px; /* Ajusta la altura según tus necesidades */
  margin: 0 auto; /* Centra horizontalmente */
  display: block; /* Asegura que el elemento sea un bloque para aplicar el centrado */
}