<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'profile.title_profile' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngIf="this.userDoole !== undefined">
          <ion-img [src]="this.userDoole.image" class="img-wrapper"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf='this.userDoole !== undefined && this.userDoole.image !== "" '>
          <h3 style="text-align: center;">{{ this.userDoole.username}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-text class="txtTitle">{{ 'profile.information.title_information' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item routerLink="personal" >
              <ion-label>{{ 'profile.information.data' | translate}}</ion-label>
              <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
            </ion-item>
            <ion-item>
              <ion-label>{{ 'profile.information.family_unit' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'profile.information.your_health_cards' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'profile.information.your_goals' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'profile.information.payment_method' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
          </ion-list>
    </ion-card>
    <ion-text class="txtTitle">{{ 'profile.configuration.title_setting' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item>
              <ion-label>{{ 'profile.configuration.linked_accounts' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
              <ion-label lines="none">{{ 'profile.configuration.settings' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
          </ion-list>
    </ion-card>
    <ion-text class="txtTitle">{{ 'profile.help.title_help' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item>
              <ion-label>{{'profile.help.frequent_questions' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{'profile.help.report_problem' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'profile.help.legal_warning' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{ 'profile.help.us' | translate}}</ion-label>
              <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
            </ion-item>
          </ion-list>
    </ion-card>

    <ion-button expand="block" color="transparent" class="buttonLink" (click)="signOut()">
      {{ 'profile.button_sign_off' | translate}}
  </ion-button>
  </div>
</ion-content>
