ion-back-button {
  display: block;
  color:#3498DB;
}

.img-wrapper {
height: 81px;
width: 81px;
display: block;
margin: auto;
object-fit: cover;

}

.img-wrapper-load {
  height: 20px;
  width: 20px;
  display: block;
  margin: auto;
  object-fit: cover;
  
  }



