ion-back-button {
    display: block;
    color:#3498DB;
 }

.img-wrapper {
    max-height: 81px;
  max-width: 81px;
  display: block;
  margin: auto;}

.cardProfile{
    --ion-background-color: white!important;
}

.txtTitle{
    font-size: 18px;
}