
    <ion-searchbar style="width:110%" (ionInput)="filterList($event)" mode="ios" show-cancel-button="always"  placeholder="{{'medication.placeholder_search' | translate }}">
  </ion-searchbar >

 
 
   <ion-item  class="drugList" type="text" *ngFor="let drug of drugs" (click)="addMedicamento(drug)">{{drug.name}}</ion-item>
   
   <!--<ion-select (ionChange)="addMedicamento($event.detail.value)">
    <ion-select-option *ngFor="let drug of drugs" [value]="drug">{{ drug.name }}</ion-select-option>
  </ion-select>-->
