.level-image {
  height: 60%;
  width: 60%;
  margin: auto;
  border: 2px brown;
  margin-top: 10%;
  display: block;
  border-radius: 15px;
  background-color: white;
}

.level-card {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.progress-bar {
  border-radius: 100px;
  height: 20px;
  margin: auto;
  --background: #f5f5f5;
  --progress-background: purple;
}

.goal-done{
  font-weight: bold;
  color: green;
  font-size: small;
  padding-left: 10px;
}
