<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ this.challenge?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   
  <ion-card class="level-card">
    <ion-item lines="none" class="cardHeader">
      <ion-icon  name="heart" slot="start" class="ion-no-margin" style="color:purple"></ion-icon>
      <ion-text  style="margin-left:10px; color:purple" slot="start">{{ this.challenge?.name }}</ion-text>
     
    </ion-item>

    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="9">
            <p class="text1line"><b>{{ this.challenge?.current_level?.name}}</b></p>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col size="3">
            <ion-img src="{{this.challenge?.current_level?.cover ? this.challenge.current_level.cover : 'assets/icons/IconGoal.svg'}}"></ion-img>
          </ion-col>
          <ion-col size="9" >
           
            <p>{{ 'health_path.goal' | translate:{total:this.challenge?.current_level?.current_score, coin:this.challenge?.current_level?.coin_name, required:this.challenge?.current_level?.score_required} }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
          </ion-col>
          <ion-col size="9">
            <ion-progress-bar class="progress-bar" [value]="this.progressBarValue" routerLinkActive="active-item">
            </ion-progress-bar>
          </ion-col>
          
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label style="margin-top: 10%;">{{ 'health_path.goals' | translate }}</ion-label>
      </ion-item>

      <div class="spin" *ngIf="this.fetching;else showGoals">
        <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ng-template #showGoals>
      <ion-list *ngFor="let g of this.goalsText" style="background-color: white;">
        <ion-item detail="false" (click)="openGoal(g)">
          <ion-label>{{g?.name}}</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
        </ion-item>
      </ion-list>
    </ng-template>
      
     
    </ion-card-content>
   
  </ion-card>

  
</ion-content>
