.input-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .input-divider ion-input {
    flex: 1; /* Asegura que el input ocupa una parte significativa pero no toda la divider */
  }
  
  .error-container {
    flex: 1; /* Asegura que los errores también tienen espacio para mostrarse */
    padding-left: 10px; /* Da algo de espacio entre el input y los errores */
  }
  
  .error {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--ion-color-danger);
    font-size: 10px; /* Tamaño de fuente por defecto para móviles */
  }
  
  @media (min-width: 320px) {
    .error {
      font-size: 10px; /* Tamaño de fuente para móviles pequeños */
    }
  }
  
  @media (min-width: 420px) {
    .error {
      font-size: 12px; /* Tamaño de fuente para móviles medianos */
    }
  }
  
  @media (min-width: 768px) {
    .error {
      font-size: 14px; /* Tamaño de fuente para tablets */
    }
  }

  @media (max-width: 330px) {
    .min-length-error {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }