<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="buttonText" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">Verificación de Identidad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="main-container">
    <ion-grid>
      <h2 class="bold">Confirma tu código de verificación</h2>
      <ion-text>Te hemos enviado un SMS con un código para verificar tu número teléfonico y poder continuar.
        Si no ha recibido ningún mensaje pulse </ion-text><a>aquí.</a>
      <ion-col>
        <div style="padding-top: 15%;">
          <ion-item-divider>
            <ion-input placeholder="">
            </ion-input>
          </ion-item-divider>
          <ion-button type="button" color="primary" expand="block" style="margin-top:15%;" routerLink="intro">
            Continuar
          </ion-button>
        </div>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>