<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'verification.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="main-container">
    <ion-grid>
      <h2 class="bold">{{ 'verification.title' | translate}}</h2>
      <ion-text>{{ 'verification.text1' | translate}}</ion-text><a (click)="sendEmailWithCode()">aquí.</a>
      <ion-col>
        <div style="padding-top: 15%;">
          <ion-item-divider class="input-divider">
            <ion-input placeholder="" inputmode="numeric" [formControl]="code" maxlength="6" (ionInput)="isSubmitted = false" required></ion-input>
            <div class="error-container" *ngIf="isSubmitted && (this.code.hasError('required') || this.code.hasError('minlength'))">
              <ion-label class="error" color="danger" *ngIf="this.code.hasError('required')">
                {{ 'verification.error_required' | translate}}
              </ion-label>
              <ion-label class="error" color="danger" *ngIf="this.code.hasError('minlength')">
                {{ 'verification.error_min_lenght' | translate}}
              </ion-label>
            </div>
          </ion-item-divider>
          <ion-button type="button" color="primary" expand="block" style="margin-top:15%;" (click)="goIntro()">
            {{ 'verification.next_button' | translate}}
          </ion-button>
        </div>
      </ion-col>
    </ion-grid>
  </div>
</ion-content>