.input-divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .input-divider ion-input {
    flex: 1; /* Asegura que el input ocupa una parte significativa pero no toda la divider */
  }
  
  .error-container {
    flex: 1; /* Asegura que los errores también tienen espacio para mostrarse */
    padding-left: 10px; /* Da algo de espacio entre el input y los errores */
  }
  
  .error {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--ion-color-danger);
    font-size: small;
  }