<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button text="" (click)="close()"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{'advices.tag_news' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner></ion-spinner>
  </div>

  <ion-card class="cardProfile">
    <img *ngIf="new.cover" class="imagefit" [src]="getImageSource(new)"
      onError="this.onerror=null; this.src='/assets/images/shared-care-plan/image-not-found.png' " />

    <ion-card-header mode="md" style="padding-top: 7%; padding-left: 7%; padding-right: 7%;">
      <ion-card-subtitle>
        <ion-text *ngIf="new?.subject || new?.name" class="txt-source" class="title-card">
          {{new?.subject || new?.name}} </ion-text>
      </ion-card-subtitle>

      <ion-card-subtitle *ngIf="new?.source" class="txt-source"><i><u>{{'shared_care_plan.source' |
            translate}}</u> {{extractText(new?.source)}}</i></ion-card-subtitle>

      <ion-card-subtitle *ngIf="new?.scheduled_date" class="txt-source">{{
        formatSelectedDate(new?.scheduled_date)}}</ion-card-subtitle>

      <ion-card-subtitle *ngIf="new?.reading_time" class="txt-timeReading">
        {{ new?.reading_time }}
      </ion-card-subtitle>


      <ion-card-subtitle>
        <ion-text class="txt-description" style="text-align: justify;"
          [innerHtml]="new?.content"></ion-text>
      </ion-card-subtitle>

      <ion-card-subtitle>
        <ion-text class="txt-likes" *ngIf="new?.interactions">
          {{new?.interactions?.like}} {{'shared_care_plan.like' |translate}}
        </ion-text>
        <ion-text class="txt-likes" *ngIf="new?.interactions?.like && new?.interactions?.like > 100">🔥</ion-text>
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <div *ngIf="link" #frame
        style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
        <iframe [src]="link" class="iframe" scrolling="yes"></iframe>
      </div>
      <div class="main-container" *ngIf="linkpdf2 || video">
        <ion-text class="txtTitleNoMargin">{{'advices.links' | translate}}</ion-text>
      </div>
      <ion-card class="cardProfilePadding" *ngIf="video" (click)="openVideo()">
        <ion-row>
          <ion-col size="4" class="imgCardMedia">
          </ion-col>
          <ion-col size="8">
            <ion-card-title class="txtTitleGoals3">{{videoTitle}}</ion-card-title>
            <p class="txtTitleGoals3"> {{videoDescription}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
      <ion-card class="cardProfilePadding" *ngIf="linkpdf2" (click)="openFile()">
        <ion-row>
          <ion-col size="4" class="imgCardPdf">
          </ion-col>
          <ion-col size="8">
            <ion-card-title class="txtTitleGoals3">{{linkPdfTitle}}</ion-card-title>
            <p class="txtTitleGoals3"> {{linkPdfDescription}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-card-content>
  </ion-card>

</ion-content>