.iframe{
    width: 100%;
    height: 100%;
}
 
.files-section {
    margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
    padding-bottom: var(--page-margin);
    border-bottom: 1px solid var(--ion-color-light-shade);
   
    .heading-row {
      margin-bottom: var(--page-margin);
      justify-content: space-between;
      align-items: center;
    }
  
    .files-row {
      --ion-grid-columns: 7; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
      --ion-grid-column-padding: 0px;
  
      flex-wrap: nowrap;
      overflow-x: scroll;
      will-change: scroll-position;
      margin-left: calc(var(--page-margin) * -1);
      margin-right: calc(var(--page-margin) * -1);
  
     // Hide scrollbars: https://stackoverflow.com/a/38994837/1116959
        @mixin hide-scrollbars() {
            // IE 10+
            -ms-overflow-style: none;
        
            // Firefox
            overflow: -moz-scrollbars-none;
            scrollbar-width: none;
        
            // Safari and Chrome
            &::-webkit-scrollbar {
            display: none;
            }
        }
        
            &::before,
            &::after {
                content: '';
                // .friend-item has 8px of side padding, we need an extra 4px at the beginning and end to fill the 12px side margin of the view
                flex: 0 0 calc(var(--page-margin) - var(--page-friends-gutter));
            }
  
      .file-item {
        --col-item-width: 2;
        // SSR fix: Override ion-col styles
        flex: 0 0 calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
        width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
        max-width: calc(calc(var(--col-item-width) / var(--ion-grid-columns, 12)) * 100%);
       
        padding: 2px var(--page-friends-gutter);
  
        .file-name {
          display: block;
          text-align: center;
          margin: var(--page-margin) 0px;
          font-size: 14px;
        }
      }
    }
  }

  .imgCardPdf{
    background-image: url(/assets/images/pdf_image.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    padding-top: 20%;
    padding-bottom: 20%;
    background-position: center;
    }
  .imgCardMedia{
    background-image: url(/assets/images/mov_image.jpg); 
    background-repeat: no-repeat;
    background-size:cover;  
    padding-top: 20%;
    padding-bottom: 20%;
    background-position: center;
    }