.likes{
    font-style: italic !important;
    font-size: 11px !important;
}
 .time_reading{
   
    font-size: 11px;
    color: #4D7A05;
    margin-top: 5%;
 }

.card_date{
    font-style: italic;
    font-size: 11px;
    margin-top: 1px;
}    
.card_source{
font-style: italic;
font-size: 11px;
margin-top: 1px;
}
.study{
    background-color: #F6F6F6;
    border-radius: 20%;
    margin-right: 5px;
    
}
