
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close-circle" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Seleccionar Fecha</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content> 
   <ion-row>
     <!-- Move back one screen of the slides -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="chevron-back-outline" slot="icon-only" color="primary" ></ion-icon>
      </ion-button>
    </ion-col>
 
    <ion-col size="8" class="textBlue">
      <h2 style="text-align: center;">{{ viewTitle }}</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="chevron-forward-outline" slot="icon-only" color="primary"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar
  *ngIf="modalReady"
  [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onEventSelected)="onEventSelected($event)"
  (onCurrentDateChanged)="onCurrentDateChanged($event)"
  startHour="6"
  endHour="20"
  step="30"
  startingDayWeek="1"
  [monthviewDisplayEventTemplate]="template"
  [monthviewEventDetailTemplate]="monthviewDefaultEventDetailTemplate"
  [locale]="this.languageService.getCurrent()"
  [dateFormatter]="calendar.dateFormatter"
  (onTimeSelected)="onTimeSelected($event)"
>
</calendar>

  
    <ng-template #template let-view="view" let-row="row" let-col="col">
      <div class="dayWeek" [class.with-event]="view.dates[row*7+col].events.length">
        {{view.dates[row*7+col].label}}
      </div>
    </ng-template>

    <ng-template class="showDetail" #monthviewDefaultEventDetailTemplate let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
      
      <ion-row class="rowPadding"><ion-text class="event-detail-title">{{selectedDate.date | date: 'EEEE, d MMMM' | uppercase}}</ion-text></ion-row>

      <ng-container *ngIf="!routeResolveData">
        <div style="padding: 20px 40px; text-align: center;">
          <ion-spinner></ion-spinner>
         
        </div>
      </ng-container>
      <div *ngIf="routeResolveData">
        <ion-item lines="none" *ngIf="this.eventSource.length==0 else slots">
          <div class="no-events-label">No hay slots disponibles para este día</div>
        </ion-item>
    
        <ng-template #slots>
        <ng-container 
        *ngFor="let item of this.timeSlots | paginate: { itemsPerPage: 30, currentPage: page };let i = index"
      >
      
        <ion-chip
          (click)="changeTagColor(i, item.startTime )"
          [color]="tagDefaultColor[i]"
        >
          <ion-label>{{ item.startTime | date:'HH:mm' }} </ion-label>
        </ion-chip>
      </ng-container>
    </ng-template>
      <div *ngIf="this.timeSlots.length > 0">
        <ion-row style="margin-top: -4%; margin-left: 2%; margin-right: 2%">
          <div class="clearfix">
            <ion-col size="12" style="text-align: left">
              <pagination-controls
                (pageChange)="page = $event"
               
              ></pagination-controls>
            </ion-col>
          </div>
        </ion-row>
      </div>
      </div>
  </ng-template>
 
  

</ion-content>
