<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{'goals.your_goals' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cardProfile">
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner ></ion-spinner>
  </div>

  <ion-card class="cardProfile">
    <ion-item lines="none">
      <ion-icon [src]="iconGoals"></ion-icon>
      <ion-text>{{nameGoal | translate}}</ion-text>
      <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
    </ion-item>
    
    <div *ngIf="listGoal.length > 0; else noData">
      <scp-content-circle-progress *ngFor="let content of this.listGoal" [content]="content"></scp-content-circle-progress>
    </div>

  </ion-card>

  <!-- <scp-content-circle-progress ></scp-content-circle-progress> -->

  <!-- <scp-content *ngFor="let content of this.listContent" [content]="content"></scp-content> -->

<ng-template #noData>
  <div *ngIf="!this.isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-icon class="iconNoData" name="ribbon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <h4 style="text-align: center;"> {{ "no_data"| translate}} </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ng-template>

</ion-content>
