<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ this.nameContent | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SegmentBar -->
  <ion-row style="background-color: var(--secondary-bkg); padding-top: 3%;">
    <ion-col size="0.5"></ion-col>
    <ion-col size="11" style="display: flex; justify-content: center;">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment" scrollable>
        <ion-segment-button  value="goals">
          <ion-label>{{'goals.goals' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button  value="achievements">
          <ion-label>{{'goals.achievements' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col size="0.5"></ion-col>

    <ion-row style="width: 100%;">
      <ion-col size="12">
        <app-caregiver></app-caregiver>
      </ion-col>
    </ion-row>
  </ion-row>

 
  <div style="margin-top: 3%;" class="verticalLine2" [ngSwitch]="segment">

    <div *ngSwitchCase="'goals'">

      <div class="spin"  *ngIf="this.isLoading; else finishedLoading">
       <ion-spinner ></ion-spinner>
      </div>

      <ng-template #finishedLoading>
        <ion-list *ngIf="goalsList.length > 0; else noData">
          <app-goals-components
            *ngFor="let content of goalsList"
            [content]="content" 
            (reloadChallenges)="getChallenge()"
          ></app-goals-components>
        </ion-list>

        <ng-template #noData>
          <div *ngIf="!this.isLoading">
            <app-no-data></app-no-data>
          </div>
        </ng-template>

      </ng-template>

      

    </div>

    <div *ngSwitchCase="'achievements'">

      <div class="spin" *ngIf="this.isLoading; else finishedLoading">
       <ion-spinner ></ion-spinner>
      </div>

      <ng-template #finishedLoading>
        <ion-list *ngIf="goalsList.length > 0; else noData">
          <app-goals-components
            *ngFor="let content of goalsList"
            [content]="content"  [completedGoals]="true"
          ></app-goals-components>
        </ion-list>

        <ng-template #noData>
          <div *ngIf="!this.isLoading">
            <app-no-data></app-no-data>
          </div>
        </ng-template>

      </ng-template>
    </div>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>

