<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'emergency_contact.header_relationship' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="whiteBackground">
  <ion-searchbar
  [animated]="true"
  (ionInput)="filterList($event)" >
</ion-searchbar>
<div class="spin" *ngIf="this.isLoading">
 <ion-spinner ></ion-spinner>
</div>
<ion-list *ngFor="let relationship of listRelationship">
  <ion-item (click)="getDataContact(relationship)" class="ion-activatable ripple-parent" routerLink="../edit-contact" [state]="{newContact: emergencyContact, socialRelationType:relationship}"  routerLinkActive='active-item'>
    <ion-label class="txtPaddingLeft" >
      {{relationship.name}}
    </ion-label>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>

</ion-list>

</ion-content>
