.caregiver-btn {
   
    height: 48px;
    background-color: #ECDDFE;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
     color: #101828;
    text-transform: capitalize;
    text-align: left;
}


.slidersHeader{
    width: 100%; 
    display: inline-flex !important; 
    align-items: center;
    font-weight: bolder;
  }


  .caregiver-title {
    padding-left: 2%;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    display: contents;
  }

  ion-item {
    --background: #ECDDFE
  }

