
.event-detail-container {
  color: var(--ion-color-secondary) !important;
  --ion-background-color: transparent !important;


}
.rowPadding{
  background-color: rgb(255, 255, 255)!important;
  padding: 3%;
}
.rowPadding2{
  background-color: rgb(255, 255, 255)!important;
  padding-bottom: 50%;
}

.verticalLine {
  width:1%;
  height:85%;
  background:#2ECC71;
  margin-left:2%;
}
.verticalLinePurple {
  width:1%;
  height:85%;
  background:#9B59B6;
  margin-left:2%;
}
.verticalLineRed {
  width:1%;
  height:85%;
  background:#E74C3C;
  margin-left:2%;
}
.event-detail2{
    font-size: medium;
    font-weight: 600;
  }
/*  .verticalLine2 {
 border-left: 2px solid  #3498DB,;
 margin-left: 5%;
}*/
ion-img{

  height: 30px;
  color: #2ECC71;
}
ion-segment {
  margin: 10px 0;
  background: #ffffff;
}

.blanco{
    background-color: white!important;
    --ion-background-color: transparent !important;
    min-width: 400px;
  }
  
    .dayHeaders{
      background-color: red !important;
      color: white !important;
    }
  
    .verticalLine {
        width:1%;
        height:85%;
        background:#2ECC71;
        margin-left:2%;
      }
      .verticalLinePurple {
        width:1%;
        height:85%;
        background:#9B59B6;
        margin-left:2%;
      }
      .verticalLineRed {
        width:1%;
        height:85%;
        background:#E74C3C;
        margin-left:2%;
      }

      .event-detail-title {
        color: var(--ion-color-secondary) !important;
        background-color: rgb(255, 255, 255)!important;
    }