.txtTitleTrackingLittle{
    font-size: 12px;
    font-weight: 400;
    color: #7f8c8d;
  }
  .textMediumLeft > app-text-shell{
    text-align: left;
    color: #7f8c8d!important;
  }


.users-list {
  ion-item {
    --padding-start: 0px;
  }
}

.user-name > app-text-shell {
  --text-shell-line-height: 17px;
  max-width: 120px;
  &.text-loaded {
    max-width: inherit;
  }
}

.user-lastname > app-text-shell {
  --text-shell-line-height: 14px;
  max-width: 120px;
  &.text-loaded {
    max-width: inherit;
  }
}

ion-list {
  background-color: transparent;
}

ion-spinner {
  position: fixed;
  z-index: 999;
  height: 5em;
  width: em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}