<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'medical_directory.header' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-row>
    <ion-text class="txtTitle2">{{'medical_directory.your_professionals' | translate}}</ion-text>
  </ion-row>
  <ion-list >
    <ion-card class="cardProfile" *ngFor="let s of staff">
      <ion-card-content style="padding-left: 0%;">
        <ion-item lines="none" (click)="this.redirect(s)" >
          <ion-thumbnail slot="start">
            <app-aspect-ratio [ratio]="{w:1, h:1}">
              <app-image-shell
          animation="spinner"
          [src]="s.image"
          [alt]="'Sample Image'"
          class="img-wrapper-doctors"
        ></app-image-shell>
            </app-aspect-ratio>
          </ion-thumbnail>
          
          <ion-label>
            <h2 class="user-name">
              <app-text-shell class="user-name" [data]="s.name" animation="bouncing"></app-text-shell>
            </h2>
            <h3 class="user-lastname">
              <app-text-shell class="user-name" [data]="s.name" animation="bouncing"></app-text-shell>
            </h3>
          </ion-label>
        </ion-item>
          
           
      </ion-card-content>
    </ion-card>
  </ion-list>

<!--   <ng-template #noData> -->
    <div *ngIf="!this.isLoading && staff?.length == 0">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon class="iconNoData" name="card"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col >
            <h4 style="text-align: center;"> {{ "medical_directory.no_professionals"| translate}} </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
 <!--  </ng-template> -->
</ion-content>
