<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cancelar" icon=""></ion-back-button>
    </ion-buttons>
    <ion-title>Reservar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-text class="txtTitle2">Tus profesionales habituales</ion-text>
  </ion-row>
  <ion-list>
    <ion-card class="cardProfile">
      <ion-card-content>
        <ion-item lines="none">
          <img src="assets/images/avatar_masculino.png" class="img-wrapper-doctors">
          <ion-label class="txtPaddingLeft">
            <h3>Jesús Fernández</h3>
            <p class="txtTitleTrackingLittle">
              Medicina General
            </p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
