.txtTitleTrackingLittle{
    font-size: 12px;
    font-weight: 400;
    color: #7f8c8d;
  }
  .textMediumLeft > app-text-shell{
    text-align: left;
    color: #7f8c8d!important;
  }


.users-list {
  ion-item {
    --padding-start: 0px;
  }
}

.user-name > app-text-shell {
  --text-shell-line-height: 17px;
  max-width: 120px;
  &.text-loaded {
    max-width: inherit;
  }
}

p {
  font-size: 12px;
}

ion-list {
  background-color: transparent;
}
