<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button (click)="redirect(undefined)" text="" ></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{'medical_directory.header' | translate}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ng-container class="spin" *ngIf="this.isLoading; else finishedLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </ng-container>

  <ng-template #finishedLoading>
  <ion-row>
    <ion-text class="txtTitle2">{{'medical_directory.your_professionals' | translate}}</ion-text>
  </ion-row>
  <ion-list >
    <ion-card class="cardProfile" *ngFor="let s of staff" style="margin-top: 0px;">
      <ion-card-content style="padding-left: 0%;">
        <ion-item lines="none" (click)="this.redirect(s)" >
          <ion-thumbnail slot="start">
            <app-aspect-ratio [ratio]="{w:1, h:1}">
              <app-image-shell
          animation="spinner"
          [src]="s.image"
          [alt]="'Sample Image'"
          class="img-wrapper-doctors"
        ></app-image-shell>
            </app-aspect-ratio>
          </ion-thumbnail>
          
          <ion-label>
            <h2 class="user-name">
              <app-text-shell class="user-name" [data]="s.name" animation="bouncing"></app-text-shell>
            </h2>
            <h3 class="user-lastname" *ngIf="s.specialties?.length > 0">
              <app-text-shell class="user-name" [data]="s.specialties[0].name" animation="bouncing"></app-text-shell>
            </h3>
          </ion-label>
        </ion-item>
          
           
      </ion-card-content>
    </ion-card>
  </ion-list>

<!--   <ng-template #noData> -->
    <div *ngIf="!this.isLoading && staff?.length == 0">
      <app-no-data></app-no-data>
  </div>
</ng-template>
 <!--  </ng-template> -->
</ion-content>
