<div class="line">
    <ion-title>Hola {{this.username}}</ion-title>
    <ion-img  [src]="this.userImage"></ion-img>
</div>

<ion-content>
  <app-slider-vertical  [information]= 'this.goalInfo'></app-slider-vertical>  
  <app-slider-horizontal [information]= 'this.appointment' slidesType="2"></app-slider-horizontal>
  <app-slider-horizontal [information]= 'this.advicesInfo' slidesType="1"></app-slider-horizontal>
  <app-slider-vertical  [information]= 'this.dietInfo'></app-slider-vertical>
  <app-slider-vertical [information]= 'this.drugInfo'></app-slider-vertical>
  <app-slider-vertical [information]= 'this.playInfo'></app-slider-vertical>
  <app-slider-vertical [information]= 'this.activityInfo'></app-slider-vertical>
  </ion-content>
