<ion-header>
  <!-- <ion-toolbar> -->

    <ion-toolbar mode="ios">
      <ion-title>{{'diary.field_game' | translate}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
       <ion-buttons slot="end">
        <ion-button fill="clear" routerLink="/profile">
          <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content view-cached=”false”>
  <app-caregiver></app-caregiver>
  <div>
    <ion-list *ngIf="items.length > 0; else noData">
        <app-lifestyle-index *ngFor="let content of items" [content]="content"></app-lifestyle-index>
    </ion-list>
  </div>
  <ng-template #noData>
    <div *ngIf="!this.isLoading">
      <app-no-data></app-no-data>
  </div>
  </ng-template>
  </ion-content>




  <ion-footer>
    <ion-toolbar>
      <app-tabs></app-tabs>
    </ion-toolbar>
  </ion-footer>