.sliderImage{
    height: 230px;
    width: 100%;
    overflow: hidden;
}

  @media (min-width: 640px) and (max-width: 1024px) {
    .sliderImage{
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .sliderImage{
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
}

.sliderImage img{
    width: 100%;
    height: auto;
  }

  @supports(object-fit: cover){
    .sliderImage img{
        height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  ion-list {
    background: none !important
  }

 
  app-speech-record {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }