@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
  color: #2c3e50;
}

/* Global styles of the components*/

/* ion-icon {
    color:#7f8c8d;
 }
*/
ion-header {
  --ion-background-color: #fafafa !important;
}
ion-searchbar {
  --ion-background-color: white !important;
}
ion-card {
  border-radius: 10px;
  overflow: hidden;
  --background-focused: #3498DB;
}
ion-segment-button {
  font-size: smaller;
}
/*link active color*/
.active-item {
  --color: var(--ion-color-primary);
}

.whiteBackground {
  --ion-background-color: white !important;
}
.primaryIcon {
  color: #3498db;
}
.paddingGrid {
  margin-top: 10%;
  margin-bottom: 10%;
}
.paddingTop {
  padding-top: 5%;
}
ion-item-divider {
  background-color: rgb(253, 253, 252);
  margin-bottom: 15px;
  padding: 3%;
  border-radius: 10px;
  height: 45px;
}

ion-back-button {
  display: block;
  color: #3498db;
}

/* Global classes*/

.main-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.main-container2 {
  padding-left: 5%;
  padding-top: 5%;
  background-color: white;
}
.main-container3 {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.buttonContainer {
  margin-left: 2%;
  margin-right: 2%;
}
.toolbarTitle {
  text-align: center;
}

.bold {
  font-weight: 800;
}
.cardProfile2 {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  min-width: 300px;
}

.cardProfile {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
}
.cardProfilePadding {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  padding: 3%;
}

.cardProfilePaddingBottom {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 3%;
}
.cardProfilePaddingBottomMinHeight {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 3%;
}
/*Custom Text*/

.txtTitle {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
}
.txtTitleGray {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
  color: #7f8c8d;
}

.txtTitle2 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.txtTitleNoMargin {
  font-size: 18px;
  font-weight: 700;
}
.txtTitleGoals {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
.txtTitleGoalsDarker {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.txtTitleGoals2 {
  font-size: 14px;
  font-weight: 500;
}
.txtTitleGoals3 {
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
}
.txtTitleGoalsLittle {
  font-size: 12px;
  font-weight: 400;
}
.txtTracking {
  font-size: 12px;
  font-weight: 400;
  margin-top: -15px;
}
.txtTitleGoalsLittle2 {
  font-size: 12px;
  font-weight: 400;
  padding-top: 5%;
  text-align: justify;
}
.txtTitleGoalsLittle3 {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  margin-top: 3%;
}
.txtTitleGoalsGreenBig {
  font-size: 24px;
  font-weight: 700;
  color: #2ecc71;
}
.txtTitleBig {
  font-size: 24px;
  font-weight: 700;
}
.txtTitleTrackingDate {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
}
.txtTitleGreyLeft{
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  text-align: left;
  margin-left: 5%;
  
}
.txtTitleChatDate{
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  text-align: right;
  margin-top: -3px;
}
.txtTitleTrackingLittle{
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  margin-top: -15px;
}
.txtContactLittle {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  text-align: center;
  margin-top: 0%;
  padding-left: 3%;
  padding-right: 3%;
}
.txtPaddingLeft {
  padding-left: 5%;
}
.textMedium {
  text-align: right;
  color: #7f8c8d;
}
.textMediumLeft {
  text-align: left;
  color: #7f8c8d !important;
}

.textMediumGreen {
  text-align: right;
  color: #27ae60;
}
.textMediumGreen {
  text-align: right;
  color: #27ae60;
}
.textBlue {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
.textBlueCenter {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.textBlueBold {
  color: #3498db;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.textOrangeBold {
  color: #F39C12;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
.textBluePadding {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 10%;
}
.textBlueCentered {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.textBlueCentered1 {
  color: #3498db;
  text-align: center;
  align-items: center;
}
.alingRight {
  text-align: right !important;
  padding-right: 10%;
}
.textBlueCenteredTop{
  color: #3498DB;
  text-align: center;
  align-items: center;
  margin-top: -10px;
}
.txtTitleBlueDark {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3498db;
}
.alingLeft{
text-align: left !important;
}
.alingLeftTop {
  text-align: left !important;
  padding-left: 3%;
  margin-top: 3%;
}
.txtSubtitle {
  font-size: 14px;
  font-weight: 600;
}
.txtTitleSuccess{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #2ECC71;
}
.txtTitleWarning{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #F39C12;
}
.txtTitleDanger{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #E74C3C;
}
/*Custom Buttons*/

.deleteButton {
  color: red !important;
  --background: #ffffff;
}
.buttonLink {
  color: #3498db;
  --box-shadow: none;
}
.buttonClose {
  color: red;
  --box-shadow: none;
}
.imgCard {
  // background-image: url(https://img.mobiscroll.com/demos/card_5.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: -10px;
  background-position: center;
}

.noMargin {
  margin-bottom: -5%;
  --background: #ffffff !important;
}

.white {
  --background: #ffffff !important;
}

/* IMAGES */
.img-wrapper {
  background-size: 100% auto;
  border-radius: 50% !important;
  overflow: hidden;
  max-height: 100px;
  max-width: 100px;
  display: block;
  margin: auto;
  margin-top: 3%;
}
.img-wrapper3 {
  background-size: 80% auto;
  background-color: #3498db;
  border-radius: 50% !important;
  overflow: hidden;
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  object-fit: cover;
}
.img-wrapper-doctors {
  background-size: 100% auto;
  border-radius: 50% !important;
  overflow: hidden;
  max-height: 70px;
  max-width: 70px;
  display: block;
  margin-left: 0%;
}

.iconNoData {
  zoom: 4;
  display: block;
  margin: auto;
  padding-top: 30%;
  color: #7f8c8d;
}
.iconNoDataRow {
  zoom: 2;
  padding-top: 6%;
  color: #7f8c8d;
}
/*MEDIA QUERIES IPHONE 5 PORTRAIT*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: portrait) {
  .cardProfile2 {
    --ion-background-color: white !important;
    font-size: 14px;
    font-weight: 400;
    min-width: 250px;
  }
}

/* Notfication classes */
.success {
  background-color: #3498db;
}
.spinnerCenter {
  margin: 20px 40px; 
  text-align: center;
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
    fill: #222;
}

.custom-class {
  color:#DFF2BF; 
  background-color: #4F8A10;
}

.toast-custom-class {
  opacity: 0.9;
  --border-color:#32BEA6;
  --border-radius:50%;
  --border-style:solid;
  --border-width:3px;    
  --background: url("/assets/images/cheque.svg");
  --height: 3.5em;
  --width: 3.5em;
  --start: left;
  animation: draw 3s 1;
  animation-direction: normal;
  top: 35%;
}

.toast-pusher-class {   
  --background: url("https://acegif.com/wp-content/uploads/balloon-3.gif");
  --height: 100%;
  --width: 100%;
  --button-color: rgb(255, 0, 0);
  --color: rgb(70, 68, 68);
  font-size: large;
  font-weight: bolder;
  top: 35%;
}

@keyframes draw {
  0%  {left: -1000px; opacity: 0.2}
  25%  {left: 0px; opacity: 0.75}
  50%  {left: 0px; opacity: 1}
}

.modal-custom-class{

  .modal-wrapper {
    height: 100%!important;
    width:  100%!important;
  }
}

/*IOS STYLES*/

.ios .narRow{
  margin-top: -20px;
}
.ios .paddingTopNoMarginBottom{
padding-top: 3%;
margin-bottom: -3%;
}
.ios .paddingTopNoMarginBottomBlue{
  padding-top: 3%;
  margin-bottom: -3%;
  color: #3498db;
  }
.ios .iosHeader{
  padding-top: 50px;
}
.ios .arrow{
  display: none;
}

/*ANDROID STYLES*/

.md .paddingTopNoMarginBottom{
  padding-top: 6%;
}
.md .paddingTopNoMarginBottomBlue{
  padding-top: 6%;
  color: #3498db;
}

 @media (min-width: 640px) and (max-width: 1023px) and (orientation: landscape) {
  ion-footer{
    height: 18%;
    app-tabs{
      ion-tab-button{
        --padding-bottom: 32% !important;
      }
    }
  }
 }

 @media (min-width: 1024px) and (orientation: landscape) {
  ion-footer{
    height: 15%;
    app-tabs{
      ion-tab-button{
        --padding-bottom: 30% !important;
      }
    }
  }
 }

/* .md ion-header ion-title{
  text-align: center !important;
 } */