@font-face {
    font-family: "Roboto-Regular";
    src: url("/assets/fonts/Roboto-Regular.ttf");
    color: black;
  }

 /* Global styles of the components*/

ion-icon {
    color:#BDC3C7;
}

ion-item-divider {
    background-color: rgb(253, 253, 252);
    margin-bottom: 15px;
    padding: 3%;
    border-radius: 10px;
    height: 45px;
  }

  ion-back-button {
    display: block;
    color:#3498DB;
  }
  /* Global classes*/

  .main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:10%;
    margin-bottom: 5%;
  }

  .toolbarTitle{
text-align: center;
  }

  .bold{
      font-weight: 800;
  }
  .cardProfile{
    --ion-background-color: white!important;
}

.cardProfile{
  --ion-background-color: white!important;
  font-size: 14px;
  font-weight: 400;
}

/*Custom Text*/

.txtTitle{
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
}
.txtTitle2{
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
  padding-top: 10%;
}
.txtTitleGoals{
  font-size: 14px;
  font-weight: 500; 
  text-align: left;

}
.txtTitleGoals2{
  font-size: 14px;
  font-weight: 400;
}
.txtTitleGoalsLittle{
  font-size: 12px;
  font-weight: 400;
}
.txtPaddingLeft{
padding-left: 5%;
}
.textMedium {
  text-align: right;
  color: #7f8c8d;
}
.textMedium {
  text-align: right;
  color: #7f8c8d;
}

.textMediumGreen {
  text-align: right;
  color: #27AE60;
}


/*Custom Buttons*/

.deleteButton{
  color: red !important;
  --background: #ffffff;
}
.buttonLink{
  color: #3498DB;
  --box-shadow:none; 
}
.buttonClose{
  color: red;
  --box-shadow:none; 
}
