@font-face {
    font-family: "Roboto-Regular";
    src: url("/assets/fonts/Roboto-Regular.ttf");
    color: black;
  }

 /* Global styles of the components*/

ion-icon {
    color:#7f8c8d;
}

.primaryIcon {
  color:#3498DB;
}

ion-item-divider {
    background-color: rgb(253, 253, 252);
    margin-bottom: 15px;
    padding: 3%;
    border-radius: 10px;
    height: 45px;
  }

  ion-back-button {
    display: block;
    color:#3498DB;
  }
  
  /* Global classes*/

  .main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:10%;
    margin-bottom: 5%;
  }
  .main-container2 {
  padding-left: 5%;
  padding-top: 5%;
  background-color: white;
  }
  .main-container3 {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    }
  .toolbarTitle{
text-align: center;
  }

  .bold{
      font-weight: 800;
  }
  .cardProfile2{
    --ion-background-color: white!important;
    font-size: 14px;
    font-weight: 400;
    min-width: 300px;
}

.cardProfile{
  --ion-background-color: white!important;
  font-size: 14px;
  font-weight: 400;
}
.cardProfilePadding{
  --ion-background-color: white!important;
  font-size: 14px;
  font-weight: 400;
  padding: 3%;
}
/*Custom Text*/

.txtTitle{
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
}
.txtTitle2{
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
  padding-top: 10%;
}

.txtTitleNoMargin{
  font-size: 18px;
  font-weight: 700;
}
.txtTitleGoals{
  font-size: 14px;
  font-weight: 500; 
  text-align: left;

}
.txtTitleGoals2{
  font-size: 14px;
  font-weight: 400;
}
.txtTitleGoals3{
  font-size: 14px;
  font-weight: 500; 
  padding-left: 15px;

}
.txtTitleGoalsLittle{
  font-size: 12px;
  font-weight: 400;
}
.txtTitleGoalsLittle2{
  font-size: 12px;
  font-weight: 400;
  padding-top: 5%;
  text-align: justify;
  
}
.txtTitleGoalsGreenBig{
  font-size: 24px;
  font-weight: 700;
  color: #2ECC71;
}
.txtTitleTrackingLittle{
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
}
.txtPaddingLeft{
padding-left: 5%;
}
.textMedium {
  text-align: right;
  color: #7f8c8d;
 
}
.textMediumLeft {
  text-align: left;
  color: #7f8c8d!important;
}

.textMediumGreen {
  text-align: right;
  color: #27AE60;
}
.textMediumGreen {
  text-align: right;
  color: #27AE60;
}
.textBlue {
  color: #3498DB;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}


/*Custom Buttons*/

.deleteButton{
  color: red !important;
  --background: #ffffff;
}
.buttonLink{
  color: #3498DB;
  --box-shadow:none; 
}
.buttonClose{
  color: red;
  --box-shadow:none; 
}
.imgCard{
background-image: url(https://img.mobiscroll.com/demos/card_5.png); 
background-repeat: no-repeat;
background-size:cover; margin: -10px;
background-position: center;
}


/*MEDIA QUERIES IPHONE 5 PORTRAIT*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait)
{
  .cardProfile2{
    --ion-background-color: white!important;
    font-size: 14px;
    font-weight: 400;
    min-width: 250px;
}

}