<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Perfil" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'emergency_contact.header' | translate}}</ion-title>
    <ion-buttons slot="end" routerLink="list-my-contacts" >
    <ion-icon slot="icon-only" name="add" color="primary" ></ion-icon>
  </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="listContact.length > 0; else noData"> 
  <ion-list *ngFor="let contact of this.listContact">
    <ion-card class="cardProfile" routerLink="detail-contact" [state]="{contact:contact}">
      <ion-card-content>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img [src]="contact.temporaryUrl">
      </ion-avatar>
      <ion-label >
        <h3>{{contact.full_name}}</h3>
        <ion-item lines="none">
          <ion-text><p>{{contact.socialRelationName}}</p></ion-text>
          <ion-text slot="end"><p>{{contact.phone}}</p></ion-text>
        </ion-item>
      </ion-label>
    </ion-item>
  </ion-card-content>
  </ion-card>
  </ion-list>
</div>
<ng-template #noData>
  <div *ngIf="!this.isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-icon class="iconNoData" name="call"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <h4 style="text-align: center;"> {{ "no_data"| translate}} </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ng-template>
</ion-content>
