.center{
    height: 100%; 
    width: 100%; 
    align-items: center; 
    justify-content: center;
}


hr {
    height: 80%; //del contenedor en el que se encuentre por ejemplo
}


.verticalLine {
    width:1%;
    height:85%;
    background:#2ECC71;
    margin-left:2%;
  }
  .verticalLinePurple {
    width:1%;
    height:85%;
    background:#9B59B6;
    margin-left:2%;
  }
  .verticalLineRed {
    width:1%;
    height:85%;
    background:#E74C3C;
    margin-left:2%;
     }
 .verticalLine2 {
   border-left: 2px solid  #7F8C8D;
   margin-left: 2%; 
   z-index: 1;
}
.dot{
  margin-left: -2%;   
  position: absolute;
  top: 6px;
  left: 20px;
  background: #7F8C8D;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  z-index: 10;
}
  ion-img{
 
    height: 30px;
    color: #2ECC71;
}


  .thumbnail{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      width: 98px !important;
      height: 87px !important;
  }

  ion-list {
    background: none !important
  }

  ion-card {
    box-shadow: none !important;
  }


  .txt-procedures {
    font-family: 'Poppins-medium';
    font-size: 14px;
    line-height: 21px;
    color: var(--malva);
  }

  .txt-body {
    font-family: 'Poppins-Regular';
    color: var(--default-text);
    font-size: 14px;
  }

  .txt-name-diagnostic {
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    color: #3F3F3F;
  }

  .txt-date {
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    color: #7F8C8D;
  }
  
  ion-spinner {
    position: fixed;
    z-index: 999;
    height: 5em;
    width: em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }