<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ this.nameContent | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-caregiver></app-caregiver>
  <div *ngIf="listItem.length > 0 && permissionService.canViewMedicalProcedures; else noData">

    
            <ion-list  *ngFor="let list of this.listItem">
              <ion-card
                class="cardProfile"
               
              >
              <ion-item class="ion-no-padding item" lines="none" mode="ios">
                <ion-thumbnail class="thumbnail" slot="start">
                  <img
              class="paddingRight imagefit"
              src='assets/images/shared-care-plan/medical_procedure.png'
              alt=""
            />
                </ion-thumbnail>
                <ion-grid style="height: 100% !important">
                  <ion-row>
                    <ion-text style="color: var(--malva)" >{{list.title}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text >{{list.type}}</ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-text><strong>{{list.description}}</strong> </ion-text>
                  </ion-row>
                  <ion-row  class="txtTitleGoals textAdvicesSlider">
                      <ion-text class="txtTitleTrackingDate">
                        {{transformDate(list.date)}}
                      </ion-text>
                  </ion-row>
                </ion-grid>
               
              </ion-item>
  
                
              </ion-card>
            </ion-list>

          
     <!--<ion-grid *ngFor="let content of listItem" class="ion-no-padding" >  
        <ion-row>
          <ion-col size="0.8" >    
            <ion-icon class="center" *ngIf="getIsDateInPast(content?.date)"
            src='/assets/icons/shared-care-plan/ellipse5.svg'
            ></ion-icon>&nbsp; 
            <ion-icon class="center" *ngIf="!isDateInPast"
            src='/assets/icons/shared-care-plan/ellipse.svg'
            ></ion-icon>&nbsp;
          </ion-col>
          <ion-col size="11.2">   
            <ion-text class="center" :style="{ color: isDateInPast ? '#575757' : 'var(--malva)' }">
              <h5>&nbsp; 
                {{ this.setDate(content?.date) }}
              </h5>
            </ion-text>         
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="0.8" style="align-items: center;">  
          <ion-icon style="font-size: large; width: 100%; height: 100%;" *ngIf="isDateInPast" src='/assets/icons/shared-care-plan/lineStroke.svg'></ion-icon>
          <ion-icon style="font-size: large; width: 100%; height: 100%;" *ngIf="!isDateInPast" src='/assets/icons/shared-care-plan/linea.svg'></ion-icon>
          
        </ion-col>
          <ion-col size="11.2"   > 
            <app-procedure *ngFor="let content of this.listItem"
            [content]="content"></app-procedure>
          </ion-col>
          
        </ion-row>
      </ion-grid>-->

    
  </div>

  <ng-template #noData>
    <app-no-data></app-no-data>
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
