<ion-header>
  <ion-toolbar mode="ios">
       <ion-buttons slot="start">
      <ion-back-button (click)="close()" text="" icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{'documents_add.header' | translate }} </ion-title>
    <ion-buttons slot="end">
    <!-- <ion-button (click)="submit()" [disabled]="this.isLoading">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button> -->
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" [formGroup]="form" style="padding-bottom: 30%;">
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item (click)="openModal()">
        <ion-label  stacked>
          <h5>{{ 'documents_add.field_test_type' | translate }}</h5>
          <ion-note *ngIf="this.isSubmittedType && this.form.get('type').invalid" class="error" color="danger">{{ 'error_required' | translate}}</ion-note>
        </ion-label>
        <ion-input formControlName="type" slot="end" [placeholder]="changePlaceholder()" (ionInput)="isSubmittedType = false"></ion-input>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-label  stacked>
          <h5>{{ 'documents_add.field_title' | translate }}</h5>
          <ion-note *ngIf="this.isSubmittedTitle && this.form.get('title').invalid" class="error" color="danger"><p>{{ 'error_required' | translate}}</p></ion-note>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea labelPlacement="start" formControlName="title" (ionInput)="isSubmittedTitle = false" maxlength="100"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label  stacked>
          <h5 >{{ 'documents_add.field_date' | translate}}</h5>
          <ion-note *ngIf="this.isSubmittedDate && this.form.get('date').invalid" class="error" color="danger"><p>{{ 'error_required' | translate}}</p></ion-note>
        </ion-label>
        <ion-datetime-button slot="end" datetime="date"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true" [backdropDismiss]="false">
        <ng-template>
          <ion-datetime mode="ios" [locale]="this.locale" (ionInput)="isSubmittedDate = false" presentation="date" id="date" (ionChange)="this.isSubmittedDate = false;" formControlName="date"></ion-datetime>
          <ion-buttons mode="ios" slot="buttons" style="background-color: white;">
            <ion-button class="btn-style-1" mode="ios" color="danger"  slot="start"></ion-button>
            <ion-button class="btn-style-1" mode="ios" style="width: 50px;"></ion-button>
            <ion-button class="btn-style-1" mode="ios" color="primary" slot="end" (click)="close();">{{'button.confirm' | translate}}</ion-button>
          </ion-buttons>
        </ng-template>
      </ion-modal>
              <!-- FIXME: <ion-datetime cancelText="{{'button.cancel' | translate}}" doneText="{{'button.accept' | translate}}" formControlName="date" [displayFormat]="this.dateService.getShortDateFormat()" (ionInput)="isSubmittedDate = false" [placeholder]="this.dateService.ddMMyyyyFormat(this.currentDate)" min="1990-01-01" [max]="this.dateMax"></ion-datetime> -->
              <!-- <ion-datetime cancelText="{{'button.cancel' | translate}}" doneText="{{'button.accept' | translate}}" formControlName="date"  min="1990-01-01" [max]="this.dateMax"></ion-datetime> -->


      <ion-item lines="none">
          <ion-label  stacked>
            <h5>{{ 'documents_add.field_description' | translate }}</h5>
          </ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea rows="8" formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-label  stacked>
          <h5>{{ 'documents_add.field_private' | translate }}</h5>
        </ion-label>
        <ion-checkbox color="primary" formControlName="private"></ion-checkbox>

      </ion-item>
    </ion-list>
  </ion-card>


<ion-card class="cardProfile" text-wrap>
  <form>
    <ion-list text-wrap>
      <ion-item lines="none">
        <ion-label  stacked>
          <h5>{{ 'documents_add.attachments' | translate }}</h5>
        </ion-label>
      </ion-item>

        <app-file-upload #uploadFile [media]="this.media"></app-file-upload>

    </ion-list>
  </form>
</ion-card>
</form>

  <!-- <section>
    
    <ion-button [disabled]="this.isLoading" *ngIf="!this.isEdit" expand="block"  (click)="submit()" >{{'documents_add.button_add_result' | translate }}</ion-button>
    
    <ion-button *ngIf="this.isEdit" expand="block"  (click)="presentAlertConfirm()" >{{'button.delete' | translate }}</ion-button>
  </section> -->
</ion-content>


<ion-footer>
 

  <div style="background-color: var(--default-bkg);" style="display: flex; justify-content: center;">
    <ion-button  *ngIf="this.isEdit" (click)="presentAlertConfirm()" color="danger" shape="round" class="floating-button ion-margin" style="margin-bottom: 18%;" >
      {{'button.delete' | translate }}
    </ion-button>
  </div>

  <div style="background-color: var(--default-bkg);" style="display: flex; justify-content: center;">
    <ion-button [disabled]="this.isLoading" *ngIf="this.isEdit" (click)="submit()" color="primary" shape="round" class="floating-button ion-margin">
      {{'documents_add.button_add_result' | translate }}
    </ion-button>
  </div>

  <div style="background-color: var(--default-bkg);" style="display: flex; justify-content: center;">
    <ion-button [disabled]="this.isLoading" *ngIf="!this.isEdit" (click)="submit()" color="primary" shape="round" class="floating-button ion-margin">
      {{'documents_add.button_add_result' | translate }}
    </ion-button>
  </div>

 



</ion-footer>
