.btn-style-1 {
    width: 100%;
    background-color: white;
}


.floating-button {
    width: 90%;
    position: absolute;
    bottom: 100%;
    --background: transparent; 
    text-transform: none;
    height: 50px !important;
  }
  
  ion-footer {
    position: relative; 
  }