.btn-style-1 {
    width: 100%;
    background-color: white;
}


.floating-button {
    width: 90%;
    //position: absolute;
    //bottom: 100%;
    --background: transparent; 
    text-transform: none;
    height: 50px !important;
  }
  
  ion-footer {
    position: relative; 
  }

  ion-label {
    --color: var(--default-text) !important;
  }
  ion-card{
    box-shadow: none !important;
  }
  
  .typography{
    font-family: 'Poppins-Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  
  }