<ion-header>
  <ion-toolbar>
       <ion-buttons slot="start">
      <ion-back-button (click)="close()" text="{{'button.cancel' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'documents_add.header' | translate }} </ion-title>
    <ion-button fill="clear" slot="end"  (click)="submit()" [disabled]="enableButtonAddFile()">
      {{'button.ok' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submit()" [formGroup]="form">
  <ion-card class="cardProfile">
    <ion-list>
      <ion-item (click)="openModal()">
        <ion-label>{{ 'documents_add.field_test_type' | translate }}</ion-label>
        <ion-input formControlName="type" slot="end" [placeholder]="changePlaceholder()" (ionInput)="isSubmittedType = false"></ion-input>
        <ion-note *ngIf="this.isSubmittedType && this.form.get('type').invalid" class="error ion-padding" color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'documents_add.field_title' | translate }}</ion-label>
        <ion-input formControlName="title" slot="end" (ionInput)="isSubmittedTitle = false"></ion-input>
        <ion-note *ngIf="this.isSubmittedTitle && this.form.get('title').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'error_required' | translate}}</p></ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'documents_add.field_date' | translate }}</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD/MM/YY" (ionInput)="isSubmittedDate = false" placeholder=" {{  this.currentDate | date: 'dd/MM/YYYY' }} " min="1990-01-01" [max]="this.currentDate"></ion-datetime>
        <ion-note *ngIf="this.isSubmittedDate && this.form.get('date').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'error_required' | translate}}</p></ion-note>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'documents_add.field_description' | translate }}</ion-label>
        <ion-textarea slot="end" formControlName="description"></ion-textarea>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-label>{{ 'documents_add.field_private' | translate }}</ion-label>
        <ion-checkbox color="primary" formControlName="private"></ion-checkbox>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>


<ion-card class="cardProfile" text-wrap>
  <form>
    <ion-list text-wrap>
      <ion-item lines="none">
        <ion-label>{{ 'documents_add.attachments' | translate }}</ion-label>
      </ion-item>

      <input
      type="file"
      #fileInput
      (change)="uploadFileFromBrowser($event)"
      hidden="true"
      accept="image/*">

      <ion-button slot="start" 
        fill="clear" 
        (click)="selectImageSource()"
        [disabled]="enableButtonAddFile()">{{'report_problem.button_add_file' | translate }}
        <ion-icon slot="start" name="add-circle" class="primaryIcon"></ion-icon>
      </ion-button>


        <div id="container" style="margin-top: 10px; margin-bottom: 10px;">

          <div *ngFor="let file of this.media; let i = index">
            <ion-item lines="none">
            <div id="left">
              <ion-icon name="open" color="primary" (click)="openFile(file)"></ion-icon>
            </div>
            <div id="middle">
              <p class="titule">{{ getName(file)  }}</p>
            </div>
            <div id="right">
              <ion-icon style="margin-left: 8px;" name="close-circle" color="primary" (click)="presentAlertConfirm(file, true, i, false)"></ion-icon>
            </div> 
          </ion-item>
        </div>  

          <div *ngFor="let file of this.mediaFiles">
            <ion-item lines="none">
              <div id="left">
                <ion-icon name="open" color="primary" (click)="openFile(file)"></ion-icon>
              </div>
              <div id="middle">
                <p class="titule">{{ getName(file)  }}</p>
              </div>
              <div id="right">
                <ion-icon style="margin-left: 8px;" name="close-circle" color="primary" (click)="presentAlertConfirm(file, true, i, true)"></ion-icon>
              </div> 
            </ion-item>
          </div>       
        </div>


    </ion-list>
  </form>
</ion-card>
</form>

  <section>
    <ion-button [disabled]="enableButtonAddFile()" *ngIf="!this.isEdit" expand="block"  (click)="submit()" >{{'documents_add.button_add_result' | translate }}</ion-button>
    <ion-button *ngIf="this.isEdit" expand="block"  (click)="presentAlertConfirm(null, false)" >{{'button.delete' | translate }}</ion-button>
  </section>  
</ion-content>
