<ion-content [ngClass]="[slidesType==1? 'content1' : 'content2']">
  <div class="line">
    <div class="title" >{{information.title}}</div>
    <ion-button slot="end"  fill="clear" class="bottonTitle">{{information.textTitleButton}}</ion-button>
  </div>

  <ion-slides *ngIf="slidesType == 1" #slider pager="true" pager="false" [options]="sliderConfig">
    <ion-slide *ngFor="let slide of this.information.content">
      <ion-card class="customCard1">
        <ion-icon name="close-circle" class="close-card"></ion-icon> 
        <ion-img  [src]="slide.image"></ion-img><br>
        <ion-card-title>{{slide.title}}</ion-card-title>
        <ion-card-subtitle>{{slide.description}}</ion-card-subtitle>
        <ion-button>Registrarme</ion-button>
      </ion-card>
    </ion-slide> 
  </ion-slides>

  <ion-slides *ngIf="slidesType == 2" #slider pager="true" pager="false" [options]="sliderConfig">
    <ion-slide *ngFor="let slide of this.information.content">
      <ion-card class="customCard2">
        <ion-card-header class="line">
            <ion-card-subtitle>{{slide.title}}</ion-card-subtitle>
            <ion-icon name="close" class="close-card"></ion-icon> 
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-img  [src]="slide.icon"></ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-card-subtitle>{{slide.appointment.doctorName}}</ion-card-subtitle>
                <ion-card-subtitle>{{slide.appointment.date}}</ion-card-subtitle>
                <ion-button size="small" fill="clear">
                  Detalle</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>  
    
  </ion-slides>

</ion-content>
