.paddingGrid2 {
   padding-top: 3%;
    background-color: white !important;
  }
  
  .txtTitle {
    font-size: 18px;

  }
  
  .whiteBackground {
    --ion-background-color: white !important;
  }
  
  .textMedium {
    text-align: right;
    color: #7f8c8d;
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
  }
  
  .ios .arrow{
    display: none;
  }

  ion-label {
    color: var(--default-text) !important;
  }