<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'agenda.header_agenda' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (reminder.origin == 1)? ('reminder.personal_reminder' | translate): ('reminder.medical_reminder' |
      translate)}}</ion-title> <!-- event.type -->
    <ion-button *ngIf="reminder.origin == 1" fill="clear" slot="end" routerLink="/reminder-add"
      [state]="{event: reminder}">
      {{ 'button.edit' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="whiteBackground">
    <ion-grid class="paddingGrid2">
      <ion-row>
        <ion-col size="12">
          <ion-img class="img-wrapper"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-row>
        <ion-text class="txtTitle">{{reminder?.title}}</ion-text>
      </ion-row>
      <ion-item routerLink="doctor" [state]="{doctor: staff}" *ngFor="let staff of reminder.staff; let i = index"
        [lines]="(i == reminder?.staff.length-1)? 'full': 'none'">
        <ion-label>{{(i == 0)? ('reminder.field_doctor' | translate): ''}}</ion-label>
        <ion-text class="textMedium">{{staff.name}}</ion-text>
        <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label> {{ 'reminder.field_notes' | translate }}</ion-label>
        <ion-textarea class="textMedium" [innerHtml]="reminder.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'reminder.field_type' | translate }}</ion-label>
        <ion-text class="textMedium">{{reminder?.agendaType?.name}}</ion-text>
      </ion-item>
      <ion-item routerLink="detail" [state]="{ event: reminder}">
        <ion-label>{{ 'reminder.field_appointment' | translate }}</ion-label>
        <ion-text class="textMedium">{{reminder?.title}}</ion-text>
        <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-label>{{ 'reminder.field_start' | translate }}</ion-label>
        <ion-text class="textMedium">{{ formatSelectedDate(reminder?.start_date) }}</ion-text>
      </ion-item>
      <ion-item lines="none" (click)="showDays()">
        <ion-label>{{'reminder.field_repeat' | translate}}</ion-label>
        <ion-text class="textMedium">{{this.frequency}}</ion-text>
        <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

<!--   <ion-card *ngIf="reminder?.origin === 0" class="cardProfile">
    <ion-item>
      <ion-label>{{'reminder.field_comments_doctor' | translate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="{{'reminder.placeholder_comments' | translate}}"></ion-textarea>
    </ion-item>
  </ion-card> -->

</ion-content>