<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="toolbarTitle">{{'setting.testimonials' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tracking/lifestyle-habits" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content view-cached=”false”>
  <app-caregiver></app-caregiver>
  <!-- SegmentBar -->
  <ion-searchbar *ngIf="this.permissionService.canViewTestimonials" 
    mode="ios"
    (ionInput)="filterListTertimonials($event)" 
    (ionClear)="getNewsTestimonial()"
    placeholder="{{ 'advices.searchbar' | translate}}">
  </ion-searchbar>
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <div>
    <ion-list *ngIf="items.length > 0; else noData">

      <app-view-more-information [content]="items"></app-view-more-information>
    </ion-list>
  </div>
  <ng-template #noData>
    <div *ngIf="!this.isLoading">
      <app-no-data></app-no-data>

    </div>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>