<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button text="" (click)="close()"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>{{'advices.tag_advices'| translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner ></ion-spinner>
  </div>
  <ion-row style="margin-top:5%; margin-bottom: 5%;">
    <ion-text  class="txtTitleBlueDark">{{advice?.name}}</ion-text>
  </ion-row>

  <ion-card class="cardProfile">
<!--     <ion-card-header>    </ion-card-header> -->
    <img *ngIf="advice.image" class="imagefit" [src]="advice.image.temporaryUrl">
    <ion-item  *ngIf="advice.image" lines="none">
      <ion-icon *ngIf="!hide" color="secundary" name="eye" slot="end" (click)= "setContentStatus('hide')"></ion-icon>
      <ion-icon *ngIf="hide" color="primary" name="eye-off" slot="end" (click)= "setContentStatus('hide')"></ion-icon>
      <ion-icon [color]="(this.like)? 'primary':'secundary' " name="thumbs-up" slot="end" (click)= "setContentStatus('like')"></ion-icon>
      <ion-icon [color]="(this.favourite)? 'primary':'secundary' "name="star" slot="end" (click)= "setContentStatus('favourite')"></ion-icon>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-text style="color:#141414; font-weight: bold;"> {{advice?.name}}</ion-text>
    </ion-item> -->
    <ion-item lines="none" *ngIf="advice.description" padding>
      <span [innerHTML]="advice.description"></span>
    </ion-item>
  </ion-card>

  <div *ngIf="link" #frame
    style="width:100%;height:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
    <iframe [src]="link" class="iframe" scrolling="yes"></iframe>
  </div>
  <div class="main-container" *ngIf="linkpdf2 || video">
    <ion-text class="txtTitleNoMargin">Enlaces directos</ion-text>
  </div>
  <ion-card class="cardProfilePadding" *ngIf="video" (click)="openVideo()">
    <ion-row>
      <ion-col size="4" class="imgCardMedia">
      </ion-col>
      <ion-col size="8">
        <ion-card-title class="txtTitleGoals3">{{videoTitle}}</ion-card-title>
        <p class="txtTitleGoals3"> {{videoDescription}}</p>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="cardProfilePadding" *ngIf="linkpdf2" (click)="openFile()">
    <ion-row>
      <ion-col size="4" class="imgCardPdf">
      </ion-col>
      <ion-col size="8">
        <ion-card-title class="txtTitleGoals3">{{linkPdfTitle}}</ion-card-title>
        <p class="txtTitleGoals3"> {{linkPdfDescription}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>