.select-text {
    font-size: 80px;
}

ion-select::part(text) {
    color: var(--Label-Light-Secondary, rgba(60, 60, 67, 0.60));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Poppins-Regular';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: -0.078px;
}

ion-select::part(icon) {
    font-size: 20px;
    width: 30px;
}

ion-list {
    background-color: transparent;
}

.btn {
    border-radius: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    height: 50px;
    padding-left: 3%;
    padding-right: 3%;
    text-transform: none;
    margin-top: 5%; 
    width: 100%;
}

ion-card {
    box-shadow: none
}

.label-files {
    color: var(--ion-color-medium);
    margin-right: 3%;
    font-size: 15px;
    text-align: end;
}

.sc-ion-input-md-h {
    --placeholder-color: black;
    --placeholder-opacity : 0.6 !important
}

.sc-ion-input-ios-h {
    --placeholder-color: black;
    --placeholder-opacity : 0.6 !important
}


ion-label {
    --color: var(--default-text) !important;
  }