<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="{{ 'button.cancel' | translate}}"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'contact.new_visit' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form (ngSubmit)="submit()" [formGroup]="form" style="padding-bottom: 30%;">
    <ion-list>
      <ion-card class="cardProfile" class="cardProfile" (click)="openProfesionalModal()">
        <ion-card-content style="padding-left: 1%; padding-right: 0px;">
          <ng-container *ngIf="this.staff; else selectProfesional">
            <ion-item lines="none">
              <img [src]="this.staff?.image" class="img-wrapper-doctors" />
              <div class="txtPaddingLeft">
                <ion-label>{{ this.staff?.name}}</ion-label>
                <ion-label class="textMediumLeft">
                  {{ this.staff?.specialty }}
                </ion-label>
              </div>
              <ion-icon slot="end" src="assets/icons/challenge_card_btn.svg"></ion-icon>
            </ion-item>
          </ng-container>

          <ng-template #selectProfesional>
            <ion-item lines="none">
              <ion-label class="custom-label">{{'bookings.profesional' | translate}}</ion-label>

              <ion-note *ngIf="this.isSubmittedProfessional && this.form.get('staff_id').invalid" class="error ion-padding"
            color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>

              <ion-icon slot="end" src="assets/icons/challenge_card_btn.svg"></ion-icon>
            </ion-item>
          </ng-template>
          
        </ion-card-content>
      </ion-card>


    </ion-list>

    <ion-card class="cardProfile" style="margin-top: 0px">
      <ion-list>
        <ion-item lines="none" (click)="this.openCalendarModal()">
          <ion-label class="custom-label">{{'bookings.field_date' | translate}}</ion-label>
          <ion-input class="textMedium" formControlName="date" required placeholder="{{'bookings.placeholder' | translate}}"></ion-input>
          <ion-note *ngIf="this.isSubmittedStartDate && this.form.get('date').invalid" class="error ion-padding"
            color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>
            <ion-icon slot="end" src="assets/icons/challenge_card_btn.svg"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item lines="full">
          <ion-label class="custom-label">{{'bookings.type' | translate}}</ion-label>
 
          <ion-item lines="none" slot="end">
            <ion-select required value="{{this.selectedType}}" (ionChange)="onTypeSelect($event)" placeholder="{{'bookings.placeholder' | translate}}" formControlName="online" toggleIcon="assets/icons/challenge_card_btn.svg">

              <ion-select-option value="{{this.types[0].label | translate}}">{{'bookings.types.online' | translate}}</ion-select-option>
              <ion-select-option value="{{this.types[1].label | translate}}">{{'bookings.types.presential' | translate}}</ion-select-option>
            </ion-select>

            <ion-note *ngIf="this.isSubmittedOnline && this.form.get('online').invalid" class="error marginl"
            color="danger" slot="end">{{ 'error_required' | translate}}</ion-note>

          </ion-item>
       

      </ion-item>
        <ion-radio-group formControlName="user_comments" (ionChange)="onReasonSelect($event)">
          <ion-item lines="none">
            <ion-label class="custom-label">{{'bookings.reason_appointment' | translate}}</ion-label>
          </ion-item>        
          <div *ngFor="let reason of reasons; let i = index; let isLast=last">
            <ion-item [lines]="isLast ? 'full' : 'none'">
              <ion-label>{{ reason.label | translate }}</ion-label>
              <ion-radio slot="start" value="{{reason.label | translate}}"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>

        <ion-item lines="none"> 

          <ion-label class="custom-label">{{'bookings.attachments' | translate}}</ion-label>

          

          <ion-label slot="end" class="label-files">{{this.numFile}}/6</ion-label>
        </ion-item>
       
        <ion-item lines="none" class="textMediumLeft">{{'bookings.text_attachments' | translate}}
        </ion-item>
        <app-file-upload (numFilesChange)="enableButtonAddFile()" #uploadFile></app-file-upload>
      </ion-list>
    </ion-card>

    <!-- <div class="buttonContainer">
      <ion-button type="button" color="primary" shape="round" class="btn" (click)="this.submit()">
        {{'bookings.button_videocall' | translate}}
      </ion-button>
    </div> -->
  </form>

</ion-content>


<ion-footer>
  <div style="background-color: var(--default-bkg);" style="display: flex; justify-content: center;">
    <!-- Floating Button -->
    <ion-button (click)="this.submit()" color="primary" shape="round" class="floating-button ion-margin" style="margin-bottom: 66px;">
      {{'bookings.button_videocall' | translate}}
     </ion-button>
  </div>
</ion-footer>