<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'about_us.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div *ngIf="this.information!== undefined">
    <!-- <div [innerHtml]="this.information"></div> -->
    <div [innerHtml]="this.information"></div>
  </div>
</ion-content>
