<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/profile/emergency-contacts"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ isNewContact? ('edit_contact.header_add' | translate) : ('edit_contact.header' | translate) }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="sumittedContact()">
        <ion-icon name="checkmark-outline"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="paddingGrid">
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="(contact !== undefined && contact?.temporaryUrl !== undefined)? contact?.temporaryUrl: userImage" class="img-wrapper"></ion-img>
      </ion-col>
    </ion-row>
<!--     <ion-row>
      <ion-col *ngIf='this.contact !== undefined'>
        <h3 style="text-align: center;"> {{this.contact.name}}</h3>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  
    <form [formGroup]="formContact" (ngSubmit)="this.addCard()">
    


      <ion-card class="cardProfile">
        <ion-list>

          
          <ion-item>
            <ion-label stacked>
              <h5 >{{ 'detail_contact.username' | translate}}</h5>
              <ion-note *ngIf="this.isSubmittedName && this.formContact.get('full_name').invalid" class="error" color="danger"><p>{{ 'edit_contact.error_required' | translate}}</p></ion-note>
            </ion-label>
            <ion-input style="width: 50% !important;" class="textMedium" formControlName="full_name" placeholder="" slot="end" (ionFocus)="isSubmittedName = false" maxlength="200" required></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label  stacked>
              <h5 >{{ 'detail_contact.telephone' | translate}}</h5>
              <ion-note *ngIf="this.isSubmittedTelephone && this.formContact.get('phone').invalid" class="error" color="danger"><p>{{ 'edit_contact.error_required' | translate}}</p></ion-note>
            </ion-label>
            <ion-input style="width: 50% !important;" class="textMedium" formControlName="phone" placeholder="" slot="end" (ionFocus)="isSubmittedTelephone = false" maxlength="20" required></ion-input>
          </ion-item>
    
          <ion-item routerLink="../list-relationship"  routerLinkActive='active-item'>
            <ion-label  stacked>
              <h5 >{{ 'detail_contact.family_relationship' | translate}}</h5>
              <ion-note slot="start"  *ngIf="this.isSubmittedRelationship && this.formContact.get('socialRelationName').invalid"class="error " color="danger">{{ 'edit_contact.error_required' | translate}}</ion-note>
            </ion-label>
            <ion-input style="width: 50% !important;" class="textMedium" formControlName="socialRelationName" placeholder="" slot="end" (ionFocus)="isSubmittedRelationship = false" maxlength="100" required></ion-input>
          </ion-item>
        </ion-list>
      </ion-card>


  </form>



  <section *ngIf="!this.isNewContact">
    <ion-button class="deleteButton" expand="block" (click)="presentAlertDeleteConfirm()">{{ 'detail_contact.button_delete' | translate}}</ion-button>
  </section>
</ion-content>
