<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ isNewContact? ('edit_contact.header_add' | translate) : ('edit_contact.header' | translate) }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="sumittedContact()">
        <ion-icon name="checkmark-outline"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="paddingGrid">
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="(contact !== undefined && contact?.temporaryUrl !== undefined)? contact?.temporaryUrl: userImage" class="img-wrapper"></ion-img>
      </ion-col>
    </ion-row>
<!--     <ion-row>
      <ion-col *ngIf='this.contact !== undefined'>
        <h3 style="text-align: center;"> {{this.contact.name}}</h3>
      </ion-col>
    </ion-row> -->
  </ion-grid>

  <ion-card class="cardProfile">
    <form [formGroup]="formContact" (ngSubmit)="this.addCard()">
    <ion-list>
      <ion-item>
        <ion-label  class="txtTitleGoals">{{ 'detail_contact.username' | translate}}</ion-label>
        <ion-input class="textMedium" formControlName="full_name" placeholder="" slot="end" (ionInput)="isSubmittedName = false" maxlength="200" required></ion-input>
        <ion-label class="textMedium" *ngIf="this.isSubmittedName && this.formContact.get('full_name').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'edit_contact.error_required' | translate}}</p></ion-label>
    
      </ion-item>
      <ion-item>
        <ion-label class="txtTitleGoals">{{ 'detail_contact.telephone' | translate}}</ion-label>
        <ion-input class="textMedium" inputmode="numeric" formControlName="phone" placeholder="" slot="end" (ionInput)="isSubmittedTelephone = false" maxlength="20" required></ion-input>
        <ion-label class="textMedium" *ngIf="this.isSubmittedTelephone && this.formContact.get('phone').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'edit_contact.error_required' | translate}}</p></ion-label>
 
      </ion-item>
      <ion-item lines="none"  routerLink="../list-relationship"  routerLinkActive='active-item'>
        <ion-label class="txtTitleGoals">{{ 'detail_contact.family_relationship' | translate}}</ion-label>
        <ion-input class="textMedium" formControlName="socialRelationName" placeholder="" slot="end" (ionInput)="isSubmittedRelationship = false" maxlength="100" required></ion-input>
        <ion-label class="textMedium" *ngIf="this.isSubmittedRelationship && this.formContact.get('socialRelationName').invalid" class="error ion-padding" color="danger" slot="end"><p>{{ 'edit_contact.error_required' | translate}}</p></ion-label>
   
      </ion-item>
    </ion-list>
  </form>
  </ion-card>


  <section *ngIf="!this.isNewContact">
    <ion-button class="deleteButton" expand="block" (click)="presentAlertDeleteConfirm()">{{ 'detail_contact.button_delete' | translate}}</ion-button>
  </section>
</ion-content>
