<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'documents_add.header_test_type' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-searchbar 
  [animated]="true" 
  (ionInput)="filterList($event)" >
</ion-searchbar>
<ion-list *ngFor="let test of listTestType">
  <ion-item>
    <ion-label class="txtPaddingLeft" (click)="closeModal(test)">{{test.name}}</ion-label>
  </ion-item>

</ion-list>

</ion-content>
