<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'shared_care_plan.monitoring' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content view-cached=”false”>
  <app-caregiver></app-caregiver>
  <div>

<!--     canDoHealhCharts && 
 -->    <ion-list *ngIf="items.length > 0; else noData" >
      <ion-card
        class="cardProfile"
        routerLink="/tracking/activity-goal"
        [state]="{id: doc.form_id, header: doc.title}"
        routerLinkActive="active-item"
        *ngFor="let doc of items" >
      <ion-item class="ion-no-padding item" lines="none" mode="ios">
        <ion-thumbnail class="thumbnail" slot="start">
          <img
            class="img"
            src="assets/images/shared-care-plan/healthcharts.png"
            alt=""
          />
        </ion-thumbnail>
        <ion-grid style="height: 100% !important">
          <ion-row>
            <ion-text style="color: var(--malva)" >
              {{doc.title}}
            </ion-text>
            <ion-buttons slot="end">
              <ion-icon name="chevron-forward-outline" class="icono-personalizado"></ion-icon>
            </ion-buttons>
          </ion-row>
        
          <ion-row>
            <ion-text class="txtTitleGoalsDarker textAdvicesSlider">
             <strong>{{  'shared_care_plan.lastValue'| translate}} {{doc.lastdata}}</strong>
             </ion-text>
           
          </ion-row>
          <ion-row  class="txtTitleGoals textAdvicesSlider">
              <ion-text class="txtTitleTrackingDate">
                {{transformDate(doc.date)}}
              </ion-text>
          </ion-row>
        </ion-grid>
        <ion-buttons slot="end" style="margin-bottom: 20%;">
          <ion-icon name="chevron-forward-outline" class="icono-personalizado"></ion-icon>
        </ion-buttons>
      </ion-item>

        
      </ion-card>
    </ion-list>



     <!--<ion-list *ngIf="items.length > 0; else noData">
        <app-scp-med-for-mon *ngFor="let content of items" [content]="content" (redirect)="handleRedirect($event)"></app-scp-med-for-mon>
   </ion-list>-->
  </div>
  <ng-template #noData>
    <div *ngIf="!this.isLoading">
      <app-no-data></app-no-data>
  </div>
  </ng-template>
  </ion-content>
<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
