<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'shared_care_plan.monitoring' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content view-cached=”false”>
  <app-caregiver></app-caregiver>
  
  <ng-container  *ngIf="this.isLoading; else finishedLoading">
    <ion-spinner ></ion-spinner>
      </ng-container>

   <ng-template #finishedLoading>

    <ng-container *ngIf="items.length > 0; else noData">
      <ion-list style="padding-top: 5%;">

        <ion-card *ngFor="let doc of items"class="cardProfile" style="margin-top: 0px;" routerLink="/tracking/activity-goal" [state]="{id: doc.form_id, header: doc.title}"
        routerLinkActive="active-item">
  
  
          <ion-card-content style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
            <ion-grid style="width: 100%; height: 100% !important">
  
              <ion-row>
  
                <ion-col size="3" style="display: flex; align-items: center; justify-content: center;">
                  <ion-icon style="width: 100%; height: 100%" src="assets/icons/health.svg"></ion-icon>
                </ion-col>
  
                <ion-col size="9">
  
                  <ion-row style="padding-bottom: 1%;">
                    <ion-col size="8">
                      <ion-text class="txt-procedures">{{ doc.title.length > 30 ? (doc.title | slice:0:30) + '...' : doc.title }}</ion-text>
                    </ion-col>
  
                    <ion-col size="4" style="display: flex; align-items: center; justify-content: end">
                      <ion-icon src="assets/icons/challenge_card_btn.svg" color="primary"></ion-icon>
                    </ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col size="12" style="padding-bottom: 0px; padding-top: 0px;">
                      <ion-text class="txt-name-diagnostic">{{ 'shared_care_plan.lastValue'| translate}} {{doc.lastdata}}</ion-text>
                    </ion-col>
                  </ion-row>
  
                  <ion-row>
                    <ion-col size="12" style="padding-bottom: 0px; padding-top: 0px;">
                      <ion-text class="txt-date">{{transformDate(doc.date)}}</ion-text>
                    </ion-col>
                  </ion-row>
  
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </ng-container>

    <ng-template #noData>
      <div *ngIf="!this.isLoading">
        <app-no-data></app-no-data>
      </div>
    </ng-template>
  </ng-template>

    

    

  
  

</ion-content>
<ion-footer>
    <app-tabs></app-tabs>
</ion-footer>