<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Agenda</h1>
    </ion-slide>
    <ion-slide>
      <h1>Contacta</h1>
    </ion-slide>
    <ion-slide>
      <h1>Seguimiento</h1>
    </ion-slide>
    <ion-slide>
      <h1>Mi Diario</h1>
    </ion-slide>
    <ion-slide>
      <h1>Novedades y Consejos</h1>
    </ion-slide>
    <ion-slide>
      <h1>Mi Perfil</h1>
    </ion-slide>
    
  </ion-slides>
</ion-content>
