.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0 ;
}

.seeAll {
  color: var(--seeAllColor);
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

ion-card-content {
  padding-top: 20px;
}


.take-btn {
  --background: var(--ion-color-primary) !important;
}

.greeting {
  color: var(--ion-color-primary);
  font-family: 'Poppins-Medium';
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.03px;
}

.icon-notifications {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.icon-menu {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.slidersHeader{
  width: 100%; 
  display: inline-flex !important; 
  align-items: center;
  font-weight: bolder;
}


.imgProfile {
  width: 30px;
}
.active-item {
  --color: var(--ion-color-primary);
}
.txtTitleHome {
  font-size: 18px;
  font-weight: 700;
  margin: 4%;
  text-align: left;
}
.txtTitleHome1 {
  font-size: 18px;
  font-weight: 700;
  margin: 0%;
  padding: 0% !important; //padding: 0px 0px 8px 0px;
  text-align: left;
}
.txtSubTitleHome {
  font-size: 14px;
  font-weight: 500;
  margin: 4%;
  text-align: left;
}
.size-50 {
  height: 50px;
  width: 50px;
}

.level-image {
  height: 60%;
  width: 60%;
  margin: auto;
  border: 2px brown;
  margin-top: 10%;
  display: block;
  border-radius: 15px;
  background-color: white;
}

.button-size {
  font-size: x-small;
}

.level-card {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
}

.progress-bar {
  width: 100%;
  border-radius: 100px;
  height: 22px;
  margin: auto;
  --background: #EBD7F2;
  --progress-background: #A2047F;
}

ion-item {
  height: auto !important;


  .item-radio-checked{
    --background: #F9F4FF;
  }

 
}

ion-searchbar {
  --background: white; 
  color: var(--default-text);
  
}


.item-radio-checked{
  --background: #F9F4FF;
}

ion-radio.ios.in-item.radio-justify-space-between.radio-alignment-center.radio-label-placement-start.hydrated.radio-checked  {
  background: #F9F4FF;
}





.dependants-list {
  border-radius: 10px;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
}

.vertical-card {
  margin-bottom: 1px !important;
  background-color: white !important;
  width: 100%;
  max-height: 115px;
  ion-img {
    height: 18px;
    width: 18px;
  }

  ion-card-content {
    height: 100px;
    width: 100%;
    display: flex;
    p {
      width: 85%;
    }
  }
}

ion-card {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
}

.card-title {
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-family: 'Poppins-SemiBold';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04px;
}

.hour-txt {
  color: var(--default-text);
  font-family: 'Poppins-SemiBold';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.048px;
}

.appointment-txt {
  font-family: 'Poppins-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.024px;
  padding-left: 0px;
}

.date-txt {
  font-family: 'Poppins-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035px;
}


.vertical-card2 {
  background-color: rgb(255, 255, 255) !important;
  width: 100%;
  min-height: 115px;
  ion-img {
    height: 18px;
    width: 18px;
  }

  ion-card-content {
    height: 110px;
    margin-top: -10%;
    ion-progress-bar {
      height: 10px;
      width: 85%;
    }
    p {
      width: 85%;
    }
  }
}
.customCardAppointment {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none !important;
  //height: 130px
}

.prescribbedAppsCard {
  background: white; 
  box-shadow: none; 
  height: 150px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.challenge-txt {
  margin-left:10px; 
  color:var(--purple);
  font-family: 'Poppins-SemiBold';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.04px;  


}

.txt-cards {
  color: var(--default-text);
  font-family: 'Poppins-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035px;
}

.txt-card-advices {
  color: var(--default-text);
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.035px;
  text-align: start;
  padding-left: 0px;
}

.customCardHealthPath {
  background-color: white;
  box-shadow: none !important;
  height: auto;
  max-height: 250px;
}
.strechCardContent {
  min-width: 300px !important;
  padding-top: 0%;
}

.imagefitAdvices {
  width: auto;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.zeroMarginPadding {
  padding: 0%;
  margin: 0%;
}

.thumbnail{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 98px !important;
  height: 80px !important;
}

.caregiver-item {
 --padding-start: 0px
}

.caregiver-item2 {
  --padding-start: 0px;
  --inner-padding-end: 0px
}

.cardHeader {
  --background: #ffffff !important;
  max-height: 41px;
  text-overflow: ellipsis;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
  text-transform: uppercase; text-align:left; 
  padding-bottom: 0px
}
.customCardAdvices {
  background-color: white;
  width: 100%;
  height: 300px;

  ion-icon {
    padding: 5%;
  }
}

.close-card {
  float: right;
  font-size: 20px;
}

.full-width {
  padding: 0px 10px 0px 10px;
}

.close-card {
  position: absolute;
  top: 10px;
  right: 13px;
  color: black;
  font-weight: 900;
  overflow: hidden;
}
ion-progress-bar {
  border-radius: 20px;
  min-height: 17px;
}
.my-buffer-progress_red {
  --background: #82f038;
  --buffer-background: #facdcc;
  --progress-background: #f31212;
  border-radius: 20px;
  min-height: 17px;
}
.my-buffer-progress_orange {
  --background: #82f038;
  --buffer-background: #faeacc;
  --progress-background: #f39c12;
  border-radius: 20px;
  min-height: 17px;
}
.my-buffer-progress_green {
  --background: #82f038;
  --buffer-background: #cdfacc;
  --progress-background: #048b22;
  border-radius: 20px;
  min-height: 17px;
}
.slide {
  width: 90% !important;
}
.slide1 {
  width: 100% !important;
}

.card {
  width: 300px;
}

.text2line {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text1line {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: var(--default-text);
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.035px;
}

.challenge-description {
  overflow: hidden;
  color: #6A6A6A;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Poppins Body */
  font-family: 'Poppins-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035px;
}

.a-type1{
  color: var(--seeAllColor);
  font-family: 'Poppins-Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.048px;

  b {
    font-size: 16px;
    font-family: 'Poppins-Medium';
    font-weight: 400;
    
  }
}

.staff-txt {
  font-family: 'Poppins-Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03px;

  b {
    font-family: 'Poppins-SemiBold' !important;
    font-weight: 400 !important;
    color:var(--ion-color-primary)
  }
}


.caregiver-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: var(--default-text);
  font-family: 'Poppins-Regular';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.035px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.birth-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  color: var(--ion-color-medium);
  font-family: 'Poppins-Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.035px;
}

.see-more-appointment {
  color: var(--seeAllColor);
  font-family: 'Poppins-Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.175px;
}

.alertCancel{
  --background: red;
    button.alertButton{
      color: white;
    }
 }

.my-custom-class {
  .alert-wrapper {
    .alert-head {
        // header styling here eg. background
        --padding: 0px
        h2 {
            // header text styling here eg. color, font size
        }
    }

    .alert-message {
      padding: 0px;
    }
  }
}


div#alert-1-ms.alert-message.sc-ion-alert-ios {
  padding: 0px;
}

strong {
  color: black;
}

.bell {
  margin-top: 10%; //7px;
  width: auto;
  margin-left: -9px;
  position: absolute;
  z-index: 99999;
  color: white;
}


.ion-text-end {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.sliderImage {
  height: 220px;
  width: 300px;
}
.sliderImage img {
  height: 100%;
  width: auto;
}
@supports (object-fit: cover) {
  .sliderImage img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.disabled_swiper_button {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}

.slides {
  background-color: lightblue;
}

.card-content-css {
  background-color: yellow;
}

.slider-vertical {
  height: 100px !important;
}


@media (min-width: 640px) and (max-width: 1024px) {
  .card {
    width: 400px;
  }

  .strechCardContent {
    min-width: 400px !important;
    padding-top: 0%;
  }

  .sliderImage {
    height: 220px;
    width: 400px;
  }

  .sliderImage img {
    height: 100%;
    width: auto;
  }

  @supports (object-fit: cover) {
    .sliderImage img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .vertical-card2 {
    background-color: rgb(255, 255, 255) !important;
    width: 100%;
    min-height: 115px;
    ion-img {
      height: 18px;
      width: 18px;
    }

    ion-card-content {
      height: 110px;
      margin-top: 0%;
      ion-progress-bar {
        height: 10px;
        width: 85%;
      }
      p {
        width: 85%;
      }
    }
  }
}
/*MEDIA QUERIES FOR IPAD*/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .strechCardContent {
    min-width: 500px !important;
    padding-top: 0%;
  }
  .card {
    width: 500px;
  }
  .sliderImage {
    height: 420px;
    width: 500px;
  }
  .sliderImage img {
    height: 100%;
    width: auto;
  }
  @supports (object-fit: cover) {
    .sliderImage img {
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .noMargin {
    margin-bottom: -2%;
    --background: #ffffff !important;
  }
  .ios .paddingTopNoMarginBottom {
    padding-top: 3%;
    margin-bottom: 0%;
    width: 100%;
  }
  .vertical-card2 {
    background-color: rgb(255, 255, 255) !important;
    width: 100%;
    min-height: 115px;
    ion-img {
      height: 18px;
      width: 18px;
    }

    ion-card-content {
      height: 110px;
      margin-top: 0%;
      ion-progress-bar {
        height: 10px;
        width: 85%;
      }
      p {
        width: 85%;
      }
    }
  }
}
