.imgProfile{
    width: 30px;
}
.active-item {
  --color: var(--ion-color-primary);
}
.txtTitleHome{
    font-size: 18px;
    font-weight: 700;
    margin: 4%;
    text-align: left;
  }
  .txtSubTitleHome{
    font-size: 14px;
    font-weight: 500;
    margin: 4%;
    text-align: left;
  }
ion-img{
    height: 50px;
    width: 50px;
}

.vertical-card{
    background-color: white!important;
    width: 100%;
    max-height: 115px;
    ion-img{
        height: 18px;
        width: 18px;
    }

    ion-card-content{
        height: 90px;
        ion-progress-bar {
            height: 10px;
            width: 85%
        }
        p{
            width: 85%
        }
    }
}

.vertical-card2{
  background-color: rgb(255, 255, 255)!important;
  width: 100%;
  min-height: 115px;
  ion-img{
      height: 18px;
      width: 18px;
  }

  ion-card-content{
      height: 110px;
      margin-top: -10%;
      ion-progress-bar {
          height: 10px;
          width: 85%
      }
      p{
          width: 85%
      }
  }
}
.customCardAppointment{
    background-color: white;
    width: 100%;
    height: 123px;
}
.cardHeader{
  --background: #ffffff!important;
  max-height: 41px;
  text-overflow: ellipsis;
}
.customCardAdvices {
    background-color: white;
    width: 100%;
    height: 300px;

    ion-icon{
        padding: 5%;
    }
  }

  .close-card {
    float:right; 
    font-size: 20px;
  }

  .full-width {
    padding: 0px 10px 0px 10px;
  }


.close-card{
    position: absolute;
    top:10px;
    right: 13px;
    color: black;
    font-weight: 900;
    overflow: hidden;
  }
  .my-buffer-progress{
    --background:#82F038;
    --buffer-background:#faeacc;
    --progress-background:#F39C12;
    border-radius: 20px;
    min-height: 17px;
    
}

/*MEDIA QUERIES FOR IPAD*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .vertical-card2{
      background-color: rgb(255, 255, 255)!important;
      width: 100%;
      min-height: 115px;
      ion-img{
          height: 18px;
          width: 18px;
      }
    
      ion-card-content{
          height: 110px;
          margin-top: 0%;
          ion-progress-bar {
              height: 10px;
              width: 85%
          }
          p{
              width: 85%
          }
      }
    }
}

