.imgProfile{
    width: 30px;
}

ion-img{
    height: 50px;
    width: 50px;
}

.vertical-card{
    background-color: white!important;
    width: 100%;
    max-height: 200px;
    ion-img{
        height: 18px;
        width: 18px;
    }

    ion-card-content{
        height: 90px;
        ion-progress-bar {
            height: 10px;
            width: 85%
        }
        p{
            width: 85%
        }
    }
}

.customCardAppointment{
    background-color: white;
    width: 100%;
}

.customCardAdvices {
    background-color: white;
    width: 100%;
    height: 300px;

    ion-icon{
        padding: 5%;
    }
  }

  .close-card {
    float:right; 
    font-size: 20px;
  }

  .full-width {
    padding: 0px 10px 0px 10px;
  }


.close-card{
    position: absolute;
    top:10px;
    right: 13px;
    color: black;
    font-weight: 900;
    overflow: hidden;
  }
  .my-buffer-progress{
    --background:#82F038;
    --buffer-background:#faeacc;
    --progress-background:#F39C12;
   
    
}