.cardProfile {
  margin-bottom: 5%;
  box-shadow: none !important;
  margin-left: 4%;
  margin-right: 4%;
}

.item {
  height: 100% !important;
}

.thumbnail {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 98px !important;
  height: 87px !important;
}

.txtSubtitle {
  font-size: 12px !important;
  color: #575757 !important;
  font-weight: 400;
}

.txt-subtitle-card {
  font-family: 'Poppins-Regular';
  color: #848A94;
  font-size: 12px;
}

.txt-title-card {
  color: var(--default-text);
  font-family: 'Poppins-Medium';
  font-size: 14px;
  margin-top: 8% !important;
}

ion-card {
  box-shadow: none !important;
}