.cardProfile{
    height: 84px !important;
}

.item{
    height: 100% !important;
}

.thumbnail{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 98px !important;
    height: 87px !important;
}

.txtTitleGoalsDarker{
    color: #002055;
    margin-top: 17px !important;
}

.txtSubtitle{
    font-size: 12px !important;
    color: #575757 !important;
    font-weight: 400;
}

.icono-personalizado {
    background-color: purple; /* Cambia "red" por el color que desees */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    border-radius: 50%; /* Esto es opcional, pero puede ayudar a redondear los bordes del fondo */
    color: white;
  }