<ion-card 
  class="cardProfile ion-no-padding"
  (click)="goTo(content.type)"
  [routerLink]="content.routerlink"
  [state]="{ id: content?.id }"
  routerLinkActive="active-item"
>
  <ion-item class="ion-no-padding item" lines="none" mode="ios">
    <ion-thumbnail class="thumbnail" slot="start">
      <img
        class="img"
        [src]="content?.img"
        onError="this.onerror=null; this.src='/assets/images/shared-care-plan/image-not-found.png' "
        alt=""
      />
    </ion-thumbnail>
    <ion-grid style="height: 100% !important;">
      <ion-row>
        <ion-text class="txt-title-card">{{content?.title | translate}}</ion-text>
        <ion-col size="9.5" size-md="10" size-lg="11"  *ngIf="content?.routerlink =='games-detail'">
          <p class="txt-subtitle-card">
         {{'lifestyle.last_score' | translate}} {{ content.score }} {{'lifestyle.scorepoints' | translate}}
          </p>

        </ion-col>
      </ion-row>

      <ion-row style="padding-right: 5%;">
        <ion-text class="txt-subtitle-card textAdvicesSlider" style="margin-top: -5%;">
          <p>{{content?.subtitle | translate}}</p>
        </ion-text>
      </ion-row>
      
    </ion-grid>
    <ion-buttons slot="end">
      <ion-icon size="small" src="assets/icons/challenge_card_btn.svg"></ion-icon>
    </ion-buttons>
  </ion-item>
</ion-card>

