<ion-card class="cardProfile" (click)="goTo(content.type)"  routerLinkActive="active-item" [routerLink]="content.routerlink" >
  <ion-item class="ion-no-padding item" lines="none" mode="ios">
    <ion-thumbnail class="thumbnail" slot="start">
      <img
        class="img"
        [src]="content?.img"
        onError="this.onerror=null; this.src='/assets/images/shared-care-plan/image-not-found.png' "
        alt=""
      />
    </ion-thumbnail>
    <ion-grid style="height: 100% !important">

      <ion-row class="marginTop">
        <ion-text class="txt-title-card">{{content?.title | translate}}</ion-text>
      </ion-row>

   <!--    <ion-row style="padding-right: 5%;">
        <ion-text class="txt-subtitle-card textAdvicesSlider" style="margin-top: -5%;">
          <p [innerHtml]="content?.description | translate"></p>
        </ion-text>
      </ion-row> -->
     
    </ion-grid>
    <ion-buttons slot="end">
      <ion-icon size="small" src="assets/icons/challenge_card_btn.svg"></ion-icon>
    </ion-buttons>
  </ion-item>
</ion-card>