.cardProfile{
  margin-bottom: 5%;
  box-shadow: none !important;
  margin-left: 4%;
  margin-right: 4%;
}

.item{
  height: 100% !important;
}

.thumbnail{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 98px !important;
  height: 87px !important;
}


.txtSubtitle{
  font-size: 12px !important;
  color: #575757 !important;
  font-weight: 400;
}

.txt-subtitle-card {
  font-family: 'Poppins-Regular';
  color: #848A94;
  font-size: 12px;
}

.txt-title-card {
  color: var(--default-text);
  font-family: 'Poppins-Medium';
  font-size: 14px;
  margin-top: 8% !important;
}

ion-card {
  box-shadow: none !important;
}

.marginTop{
  margin-top: 5%;
}

.new-label {
 // background-color: red; /* o el color que prefieras */
  color: white;
 // padding: 2px 8px;
  margin-right: 10px;
  border-radius: -1px;
  font-size: 12px;
  //font-weight: bold;
  //display: inline-block;
  margin-left:20%;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}