<!-- <ion-card class="cardProfile" (click)="goTo(content.type)" > -->
<ion-card class="cardProfile"  routerLinkActive="active-item" [routerLink]="content.route" >
  <ion-item lines="none">
    <div class="verticalLineMalva"></div>
    <ion-grid> 
      <ion-row>
        <ion-icon [src]="content.icon"></ion-icon>
        <ion-text class="txtTitleGoals textAdvicesSlider">{{content?.title | translate}}</ion-text>
        <ion-icon style="margin-right: 0%;" name="chevron-up-outline"></ion-icon>
      </ion-row>
      <ion-row class="imgPadding">
        <p [innerHtml]="content?.description | translate"></p>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-card>
