.cardProfile{
    height: 90px !important;
}

.item{
    height: 100% !important;
}

.thumbnail{
    margin-top: 0px !important;
    margin-bottom: 8% !important;
    width: 98px !important;
    height: 87px !important;
}

.txtTitleGoalsDarker{
    color: #002055;
    margin-top: 17px !important;
}

.txtSubtitle{
    font-size: 12px !important;
    color: #575757 !important;
    font-weight: 400;
}

.icono-personalizado {
    background-color: purple; 
    padding: 5px; 
    border-radius: 50%; 
    color: white;
  }

  .subtitle-card {
    font-family: 'Poppins-Regular';
    color: #848A94;
    font-size: 12px;
  }

  .txt-title-card {
    color: var(--default-text);
    font-family: 'Poppins-Medium';
    font-size: 14px;
    margin-top: 17px !important;
  }

  ion-list {
    --background: none !important
  }