ion-tabs {

  ion-tab-button {
    ion-label {
      font-size: 12px !important;
    }

    ion-label {
      opacity: 1 !important;
    }

    &.tab-selected {
      ion-icon {
        color: var(--ion-color-primary);
        /* Set the selected color for icons */
      }

      ion-label {
       
        color: var(--ion-color-primary);
        /* Set the selected color for labels */
        font-weight: 400 !important;
        opacity: 1 !important;
        
      }
    }
  }
}

  .md ion-tab-bar {
    position: relative;
    width: 100%;
    height:100%;
    margin: 0 auto;
  }

  .ios ion-tab-bar {
    position: relative;
    width: 100%;
    height:100%;
    margin: 0 auto;
    padding: 0%;
  }

  ion-badge{
    font-weight: bolder;
  }