<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/home']">
      <ion-icon class="eee" name="home"></ion-icon>
      <ion-label>{{ this.home}}</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/agenda']">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ this.agenda}}</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/contact']">
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>{{ this.contact}}</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/tracking']">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>{{ this.tracking}}</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/journal']">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ this.journal}}</ion-label>
    </ion-tab-button>
 <!-- esta parte es una prueba, borrar después -->
  <!-- <ion-tab-button  *ngIf="this.user !== null" style="background: green;">
  </ion-tab-button>
  <ion-tab-button *ngIf="this.user === null"  style="background: red;"> 
  </ion-tab-button>
  <ion-tab-button *ngIf="this.user == this.idUser"  style="background: rebeccapurple;"> 
    <ion-label>magnum</ion-label>
  </ion-tab-button> -->
</ion-tab-bar>
</ion-tabs>
