<ion-grid mode="ios">
  <ion-row class="main-container">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/home']" #homeTab="routerLinkActive"  [style.visibility]="homeTab.isActive ? 'hidden' : 'visible'">>
          <div class="icon-container">
            <ion-icon src="../../assets/icons/home.svg"></ion-icon>
          </div>
          <ion-label>{{ 'tab.home' | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button  [routerLinkActive]="['tab-selected']" [routerLink]="['/agenda']" #agendaTab="routerLinkActive" [class.hidden]="!role?.component?.agenda" [style.visibility]="agendaTab.isActive ? 'hidden' : 'visible'">
          <div class="icon-container">
            <ion-icon name="calendar"></ion-icon>
          </div>
          <ion-label>{{ 'tab.agenda' | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button  [routerLinkActive]="['tab-selected']" [routerLink]="['/contact']" #contactTab="routerLinkActive" [class.hidden]="!role?.component?.contacta" [style.visibility]="contactTab.isActive ? 'hidden' : 'visible'">
          <div class="icon-container">
            <ion-icon name="chatbubble"></ion-icon>
          </div>
          <ion-label>{{ 'tab.contact' | translate }}</ion-label>
        </ion-tab-button>
        <ion-tab-button [routerLinkActive]="['tab-selected']" [routerLink]="['/tracking']" #trackingTab="routerLinkActive"  [style.visibility]="trackingTab.isActive ? 'hidden' : 'visible'">
          <div class="icon-container">
            <ion-icon src="../../assets/icons/follow_up.svg"></ion-icon>
          </div>
          <ion-label>{{ 'tab.tracking' | translate }}</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-row>
</ion-grid>


  <ion-fab *ngIf="homeTab.isActive" vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button>
      <ion-icon src="../../assets/icons/home.svg"></ion-icon>
      <ion-label>{{ 'tab.home' | translate }}</ion-label>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="agendaTab.isActive" class="marginL" vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button>
      <ion-icon name="calendar"></ion-icon>
      <ion-label>{{ 'tab.agenda' | translate }}</ion-label>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="contactTab.isActive" class="marginR" vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button>
      <ion-icon name="chatbubble"></ion-icon>
      <ion-label>{{ 'tab.contact' | translate }}</ion-label>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="trackingTab.isActive" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button>
      <ion-icon src="../../assets/icons/follow_up.svg"></ion-icon>
      <ion-label>{{ 'tab.tracking' | translate }}</ion-label>
    </ion-fab-button>
  </ion-fab>
