ion-tab-button{
    --background-focused: #3498DB;
    --color-selected: #3498DB;
    background-color: #FAFAFA;
    --padding-bottom: 12%;
 
    
    
    &::before {
        background-color: transparent;
        display: block;
        content: "";
        margin: 0 auto;
        width: 17px;
        height: 2px;
      }
    
      &.tab-selected::before {
        background-color: var(--ion-color-primary);
      }
    }
    ion-tab-button ion-label{
      margin-bottom: 0%;
     
    }
    ion-tab-bar {
      position: relative;
      width: 100%;
      margin: 0 auto;
    }