ion-tabs {

  ion-tab-button {
    ion-label {
      font-size: 12px !important;
    }

    ion-label {
      opacity: 1 !important;
    }

    &.tab-selected {
      ion-icon {
        color: var(--ion-color-primary);
        /* Set the selected color for icons */
      }

      ion-label {
       
        color: var(--ion-color-primary);
        /* Set the selected color for labels */
        font-weight: 400 !important;
        opacity: 1 !important;
        
      }
    }
  }
}

  .md ion-tab-bar {
    position: relative;
    width: 100%;
    height:100%;
    margin: 0 auto;
  }

  .ios ion-tab-bar {
    position: relative;
    width: 100%;
    height:100%;
    margin: 0 auto;
    padding: 0%;
  }

  ion-badge{
    font-weight: bolder;
  }

 
  
  
  ion-icon {
    font-size: 30px; 
    z-index: 2; 
  }
  
  ion-label {
    z-index: 2; 
  }

  .marginL{
    margin-right: 53%;
  }

  .marginR{
    margin-left: 53%;
  }

  .marginB{
    margin-bottom: 10px;
  }



 ion-fab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  --background: white; /* Fondo blanco */
  --color: var(--ion-color-primary); /* Icono y texto en color primario */
}

ion-icon {
  font-size: 24px; /* Ajusta el tamaño del icono según necesites */
  margin-bottom: 4px; /* Espacio entre el icono y el texto */
}
ion-fab-button ion-grid {
  --ion-grid-padding: 0; /* Elimina el padding dentro del grid */
  --ion-grid-column-padding: 0; /* Elimina el padding dentro de las columnas */
}

ion-fab-button ion-row {
  --ion-grid-row-padding: 0; /* Elimina el padding dentro de las filas */
}

ion-fab-button ion-col {
  padding: 0; /* Elimina cualquier padding adicional dentro de las columnas */
}
ion-fab {
  position: fixed;
  bottom: 2%; /* Ajusta este valor según necesites */
  /* Define horizontal positions if needed */
}