<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'setting.title_setting' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="txtTitleSetting"></div>
    <ion-text class="txtTitle2">{{ 'setting.title_security' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list [lines]="isTwoFactor? 'full': 'none' ">
            <ion-item (click)="changePassword()" >
              <ion-label>{{ 'setting.password.title_change_password' | translate}}</ion-label>
              
            </ion-item>
            <ion-item [lines]="isFaID? 'full': 'none' " *ngIf="isTwoFactor">
              <ion-label >{{ 'setting.subtitle_authentication' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="authentication" (ionChange)="changeAuthentication()" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none" *ngIf="isFaID">
              <ion-label>{{ 'setting.subtitle_face_id' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="faceId" (ionChange)="changeFaceId()" checked></ion-toggle>
            </ion-item>
       
          </ion-list>
    </ion-card>

    <ion-text class="txtTitle2">{{ 'setting.title_languages' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item lines="none">
              <ion-label>{{ 'setting.subtitle_languages'| translate}}</ion-label>
              <ion-select [(ngModel)]="language" (ionChange)="changeLanguages()" interface="action-sheet"  okText="{{ 'button.ok' | translate}}" cancelText="{{ 'button.cancel' | translate}}" placeholder="{{'add_health_card.placeholder_select' | translate}}">
                <ion-select-option *ngFor="let language of listLanguage" [value]="language">{{language.name}}</ion-select-option>
              </ion-select>
            </ion-item>
       
          </ion-list>
    </ion-card>

    <ion-text class="txtTitle">{{ 'setting.title_notification' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item>
              <ion-label >{{'setting.subtitle_communications' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="communications" (ionChange)="changeCommunications()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.agenda">
              <ion-label >{{'setting.subtitle_appointment' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="appointment" (ionChange)="changeAppointment()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.agenda && role?.component?.reminder">
              <ion-label >{{'setting.subtitle_reminders' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="reminder" (ionChange)="changeReminders()" checked></ion-toggle>
            </ion-item>         
            <ion-item *ngIf="role?.component?.diet">
              <ion-label >{{'setting.subtitle_diets' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="diets" (ionChange)="changeDiets()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.drug">
              <ion-label >{{'setting.subtitle_medication' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="medication" (ionChange)="changeMedication()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.goal">
              <ion-label >{{'setting.subtitle_goals' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="goals" (ionChange)="changeGoals()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.advices">
              <ion-label >{{'setting.subtitle_advices' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="advices" (ionChange)="changeAdvices()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.news">
              <ion-label >{{'setting.subtitle_news' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="news" (ionChange)="changeNews()" checked></ion-toggle>
            </ion-item>          
            <ion-item>
              <ion-label >{{'setting.subtitle_offers' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="offers" (ionChange)="changeOffers()" checked></ion-toggle>
            </ion-item>
             <ion-item *ngIf="role?.component?.form">
              <ion-label >{{'setting.subtitle_form' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="form" (ionChange)="changeForm()" checked></ion-toggle>
            </ion-item>
            <ion-item *ngIf="role?.component?.chat">
              <ion-label>{{'setting.subtitle_messages' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="messages" (ionChange)="changeMessages()" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>{{'setting.subtitle_release' | translate}}</ion-label>
              <ion-toggle slot="end" color="success" [(ngModel)]="release" (ionChange)="changeRelease()" checked></ion-toggle>
            </ion-item>
          </ion-list>
    </ion-card>

    <ion-text class="txtTitle2">{{ 'Desarrollador' | translate}}</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item lines="none">
              <ion-label>{{ 'BO'}}</ion-label>
              <ion-select (ionChange)="changeEndPoint($event)" value="0" interface="action-sheet"  okText="{{ 'button.ok' | translate}}" cancelText="{{ 'button.cancel' | translate}}" placeholder="{{'add_health_card.placeholder_select' | translate}}">
                <ion-select-option *ngFor="let api of listEndPoint; let index = i" [value]="api.id">{{api.name}}</ion-select-option>
              </ion-select>
            </ion-item>
       
          </ion-list>
    </ion-card>
   

</ion-content>

