<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Perfil" ></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="txtTitle2"></div>
    <ion-text class="txtTitle2">Seguridad</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item  >
              <ion-label>Cambiar Contraseña</ion-label>
              
            </ion-item>
            <ion-item >
              <ion-label >Autentificación de doble factor</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Face ID/Huella</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
       
          </ion-list>
    </ion-card>
    <ion-text class="txtTitle">Notificaciones</ion-text>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item>
              <ion-label >Comunicados médicos</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label >Citas y Recordatorios</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label >Dietas</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label >Medicación</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label >Objetivos y Retos</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label >Consejos y Novedades</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label >Promociones</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
             <ion-item>
              <ion-label >Formularios</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Mensajes</ion-label>
              <ion-toggle slot="end" color="success" checked></ion-toggle>
            </ion-item>
          </ion-list>
    </ion-card>
   

</ion-content>

