.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}

.event-indicator {
  background:  #F1C40F;
  width: 5px;
  height: 5px;
  border-radius: 4px;
  display: table-cell;
}


:host ::ng-deep {

  table,
  tbody {
    background-color: white;
  };
  th{
    background-color: var(--purple-light);
    border: 0px !important;
    border-bottom:  0.5px solid #BDC3C7 !important;//  rgb(143, 143, 143)
    color: #7F8C8D;


  };
  td {
    padding: 10px;
    border: 0px !important;
    border-bottom:  0.7px solid #BDC3C7 !important;//  rgb(143, 143, 143)
    color: black;
    vertical-align: middle;
    text-align: center;
  }


  .dayWeek{
    font-size: 14px;
    width: 36px;
    height: 36px;
    border-radius: 50%;

    text-align: center;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
  }

  .monthview-disabled{
    color: white !important;
  }

  .monthview-container {
      background-color: white !important;
  }

  .monthview-primary-with-event {
    background-color: white !important;
    color: black !important;;
  }

  .monthview-secondary-with-event{
    background-color: white!important;
    color: #7F8C8D !important;
  }
  .monthview-eventdetail-timecolumn{
    color: white!important;
  }
  .monthview-selected  {
    background-color: white !important;
  }
  .monthview-selected  .dayWeek {
    background-color: var(--ion-color-primary) !important;
    border-radius: 50%;
    max-width: 100px!important;
    color: white !important;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.13);
  }
  .monthview-current {
    color: var(--default-text);
    background-color: white !important;
  }

.blanco{
  background-color: white!important;
  min-width: 400px;
  padding-left: 0px!important;
  }

  .dayHeaders{
    background-color: red !important;
    color: white !important;
  }

}


/*   .with-event {
  //background-color: var(--ion-color-primary);
  //border-radius: 15px;
  color: black
} */

.event-detail-title {
    color:  var(--ion-color-primary) !important;
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; 
}
.event-detail-container {
  color: var(--ion-color-secondary) !important;
  --ion-background-color: transparent !important;
  padding-top: 0px;
  
.event-detail2{
  font-size: medium;
  font-weight: 600;

}
.event-detail{
  font-size: medium;
  font-weight: 400;
  text-overflow : ellipsis;

  /* white-space: no-wrap!important;*/

}
}
.rowPadding{
  background-color: var(--purple-light) !important;
  padding: 3%;
}
.rowPadding2{
  background-color: rgb(255, 255, 255)!important;
}

.verticalLine {
  width:1%;
  height:85%;
  background:#2ECC71;
  margin-left:2%;
}
.verticalLinePurple {
  width:1%;
  height:85%;
  background:#9B59B6;
  margin-left:2%;
}
.verticalLineRed {
  width:1%;
  height:85%;
  background:#E74C3C;
  margin-left:2%;
}
/*  .verticalLine2 {
 border-left: 2px solid  #5250da,;
 margin-left: 5%;
}*/
ion-img{

  height: 30px;
  color: #2ECC71;
}
ion-segment {
  margin: 10px 0;
  background: #ffffff;
}
/*remove item native padding*/
ion-list {
  background-color: white;
  ion-item {
    --background: white;
    background-color: white;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  }

}

.list{
  width: 100%;
}
.txt-date {
  color: var(--default-text);
  font-family: 'Poppins-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.035px;
}

.txt-appointment {
  color: var(--default-text);
  font-family: 'Poppins-Regular';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.03px;

  b {
    font-family: 'Poppins-SemiBold' !important;
    font-weight: 400 !important;
    color:var(--ion-color-primary)
  }
}

ion-segment {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background: var(--default-bkg);
  ion-label {
    text-transform: none;
  }
}

ion-segment-button {
  height: fit-content;
  font-size: 16px;
  text-transform: none;
  --color-checked: var(--ion-color-primary) !important;
  --background-checked: transparent !important;
  --indicator-color: transparent !important;
  text-align: center;
  font-family: 'Poppins-Medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; 
  color: #7F8C8D;
}

ion-segment-button.segment-button-checked {
  background: #ECDDFE;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  color: var(--default-text) !important;
    border-top: 0% !important;
  border-left: 0% !important;
  border-right: 0% !important;
  --indicator-color: transparent !important;
}

ion-segment-button.segment-button-after-checked {
  color: #7F8C8D !important;
}

.custom-card {
  border-radius: 15px;
  box-shadow: none !important;
  padding: 0px;
}

.floating-button {
  width: 90%;
  position: absolute;
  bottom: 100%; 
  --background: transparent; 
  text-transform: none;
  height: 50px !important;
}

ion-footer {
  position: relative; 
}
