.indicator-container {
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}
 
.event-indicator {
  background:  red;//var(--ion-color-success);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  display: table-cell;
}
 
:host ::ng-deep {

    .monthview-container {
        background-color: #F0F0F0 !important;
    }

  .monthview-primary-with-event {
    background-color: #F0F0F0 !important;
    color: black !important;;
  }

  .monthview-secondary-with-event{
    background-color: #F0F0F0 !important;
    color: #7F8C8D !important;
  }
 
  .monthview-selected {
    background-color: var(--ion-color-primary) !important;
    border-radius: 50%;
    color: white !important;
  }

  .event-detail-container {
    background-color: white !important; 
  }

  .dayHeaders{
    background-color: red !important;
    color: white !important;
  }

}

 
/*   .with-event {
  //background-color: var(--ion-color-primary);
  //border-radius: 15px;
  color: black
} */

.event-detail-title {
    color: var(--ion-color-primary) !important;
}