<ion-header>
    <ion-toolbar mode="ios">
        <ion-buttons slot="start">
            <ion-back-button text="" (click)="backButton()"></ion-back-button>
        </ion-buttons>
        <!-- <ion-title>{{'list_notifications.form' | translate}}</ion-title> -->
    </ion-toolbar>
</ion-header>
<ion-content class="form" fullscreen>
    <app-form-control  *ngIf="this.formComponent.length > 0 &&  !this.isLoading; else second" 
        (sendForm)="send($event)" 
        [title]="this.title" 
        [id]="this.id" 
        [item]="this.formComponent" 
        [wizard]="mode_wizard" 
        [buttonPreview]="backDisnable"
        [goalsByAlarms]="goalsByAlarms"
        ></app-form-control>

    <ng-template #second>
        <ng-container  *ngIf="this.isLoading">
            <ion-spinner class="loading" name="bubbles"></ion-spinner>
        </ng-container>
      </ng-template>
 </ion-content>
