:root {
  --text-color: #575757;
  --azul-petroleo: #22577a;
}
.verticalLineMalva {
  width: 1%;
  height: 85%;
  background: var(--malva);
  margin-left: 2%;
}

.verticalAlignItem {
  align-items: center !important;
}

.verticalAlignTopItem {
  align-items: start !important
}

a {
  color: var(--blue);
  text-decoration: none;
}

.txtTitleGoalsDarker {
  margin-top: 6px !important;
}

.txtSubtitle {
  font-size: 12px !important;
  color: #575757 !important;
  font-weight: 400;
}

.txtSubtitle2{
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--azul-petroleo);
}

.textlines2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 14px;
  height: 30px;
  //max-height: 30px;
  -webkit-box-orient: vertical;
}

.txtSubtitle3{
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.txtSubtitleDate{
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;  
}

.cardProfile1{
  height: 105px;
  //min-height: 110 !important;
}

// .item{
//   height: 100% !important;
// }


.imagefit{
  width: 100%;
  height:100%;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.paddingRight {
  padding-right: 5%;
 }

 .thumbnail{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 100% !important;
  height: 100% !important;
}
