:root {
  --text-color: #575757;
  --azul-petroleo: #22577a;
}
.verticalLineMalva {
  width: 1%;
  height: 85%;
  background: var(--malva);
  margin-left: 2%;
}

.verticalAlignItem {
  align-items: center !important;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.txtTitleGoalsDarker {
  margin-top: 6px !important;
}

.txtSubtitle {
  font-size: 12px !important;
  color: #575757 !important;
  font-weight: 400;
}

.txtSubtitle2{
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--azul-petroleo);
}

.textlines2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 14px;
  height: 28px;
  //max-height: 30px;
  -webkit-box-orient: vertical;
}

.txtSubtitle3{
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.txtSubtitleDate{
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;  
}

.item{
  height: 100% !important;
}
