/** Ionic CSS Variables **/
:root {
    --red: #E81111;
    --malva: #BA0186;
    --pink-lace: #FFE0F5;
    --purple: #8E44AD;
    --orange: #FF8412; 
    --blue: #3498DB;
    --bullet-active: #2C3E50;
    --bullet-disabled: #BDC3C7;
    --green: #2ECC71;
    --green-elipse-shade: #27C100; // Yellow-Green (Color Wheel)
    --green-elipse-tint: #C7E596; //Medium Spring Bud
    --enabled-alert: #BA0186;
    --disabled-alert: #7F8C8D;
    --white-light: #f8f8f8;  //#f6f6f6;
    
}