ion-card {
    background-color: white;
    box-shadow: none !important;
}

.custom-button {
    font-size: 12px; /* Ajusta el tama침o del texto */
    padding: 8px 16px; /* Ajusta el padding del bot칩n para reducir el tama침o del fondo */
    color: white;
}

.button-text {
    font-size: 12px; /* Ajusta el tama침o del texto */
    color: white;
}

