ion-card {
    background-color: white;
}

.custom-button {
    font-size: 12px; /* Ajusta el tamaño del texto */
    padding: 8px 16px; /* Ajusta el padding del botón para reducir el tamaño del fondo */
}

.button-text {
    font-size: 12px; /* Ajusta el tamaño del texto */
    color: white;
}