.cardProfile{
    height: 150px !important;
}

// img {
//     height: auto;
//     max-width: 100%;
//    }

.thumbnail{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 100px !important;
    height: 150px !important;
}