<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'medications.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- SegmentBar -->

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" scrollable>
    <ion-segment-button value="List">
      <ion-label>{{'medications.list' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Order">
      <ion-label>{{'medications.direction' | translate}}</ion-label>
    </ion-segment-button>

  </ion-segment>

  <!-- segment -->

  <div [ngSwitch]="segment">

    <!--LIST-->

    <div *ngSwitchCase="'List'">
      <ion-list>
        <ion-card class="cardProfile" *ngFor="let item of items">
          <ion-item lines="none">
            <div class="verticalLineBlue">
              <ion-col size="2">
                <ion-icon name="cart" color="primary"></ion-icon>
              </ion-col>
            </div>
            <ion-label>{{item.item.name}}</ion-label>
          </ion-item>
        </ion-card>
      </ion-list>
    </div>

    <!-- ORDER -->

    <div *ngSwitchCase="'Order'">
      <ion-row class="paddingTopNoMarginBottomBlue" (click)="toggleIsFormVisible()"
        *ngIf="!isFormVisible && this.paso == 'cero' ">
        <ion-col size="10">
          <ion-text class="txtTitle">{{ 'medications.direction_add' | translate | titlecase}}</ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="paddingTopNoMarginBottom" (click)="toggleIsFormVisible()"
        *ngIf="isFormVisible && this.paso == 'cero' ">
        <ion-col size="10">
          <ion-text class="txtTitle">{{ 'medications.direction_add' | translate | titlecase}}</ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-icon color="primary" name="chevron-up-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <span *ngIf="isFormVisible">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <ion-item>
            <ion-label floating>Nombre destinatario</ion-label>
            <ion-input formControlName="name" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Teléfono</ion-label>
            <ion-input formControlName="phone" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Dirección</ion-label>
            <ion-input formControlName="address" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Localidad</ion-label>
            <ion-input formControlName="city" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Provincia</ion-label>
            <ion-input formControlName="state" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Código Postal</ion-label>
            <ion-input formControlName="postal_code" type="text"></ion-input>
          </ion-item>
        </form>
        <ion-button type="submit" color="primary" expand="block" (click)="submit()">Añadir</ion-button>
      </span>
      <div *ngIf="this.paso == 'cero' ">

        <ion-row class="paddingTopNoMarginBottom">
          <ion-text class="txtTitle">{{ 'medications.directions_title' | translate | titlecase}}</ion-text>
        </ion-row>
        <ion-list>
          <span *ngFor="let address of this.directions; let i = index">
            <ion-card class="cardProfile" (click)="selectDirection(address)">
              <ion-item lines="none">
                <div class="verticalLineOrange"></div>
                <ion-grid>
                  <ion-row>
                    <ion-col size="2">
                      <ion-icon name="location" color="tertiary"></ion-icon>
                    </ion-col>
                    <ion-col size="10" color="tertiary">{{address.name}}</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">{{address.address}}</ion-col>
                    <ion-col size="12">{{address.city}}</ion-col>
                    <ion-col size="12">{{address.state}}</ion-col>
                    <ion-col size="12">{{address.country}}</ion-col>
                    <ion-col style="color:tertiary;">{{address.postal_code}}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-card>
          </span>
        </ion-list>
        <div>
        </div>
      </div>
      <div *ngIf="this.paso == 'uno' ">
        <ion-row class="paddingTopNoMarginBottom" *ngIf="this.directions">
          <ion-text class="txtTitle">Paso 2. Seleccione tipo de envio</ion-text>
        </ion-row>
        <ion-card class="cardProfile">
          <form [formGroup]="formShipment">
            <ion-item lines="full">
              <ion-label>urgente10</ion-label>
              <input type="radio" formControlName="sendType" value="urgente10" checked>
            </ion-item>
            <ion-item lines="full">
              <ion-label>bag14</ion-label>
              <input type="radio" formControlName="sendType" value="bag14">
            </ion-item>
            <ion-item lines="full">
              <ion-label>bag19</ion-label>
              <input type="radio" formControlName="sendType" value="bag19">
            </ion-item>
          </form>
          <ion-button block (click)="selectSendType()">Continuar</ion-button>
        </ion-card>
      </div>
      <div *ngIf="this.paso == 'dos'">
        <ion-row class="paddingTopNoMarginBottom">
          <ion-text class="txtTitle">Paso 3. Confirme el envío</ion-text>
        </ion-row>
        <p class="txtTitleGreyLeft">Su medicación se enviará a la siguiente dirección</p>
        <ion-list>
          <ion-card class="cardProfile">
            <ion-item lines="none">
              <div class="verticalLineBlue"></div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-icon name="location" color="primary"></ion-icon>
                  </ion-col>
                  <ion-col size="10" color="primary">{{this.direction.name}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">{{this.direction.address}}</ion-col>
                  <ion-col size="12">{{this.direction.city}}</ion-col>
                  <ion-col size="12">{{this.direction.state}}</ion-col>
                  <ion-col size="12">{{this.direction.postal_code}}</ion-col>
                  <ion-col size="12">{{this.direction.country}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card>
        </ion-list>
        <ion-row class="paddingTopNoMarginBottom">

          <ion-text class="txtTitle">A través del servicio de MRW {{this.sendTypes}}</ion-text>
        </ion-row><br>
        <ion-button expand="block" (click)="confirm()">Confirmar envio</ion-button>
        <form [formGroup]="formulario" style="visibility: hidden; ">
          <ion-input formControlName="selected_address"></ion-input>
          <ion-input formControlName="order_shipping_method"></ion-input>
        </form>
      </div>
      <div *ngIf="showConfirmed">
        <h1>Solicitud recibida correctamente<ion-button (click)="back()">Volver</ion-button>
        </h1>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>