.verticalLineOrange {
  width: 1%;
  height: 85%;
  margin-left: 2%;
  background: #f39c12;
}
.verticalLineBlue {
  width: 1%;
  height: 85%;
  margin-left: 2%;
  background: #5250da;
}

.cardProfile {
  padding: 9px !important;
}
