<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'medications.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content view-cached="”false”">
  <ion-card class="cardProfile" (click)="goTo()">
    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-icon
            style="height: 20px; width: 20px"
            src="assets/icons/shared-care-plan/scp-medication.svg"
          ></ion-icon>
          <ion-text class="txtTitleGoalsDarker textAdvicesSlider"
            >{{ 'medications.title' | translate}}</ion-text
          >
        </ion-row>
        <ion-row>
          <p class="txtSubtitle">
            {{ 'medications.head_card_text' | translate}}
          </p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <div>
    <ion-list *ngIf="items.length > 0; else noData">
      <app-scp-med-for-mon
        *ngFor="let content of items"
        [content]="content"
      ></app-scp-med-for-mon>
    </ion-list>
  </div>
  <ng-template #noData>
    <div *ngIf="!this.isLoading">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon class="iconNoData" name="newspaper"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h4 style="text-align: center">{{ "no_data"| translate}}</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>
