.verticalLineOrange {
  width: 1%;
  height: 85%;
  margin-left: 2%;
  background: #f39c12;
}
.verticalLineBlue {
  width: 1%;
  height: 85%;
  margin-left: 2%;
  background: var(--ion-color-primary);
}

.cardProfile {
  padding: 9px !important;
}
