<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'diet.detail' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- SegmentBar -->
  <ion-row style="background-color: var(--secondary-bkg); padding-top: 3%;">
    <ion-col size="0.5"></ion-col>
    <ion-col size="11" style="display: flex; justify-content: center;">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment" scrollable>
        <ion-segment-button *ngIf="role?.component?.diet" value="diets">
          <ion-label>{{'diary.field_today' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngIf="role?.component?.drug" value="Receipt">
          <ion-label>{{'diary.field_recipes' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col size="0.5"></ion-col>

    <ion-row style="width: 100%;">
      <ion-col size="12">
        <app-caregiver></app-caregiver>
      </ion-col>
    </ion-row>
  </ion-row>



  <!-- segment -->
  <div class="verticalLine2" [ngSwitch]="segment"></div>
  <div class="verticalLine2" [ngSwitch]="segment">
    <!-- Diets Today-->
    <div *ngSwitchCase="'diets'">
      <ng-container class="spin" *ngIf="this.isLoading; else finishedLoading">
        <ion-spinner name="bubbles"></ion-spinner>
      </ng-container>

      <ng-template #finishedLoading>
        <ion-list *ngIf="listDiets.length > 0; else noData">
          <ion-grid *ngFor="let content of listDiets" class="ion-no-padding">
            <ion-row>

              <ion-col size="0.8">
                <ion-icon ChangeIconColor [timeOfDay]="content?.date"  class="center" src='/assets/icons/shared-care-plan/ellipse.svg'></ion-icon>&nbsp;
              </ion-col>
              

              <ion-col size="11.2" class="text-column" style="display: flex; align-items: center;">
                <ion-text class="txt-momentDay" ChangeColor [timeOfDay]="content?.date" >{{ content?.name}}</ion-text>
              </ion-col>


            
            </ion-row>
            <ion-row *ngFor="let diets of content.items">
              <ion-col size="0.8" style="align-items: center;">
                <ion-icon ChangeLineColor [timeOfDay]="diets?.date_intake"  style="font-size: large; width: 100%; height: 100%;" 
                  src='/assets/icons/shared-care-plan/linea.svg'></ion-icon>
              </ion-col>
              <ion-col size="11.2">
                <app-content-date [content]="diets" ></app-content-date>
              </ion-col>

            </ion-row>
           
          </ion-grid>

        </ion-list>
      </ng-template>


      <ng-template #noData>
        <app-no-data></app-no-data>
      </ng-template>

    </div>
    <!-- Recipes-->
    <div *ngSwitchCase="'Receipt'">
      <ng-container class="spin" *ngIf="this.isLoading; else finishedLoading">
        <ion-spinner name="bubbles"></ion-spinner>
      </ng-container>



     

      <ng-template #finishedLoading>

        <ion-searchbar *ngIf="this.permissionService.canViewRecipes" mode="ios" (ionInput)="filterListRecipes($event)"
        (ionClear)="this.getRecipesist()" placeholder="{{ 'advices.searchbar' | translate}}" style="padding-bottom: 0px;">
      </ion-searchbar>
        <ng-container *ngIf="!this.isLoading && items.length > 0; else noData">

      
          <app-view-more-information (notifyParent)="refreshPage($event)" [content]="items"
            [segment]="this.segment"></app-view-more-information>
        </ng-container>

        <ng-template #noData>
          <app-no-data></app-no-data>
        </ng-template>
      </ng-template>


    </div>
  </div>
</ion-content>
<ion-footer>
    <app-tabs></app-tabs>
</ion-footer>