<ion-header>
  <!-- <ion-toolbar> -->
    
    <ion-toolbar [ngSwitch]="segment">
      <ion-title>{{'diary.header_diary' | translate}}</ion-title>
    <ion-buttons slot="end" *ngSwitchCase="'medication'">
      <ion-icon class="primaryIcon" slot="icon-only" name="add" routerLink="drug-add"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngSwitchCase="'health'">
      <ion-icon class="primaryIcon" slot="icon-only" name="add" routerLink="/elements-add"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<!-- SegmentBar -->

  <ion-segment 
  (ionChange)="segmentChanged($event)"
  [(ngModel)]="segment" 
  scrollable>
    <ion-segment-button value="diets">
      <ion-label>{{'diary.field_diet' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="medication">
      <ion-label>{{'diary.field_drug' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="games">
      <ion-label>{{'diary.field_game' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="health">
      <ion-label>{{'diary.field_health' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

     <!-- Slides-->
    <ion-row>
      <ion-col size="2">
        <ion-buttons >
          <ion-button type="submit" float-left ion-button  color="primary" class="btnPrev" (click)="prev()"><ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-col>

      <ion-col size="8">
        <ion-slides #slides >
          <ion-slide>
            <p>{{this.date | date: 'EEEE, d MMMM' | titlecase}}</p>     
          </ion-slide>
        </ion-slides>
      </ion-col >
      <ion-col size="2">
        <ion-buttons >
          <ion-button type="submit" float-right ion-button color="primary" class="btnNext" (click)="next()"><ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  
<!-- segment -->
    <div class="verticalLine2" [ngSwitch]="segment">

    <!-- Diets-->


<div *ngSwitchCase="'diets'">
  <ion-list *ngIf="items.length > 0; else noData">   
    <ion-card (click)="expandItem(item)" *ngFor="let item of items" class="cardProfile" >
      <ion-item *ngIf="item.expanded" lines="none">
        <ion-col size="2">
          <ion-img *ngIf="item.item.image" [src]='item.item.image.thumbnailTemporaryUrl' style="margin-right: 5px;">
          </ion-img>
        </ion-col>
        <ion-label style="color:#E67E22;">{{item.item.name}}</ion-label>
        <p class="txtTitleTrackingLittle">30/02/21</p>
        <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
      </ion-item>
      <ion-item *ngIf="!item.expanded" lines="none">
        <ion-col size="2">
          <ion-img src='assets/icons/Union.svg' style="margin-right: 5px;">
          </ion-img>
        </ion-col>
        <ion-label style="color:#E67E22;">Desayuno</ion-label>
        <p class="txtTitleTrackingLittle">30/02/21</p>
        <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
      </ion-item>
 
     
        <app-expandable expandHeight="100px" [expanded]="item.expanded">
          <ion-item lines="none">            
            <ion-label>{{'diary.description' | translate}}</ion-label>
           <!--  <p class="txtTitleTrackingLittle">resultado</p> -->
          </ion-item>
          <ion-item lines="none">
            <p class="txtTitleTrackingLittle" routerLink="diets-detail" [state]="{id: item.item.id}">{{'button.detail' | translate}}</p>
          </ion-item>
        </app-expandable>
  
    </ion-card>
  </ion-list>
</div>
  
    

    <!-- Medication-->


<div *ngSwitchCase="'medication'">
  <ion-list *ngIf="listDrug.length > 0; else noData">
    <ion-list *ngFor="let list of this.listDrug">
        <ion-label class="txtTitle" color="primary">{{'diary.field_drug' | translate}} {{list.date| titlecase}}</ion-label>

      <ion-card *ngFor="let item of list.itemDrugs" class="cardProfilePaddingBottom" (click)="expandItem(item)">
          <ion-item *ngIf="item.expanded" lines="none">
            <ion-col size="2">
              <ion-img src='assets/icons/Pill.svg' style="margin-right: 5px;">
              </ion-img>
            </ion-col>
            <ion-label style="color:#2ECC71;">{{item.item.name}} </ion-label>
            <p class="txtTitleTrackingLittle">{{item.item.hour_intake}}</p>
            <ion-icon name="chevron-up-outline" slot="end" size="small"></ion-icon>
          </ion-item>
          <ion-item *ngIf="!item.expanded" lines="none">
            <ion-col size="2">
              <ion-img src='assets/icons/Pill.svg' style="margin-right: 5px;">
              </ion-img>
            </ion-col>
            <ion-label style="color:#2ECC71;">{{item.item.name}}</ion-label>
            <p class="txtTitleTrackingLittle">{{item.item.hour_intake}}</p>
            <ion-icon name="chevron-down-outline" slot="end" size="small"></ion-icon>
          </ion-item>
   
       
          <app-expandable expandHeight="100px" [expanded]="item.expanded">
            <ion-item lines="none">
              <p class="txtTitleTrackingLittle">{{item.item.name}} (Dosi: {{item.item.dose}})
              </p>
            </ion-item>
            <div class="main-container3">

              <ion-button *ngIf="item.item.forgotten == 2"  size="small" color="primary" 
              (click)="changeTake(item.item.id, item.item.state)">{{ 'button.take' | translate }}</ion-button>
              <ion-button *ngIf="item.item.forgotten == 1"  size="small" color="danger" 
              (click)="changeTake(item.item.id, item.item.state)">{{ 'button.forgotten' | translate }}<ion-icon style="margin-left: 5px;" name="close-outline" color="light"></ion-icon>
              </ion-button>
              <ion-button *ngIf="item.item.forgotten == 0"  size="small" color="success" 
              (click)="changeTake(item.item.id, item.item.state)">{{ 'button.taked' | translate }}<ion-icon style="margin-left: 5px;" name="checkmark-outline" color="light"></ion-icon>
              </ion-button>&nbsp;

              <ion-button size="small" color="transparent" class="buttonLink" 
                routerLink="drugs-detail" [state]="{id: item.item.id, drug:item.item}"
              >{{ 'detail_contact.button_edit' | translate }}</ion-button>&nbsp;
            </div>
   
          </app-expandable>
    
      </ion-card>
    </ion-list>
  </ion-list>
  </div>


    <!-- Games -->

  <div *ngSwitchCase="'games'"> 
    <ion-list *ngIf="items.length > 0; else noData">
      <ion-card class="cardProfile" *ngFor="let item of items" >
        <img *ngIf="item.item?.file !== null" (click)="openGames(item.item)" [src]='item.item.file.temporaryUrl'/>
        <ion-item lines="none" (click)="openGames(item.item)">
          <div>
            <ion-img src='assets/icons/game-controller.svg' style="width: 130%;" >
            </ion-img>
          </div>
          <ion-label style="color:#9B59B6"> &nbsp;&nbsp; {{item.item.name}}</ion-label>
          <div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-item>
        <ion-card-content [innerHtml]="item.item?.description">
        </ion-card-content>
        <ion-button size="small" color="transparent" class="buttonLink" routerLink="games-detail" [state]="{game: item.item}">{{ 'button.go_detail' | translate }}</ion-button>&nbsp;
      </ion-card>
    </ion-list>
  </div> 
<!-- Health -->
<div  *ngSwitchCase="'health'">
  <div *ngIf="groupedElements.length > 0; else noData">
  <ion-list  *ngFor="let group of this.groupedElements">
    <ion-label color="primary">{{group.group  }}</ion-label>
    <ion-card class="cardProfile" *ngFor="let element of this.group.elements">
      <ion-item lines="none" routerLink="/activity-goal" [state]="{id: element.id, header:element.name}">
        <div class="verticalLineRed"></div>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-img style="align-items: left;" src='assets/icons/VectorConsumo.svg' style="margin-right: 5px;">
              </ion-img>
            </ion-col>
            <ion-col size="8">
              <ion-card-title class="txtTitleGoals">{{element.name}}</ion-card-title>
            </ion-col>
            <ion-col size="2">
              <ion-label style="text-align: right;">
                <!-- <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon> -->
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-col size="12">
            <ion-card-title class="txtTitleGoals">{{element.value}} {{element.units}}
            </ion-card-title>
          </ion-col>
        </ion-grid>
      </ion-item>
    </ion-card>
  </ion-list>
  </div>  
</div>

  </div>

  <ng-template #noData>
    <ion-label *ngIf="!this.isLoading"> {{ "no_data"| translate}} </ion-label>
  </ng-template>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>