<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
        <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    <ion-title class="toolbarTitle" >{{ 'legal.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <div class="main-container" *ngIf="this.legal !== undefined">
    <div [innerHtml]="this.legal?.legal_text? (this.legal?.legal_text | safeHtml):'' "></div>

  </div>

  <div class="main-container">
    <ion-row style="margin-top:0%; margin-left: 2%; margin-right: 2%;">
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="rejectLegalConditions()">{{ 'button.reject' | translate | uppercase}}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="acceptLegalConditions()">{{ 'button.accept' | translate | uppercase}}</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
