<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button
            [text]="buttonText"
            [icon]="buttonIcon">
        </ion-back-button>
      </ion-buttons>
    <ion-title class="toolbarTitle" >{{ 'legal.header' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main-container" *ngIf="this.legal !== undefined">
    <div [innerHtml]="this.legal?.legal_text"></div>


        <ion-item lines="none">
        <ion-checkbox color="primary" [(ngModel)]="this.isChecked" style="margin-right: 5px;"></ion-checkbox>
        <ion-label>{{ 'legal.acept_conditions_label' | translate}}</ion-label>
        </ion-item>
        <ion-button type="button" color="primary" expand="block" class="enter-btn" (click)="acceptLegalConditions()" [disabled]="!this.isChecked">
            {{ 'legal.next_button' | translate}}
        </ion-button>
  </div>
</ion-content>
