ion-progress-bar {
    
    height: 20px;
    border-radius: 6px;
  }

  .icono-personalizado {
    background-color: purple; 
    padding: 5px; 
    border-radius: 50%; 
    color: white;
  }
  .custom-button {
    font-size: 12px; /* Ajusta el tamaño del texto */
   padding-top: 0px;
}