<ion-card class="level-card" *ngIf="!completedGoals; else Completed">
  <ion-item lines="none" class="cardHeader">
    <ion-icon  name="heart" slot="start" class="ion-no-margin" style="color:purple"></ion-icon>
    <ion-text  style="margin-left:10px; color:purple" slot="start"><strong>{{ this.challenge?.name }}</strong></ion-text>

  </ion-item>

  <ion-card-content class="ion-no-padding">
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col size="3" class="ion-no-padding">
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <p style="font-size: medium;"><b>{{ content.current_level?.name}}</b></p>

         
        </ion-col>
        <ion-col size="3" class="ion-no-padding" >          
          <ion-button  color="warning"  class="ion-float-right custom-button" 
          (click)="changeTake()">{{ 'medication.medication_status' | translate }}
        </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-img style="margin-top: -50%;" src="assets/icons/shared-care-plan/goal_current.svg"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-row style="display: inline-flex !important; margin-bottom: 4%;"
            class="challenge-description">
            {{'health_path.goal_txt1' | translate}}&nbsp;<strong>{{
              current_level.current_score
              }}
              {{'game.points' | translate}}</strong>
            <div *ngIf="current_level?.percentage_completed < 100">
              {{'health_path.goal_txt2'
              |
              translate}} {{ current_level.score_required -
              current_level.current_score }} {{'health_path.goal_txt3' | translate}}</div>
            <div *ngIf="current_level?.percentage_completed < 100">{{'health_path.goal_txt4'
              |
              translate}} 🎉</div>
            <br>
          </ion-row>

          <ion-row style="margin-bottom: 5%;">
            <ion-progress-bar class="progress-bar"
              value="{{ current_level.percentage_completed > 0 ? current_level?.percentage_completed / 100 : 0 }}">
              <ion-label>{{ current_level.percentage_completed }}%</ion-label>
            </ion-progress-bar>
          </ion-row>
        </ion-col>

      <ion-row *ngIf="this.isRequired" style="margin: 7% 2.5% 0% 2.5%; font-size: small; display: inline-flex !important;">
        <ion-text [innerHtml]="this.note | safeHtml">
        </ion-text>
      </ion-row>
      </ion-row>
    </ion-grid>
    <ion-accordion-group *ngIf=" this.goalsList?.length > 0" >
      <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="end" >
        <ion-item slot="header" style="color: #A2047F;">
          <ion-label><strong>{{ 'goals.accordion_goals'| translate  }}</strong></ion-label>
         
        </ion-item>
       
        <div class="ion-padding" slot="content">
          <ion-list *ngFor="let g of this.goalsList" style="background-color: white;" class="ion-no-padding">
            <ion-item lines="none" detail="false" (click)="g?.completed ? false : openGoal(g)">
              <ion-label class="name-goal" style="color: black;">{{g?.message}}</ion-label>
            </ion-item>
            <ion-item lines="full" detail="false" (click)="g?.completed ? false : openGoal(g)">
              <ion-label class="name-goal text1line" *ngIf="g?.completed;else showNoCompleted" style="color: #7F8C8D;">{{ g?.name }}</ion-label>
              <ng-template #showNoCompleted>
                <ion-label class="name-goal text1line">{{ g?.name }}</ion-label>
              </ng-template>
              <ion-text *ngIf="g?.completed;else showArrow" slot="end" class="goal-done" style="color: #4D7A05;"><strong>{{ 'health_path.done'| translate  }}</strong></ion-text>
              <ng-template #showArrow>
                <ion-text style="color: #A2047F;"> <strong>{{'goals.go' | translate}}</strong></ion-text>
                <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: purple;"> </ion-icon>
              </ng-template>
            </ion-item>
          </ion-list>
        </div>
        
      </ion-accordion>
    </ion-accordion-group>
   
    
  </ion-card-content>

</ion-card>


<ng-template #Completed>

<ion-card class="level-card" >
  <ion-item lines="none" class="cardHeader">
    <ion-icon  name="heart" slot="start" class="ion-no-margin" style="color:purple"></ion-icon>
    <ion-text  style="margin-left:10px; color:purple" slot="start"><strong>{{ this.challenge?.name }}</strong></ion-text>

  </ion-item>

  <ion-card-content class="ion-no-padding">
    <ion-grid >
      <ion-row class="ion-no-padding">
        <ion-col size="3" class="ion-no-padding">
        </ion-col>
        <ion-col size="9" class="ion-no-padding">
          <p style="font-size: medium;"><b>{{ content.current_level?.name}}</b></p>
        </ion-col>
       

      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-img style="margin-top: -50%;" src="assets/icons/shared-care-plan/goal_completed.svg"></ion-img>
        </ion-col>
        <ion-col size="9">
          <ion-row style="display: inline-flex !important; margin-bottom: 4%;"
            class="challenge-description">
            <strong>{{'goals.text_goals1' | translate}}</strong>
            <div>
              {{'goals.text_goals2'|translate}} <strong>{{'goals.text_goals3'|translate}}</strong>  {{'goals.text_goals4'|translate}}</div>
            
            <br>
          </ion-row>

          <ion-row style="margin-bottom: 5%;">
            <ion-progress-bar class="progress-bar"
              value="100">
              <ion-label>100%</ion-label>
            </ion-progress-bar>
          </ion-row>
        </ion-col>

     <!--<ion-row *ngIf="this.isRequired" style="margin: 7% 2.5% 0% 2.5%; font-size: small; display: inline-flex !important;">
        <ion-text [innerHtml]="this.note | safeHtml">
        </ion-text>
      </ion-row>-->
      </ion-row>
    </ion-grid>
     <!--<ion-accordion-group *ngIf=" this.goalsList?.length > 0" >
      <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="end" >
        <ion-item slot="header" style="color: #A2047F;">
          <ion-label><strong>{{ 'goals.accordion_goals'| translate  }}</strong></ion-label>
         
        </ion-item>
       
        <div class="ion-padding" slot="content">
          <ion-list *ngFor="let g of this.goalsList" style="background-color: white;" class="ion-no-padding">
            <ion-item lines="none" detail="false" (click)="g?.completed ? false : openGoal(g)">
              <ion-label class="name-goal" style="color: black;">{{g?.message}}</ion-label>
            </ion-item>
            <ion-item lines="full" detail="false" (click)="g?.completed ? false : openGoal(g)">
              <ion-label class="name-goal text1line" *ngIf="g?.completed;else showNoCompleted" style="color: #7F8C8D;">{{ g?.name }}</ion-label>
              <ng-template #showNoCompleted>
                <ion-label class="name-goal text1line">{{ g?.name }}</ion-label>
              </ng-template>
              <ion-text *ngIf="g?.completed;else showArrow" slot="end" class="goal-done" style="color: #4D7A05;"><strong>{{ 'health_path.done'| translate  }}</strong></ion-text>
              <ng-template #showArrow>
                <ion-text style="color: #A2047F;"> <strong>{{'goals.go' | translate}}</strong></ion-text>
                <ion-icon name="chevron-forward-outline" slot="end" size="small" style="color: purple;"> </ion-icon>
              </ng-template>
            </ion-item>
          </ion-list>
        </div>
        
      </ion-accordion>
    </ion-accordion-group>-->
     
    
  </ion-card-content>

</ion-card>
</ng-template>