.floating-button {
    position: fixed;
    bottom: 5%; /* Ajusta la distancia desde el borde inferior según sea necesario */
    left: 3%;
    transform: translateY(-120%);
    border-radius: 99px !important; /* Bordes redondeados */
    z-index: 99;

    width: calc(100% - 10%); /* Ancho casi completo, ajusta el valor según lo necesites */
    max-width: 400px; /* Establece un ancho máximo si es necesario */
    margin: 1%;
    text-transform: capitalize;
    
  }

  