<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'tracking.tap_forms' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/profile">
        <ion-icon slot="icon-only" name="menu" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content view-cached=”false”>
  <!-- SegmentBar -->
  <ion-row style="background-color: var(--secondary-bkg); padding-top: 3%;">
    <ion-col size="0.5"></ion-col>
    <ion-col size="11" style="display: flex; justify-content: center;">
      <ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="segment" scrollable>
        <ion-segment-button *ngIf="role?.component?.diet" value="today">
          <ion-label>{{'diary.field_today' | translate}}</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngIf="role?.component?.drug" value="forms">
          <ion-label>{{'tracking.tap_formsPlan' | translate}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
    <ion-col size="0.5"></ion-col>

    <ion-row style="width: 100%;">
      <ion-col size="12">
        <app-caregiver></app-caregiver>
      </ion-col>
    </ion-row>
  </ion-row>



  <div class="verticalLine2" [ngSwitch]="segment">
 <!-- Forms Today-->
 <div *ngSwitchCase="'today'" style="margin-top: 3%;">
  <div >
    <ion-list  *ngIf="this.permissionService.canViewForms && listForms.length > 0; else noData">
      <ion-grid *ngFor="let content of listForms" class="ion-no-padding" >  
        <ion-row>
          <!--<ion-col size="0.8" >    
            <ion-icon class="center" *ngIf="getIsDateInPast(content?.from_date)"
            src='/assets/icons/shared-care-plan/ellipse.svg'
            ></ion-icon>&nbsp; 
            <ion-icon class="center" *ngIf="!isDateInPast"
            src='/assets/icons/shared-care-plan/ellipse5.svg'
            ></ion-icon>&nbsp;
          </ion-col>-->
          <ion-col size="11.2" >   
            <ion-text class="center"   style="color: #BA0186;" >
              <h5>&nbsp; 
                {{ this.selectTime(content?.time) }}
              </h5>
            </ion-text>         
          </ion-col>

        </ion-row>
        <ion-row>
          <!--<ion-col size="0.8" style="align-items: center;">  
          <ion-icon style="font-size: large; width: 100%; height: 100%;" *ngIf="!isDateInPast" src='/assets/icons/shared-care-plan/lineStroke.svg'></ion-icon>
          <ion-icon style="font-size: large; width: 100%; height: 100%;" *ngIf="isDateInPast" src='/assets/icons/shared-care-plan/linea.svg'></ion-icon>
          
        </ion-col>-->
          <ion-col size="11.2">    
            <app-content-date [content]="content" (redirect)="goTo(content)"></app-content-date>
          </ion-col>
          
        </ion-row>
      </ion-grid>

    </ion-list>
  </div>



  <ng-template #noData>
    <app-no-data></app-no-data>
  </ng-template>

</div>

 <!-- Forms-->
<div *ngSwitchCase="'forms'" style="margin-top: 3%;">
  <ion-list *ngIf="this.permissionService.canViewPlanningForms && items.length > 0; else noData">
    <app-scp-med-for-mon
    *ngFor="let content of items"
    [content]="content" [segment]="this.segment" (dataUpdated)="loaderAgain($event)"
  ></app-scp-med-for-mon>
  </ion-list>
  <ng-template #noData>
    <div *ngIf="!this.isLoading" style="margin-top: 3%;">
      <app-no-data></app-no-data>
    </div>
  </ng-template>
</div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-tabs></app-tabs>
  </ion-toolbar>
</ion-footer>