<ion-content fullscreen>
    <div class="main-container">
        <img style="padding-top: 40%;" src="/assets/images/Logo2.svg" />
        <ion-grid>
            <ion-col>
                <form [formGroup]="loginForm" (ngSubmit)="doDooleAppLogin()">
                    <ion-item-divider>
                        <ion-icon name="person"></ion-icon>
                        <ion-input type="text" placeholder="{{'landing.user_placeholder' | translate }}" formControlName="username" >
                        </ion-input>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-icon name="lock-closed"></ion-icon>
                        <app-show-hide-password>
                            <ion-input type="password" placeholder="{{'landing.password_placeholder' | translate }}" formControlName="password">
                            </ion-input>
                        </app-show-hide-password>
                    </ion-item-divider>
                    <ion-text (click)="passwordRecovery()">
                        <a>{{ 'landing.password_recovery' | translate}}</a>
                    </ion-text>
                  
                    <!-- <ion-button type="submit" color="primary" expand="block" class="enter-btn" routerLink="legal">
                        Iniciar sesión
                    </ion-button> -->

                    <ion-button type="submit" size="medium" [disabled]="!loginForm.valid"
                    color="primary" expand="block" class="enter-btn">
                    {{ 'landing.button_signin' | translate}}</ion-button>
                </form>
                <div style="margin-top: 5%;">
                    <div *ngIf="this.hasBiometricAuth">
                      <ion-button expand="block" size="medium" (click)="doBiometricLogin()">
                        <ion-icon slot="start" name="finger-print-outline"></ion-icon>
                        {{ 'landing.biometrics' | translate }}
                      </ion-button>
                    </div>               
                </div>

            </ion-col>
        </ion-grid>
    </div>
</ion-content>