<ion-content fullscreen>
    <div class="main-container">
        <img style="padding-top: 40%;" src="/assets/images/logo.svg" />
        <ion-grid>
            <ion-col>
                <div>
                    <ion-item-divider>
                        <ion-icon name="person"></ion-icon>
                        <ion-input placeholder="Usuario">
                        </ion-input>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-icon name="lock-closed"></ion-icon>
                        <ion-input placeholder="Contraseña">
                        </ion-input>
                    </ion-item-divider>
                    <ion-text>
                        <a> ¿Has olvidado la contraseña?</a>
                    </ion-text>
                  
                    <ion-button type="button" color="primary" expand="block" class="enter-btn" routerLink="legal">
                        Iniciar sesión
                    </ion-button>
       
                    <ion-button expand="block" color="transparent" class="buttonLink">
                        Crear Usuario
                    </ion-button>
                </div>
            </ion-col>
        </ion-grid>
    </div>
</ion-content>