<ion-content fullscreen>
    <div class="main-container">
        <img style="padding-top: 40%;" src="/assets/images/logo.svg" />
        <ion-grid>
            <ion-col>
                <form [formGroup]="loginForm" (ngSubmit)="doDooleAppLogin()">
                    <ion-item-divider>
                        <ion-icon name="person"></ion-icon>
                        <ion-input type="text" placeholder="{{'landing.user_placeholder' | translate }}" formControlName="username" >
                        </ion-input>
                    </ion-item-divider>
                    <ion-item-divider>
                        <ion-icon name="lock-closed"></ion-icon>
                        <ion-input type="password" placeholder="{{'landing.password_placeholder' | translate }}" formControlName="password">
                        </ion-input>
                    </ion-item-divider>
                    <ion-text>
                        <a>{{ 'landing.password_recovery' | translate}}</a>
                    </ion-text>
                  
                    <!-- <ion-button type="submit" color="primary" expand="block" class="enter-btn" routerLink="legal">
                        Iniciar sesión
                    </ion-button> -->

                    <ion-button type="submit" size="medium" [disabled]="!loginForm.valid"
                    color="primary" expand="block" class="enter-btn">
                    {{ 'landing.button_signin' | translate}}</ion-button>
       
                    <ion-button expand="block" color="transparent" class="buttonLink">
                        {{ 'landing.button_registre' | translate}}
                    </ion-button>
                </form>
            </ion-col>
        </ion-grid>
    </div>
</ion-content>