<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="close" (click)="backButton()"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content view-cached=”false”>
  <div style="height: 100% !important;" *ngIf="this.configurations.access_type === IFRAME; else windowsApp">
    <iframe width="100%" height="100%" *ngIf="this.configurations.iframe_url" [src]="this.safeUrl" class="iframe" scrolling="yes" ></iframe>    
  </div>
  <ng-template #windowsApp>
    <div style="padding: 5px;" *ngIf="this.configurations?.access_description" [innerHTML]="this.configurations?.access_description | safeHtml"></div>
  </ng-template>
</ion-content>
