/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
/* Add application styles & imports to this file! */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto-Regular";
  src: url("/assets/fonts/Roboto-Regular.ttf");
  color: #2c3e50;
}
/* Global styles of the components*/
/* ion-icon {
    color:#7f8c8d;
 }
*/
ion-header {
  --ion-background-color: #fafafa !important;
}

ion-searchbar {
  --ion-background-color: white !important;
}

ion-card {
  border-radius: 10px;
  overflow: hidden;
  --background-focused: #3498DB;
}

ion-segment-button {
  font-size: smaller;
}

/*link active color*/
.active-item {
  --color: var(--ion-color-primary);
}

.whiteBackground {
  --ion-background-color: white !important;
}

.primaryIcon {
  color: #3498db;
}

.paddingGrid {
  margin-top: 10%;
  margin-bottom: 10%;
}

.paddingTop {
  padding-top: 5%;
}

ion-item-divider {
  background-color: rgb(253, 253, 252);
  margin-bottom: 15px;
  padding: 3%;
  border-radius: 10px;
  height: 45px;
}

ion-back-button {
  display: block;
  color: #3498db;
}

/* Global classes*/
.main-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.main-container2 {
  padding-left: 5%;
  padding-top: 5%;
  background-color: white;
}

.main-container3 {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.buttonContainer {
  margin-left: 2%;
  margin-right: 2%;
}

.toolbarTitle {
  text-align: center;
}

.bold {
  font-weight: 800;
}

.cardProfile2 {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  min-width: 300px;
}

.cardProfile {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
}

.cardProfilePadding {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  padding: 3%;
}

.cardProfilePaddingBottom {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 3%;
}

.cardProfilePaddingBottomMinHeight {
  --ion-background-color: white !important;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 3%;
}

/*Custom Text*/
.txtTitle {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
}

.txtTitleGray {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
  color: #7f8c8d;
}

.txtTitle2 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.txtTitleNoMargin {
  font-size: 18px;
  font-weight: 700;
}

.txtTitleGoals {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.txtTitleGoalsDarker {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #000000;
}

.txtTitleGoals2 {
  font-size: 14px;
  font-weight: 500;
}

.txtTitleGoals3 {
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
}

.txtTitleGoalsLittle {
  font-size: 12px;
  font-weight: 400;
}

.txtTracking {
  font-size: 12px;
  font-weight: 400;
  margin-top: -15px;
}

.txtTitleGoalsLittle2 {
  font-size: 12px;
  font-weight: 400;
  padding-top: 5%;
  text-align: justify;
}

.txtTitleGoalsLittle3 {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  margin-top: 3%;
}

.txtTitleGoalsGreenBig {
  font-size: 24px;
  font-weight: 700;
  color: #2ecc71;
}

.txtTitleBig {
  font-size: 24px;
  font-weight: 700;
}

.txtTitleTrackingDate {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
}

.txtTitleGreyLeft {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  text-align: left;
  margin-left: 5%;
}

.txtTitleChatDate {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  text-align: right;
  margin-top: -3px;
}

.txtTitleTrackingLittle {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  margin-top: -15px;
}

.txtContactLittle {
  font-size: 12px;
  font-weight: 400;
  color: #7f8c8d;
  text-align: center;
  margin-top: 0%;
  padding-left: 3%;
  padding-right: 3%;
}

.txtPaddingLeft {
  padding-left: 5%;
}

.textMedium {
  text-align: right;
  color: #7f8c8d;
}

.textMediumLeft {
  text-align: left;
  color: #7f8c8d !important;
}

.textMediumGreen {
  text-align: right;
  color: #27ae60;
}

.textMediumGreen {
  text-align: right;
  color: #27ae60;
}

.textBlue {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}

.textBlueCenter {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.textBlueBold {
  color: #3498db;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.textOrangeBold {
  color: #F39C12;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.textBluePadding {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  padding-left: 10%;
}

.textBlueCentered {
  color: #3498db;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.textBlueCentered1 {
  color: #3498db;
  text-align: center;
  align-items: center;
}

.alingRight {
  text-align: right !important;
  padding-right: 10%;
}

.textBlueCenteredTop {
  color: #3498DB;
  text-align: center;
  align-items: center;
  margin-top: -10px;
}

.txtTitleBlueDark {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3498db;
}

.alingLeft {
  text-align: left !important;
}

.alingLeftTop {
  text-align: left !important;
  padding-left: 3%;
  margin-top: 3%;
}

.txtSubtitle {
  font-size: 14px;
  font-weight: 600;
}

.txtTitleSuccess {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #2ECC71;
}

.txtTitleWarning {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #F39C12;
}

.txtTitleDanger {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #E74C3C;
}

/*Custom Buttons*/
.deleteButton {
  color: red !important;
  --background: #ffffff;
}

.buttonLink {
  color: #3498db;
  --box-shadow: none;
}

.buttonClose {
  color: red;
  --box-shadow: none;
}

.imgCard {
  background-repeat: no-repeat;
  background-size: cover;
  margin: -10px;
  background-position: center;
}

.noMargin {
  margin-bottom: -5%;
  --background: #ffffff !important;
}

.white {
  --background: #ffffff !important;
}

/* IMAGES */
.img-wrapper {
  background-size: 100% auto;
  border-radius: 50% !important;
  overflow: hidden;
  max-height: 100px;
  max-width: 100px;
  display: block;
  margin: auto;
  margin-top: 3%;
}

.img-wrapper3 {
  background-size: 80% auto;
  background-color: #3498db;
  border-radius: 50% !important;
  overflow: hidden;
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-wrapper-doctors {
  background-size: 100% auto;
  border-radius: 50% !important;
  overflow: hidden;
  max-height: 70px;
  max-width: 70px;
  display: block;
  margin-left: 0%;
}

.iconNoData {
  zoom: 4;
  display: block;
  margin: auto;
  padding-top: 30%;
  color: #7f8c8d;
}

.iconNoDataRow {
  zoom: 2;
  padding-top: 6%;
  color: #7f8c8d;
}

/*MEDIA QUERIES IPHONE 5 PORTRAIT*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: portrait) {
  .cardProfile2 {
    --ion-background-color: white !important;
    font-size: 14px;
    font-weight: 400;
    min-width: 250px;
  }
}
/* Notfication classes */
.success {
  background-color: #3498db;
}

.spinnerCenter {
  margin: 20px 40px;
  text-align: center;
}

.spin {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

.custom-class {
  color: #DFF2BF;
  background-color: #4F8A10;
}

.toast-custom-class {
  opacity: 0.9;
  --border-color:#32BEA6;
  --border-radius:50%;
  --border-style:solid;
  --border-width:3px;
  --background: url("/assets/images/cheque.svg");
  --height: 3.5em;
  --width: 3.5em;
  --start: left;
  animation: draw 3s 1;
  animation-direction: normal;
  top: 35%;
}

.toast-pusher-class {
  --background: url("https://acegif.com/wp-content/uploads/balloon-3.gif");
  --height: 100%;
  --width: 100%;
  --button-color: rgb(255, 0, 0);
  --color: rgb(70, 68, 68);
  font-size: large;
  font-weight: bolder;
  top: 35%;
}

@keyframes draw {
  0% {
    left: -1000px;
    opacity: 0.2;
  }
  25% {
    left: 0px;
    opacity: 0.75;
  }
  50% {
    left: 0px;
    opacity: 1;
  }
}
.modal-custom-class .modal-wrapper {
  height: 100% !important;
  width: 100% !important;
}

/*IOS STYLES*/
.ios .narRow {
  margin-top: -20px;
}

.ios .paddingTopNoMarginBottom {
  padding-top: 3%;
  margin-bottom: -3%;
}

.ios .paddingTopNoMarginBottomBlue {
  padding-top: 3%;
  margin-bottom: -3%;
  color: #3498db;
}

.ios .iosHeader {
  padding-top: 50px;
}

.ios .arrow {
  display: none;
}

/*ANDROID STYLES*/
.md .paddingTopNoMarginBottom {
  padding-top: 6%;
}

.md .paddingTopNoMarginBottomBlue {
  padding-top: 6%;
  color: #3498db;
}

@media (min-width: 640px) and (max-width: 1023px) and (orientation: landscape) {
  ion-footer {
    height: 18%;
  }
  ion-footer app-tabs ion-tab-button {
    --padding-bottom: 32% !important;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  ion-footer {
    height: 15%;
  }
  ion-footer app-tabs ion-tab-button {
    --padding-bottom: 30% !important;
  }
}
/* .md ion-header ion-title{
  text-align: center !important;
 } */
:root h1 > app-text-shell {
  --font-size: 32px;
  --text-shell-line-height: calc(var(--font-size) * 1.2);
  --text-shell-line-color: #CCC;
}
:root h2 > app-text-shell {
  --font-size: 28px;
  --text-shell-line-height: calc(var(--font-size) * 1.2);
  --text-shell-line-color: #DDD;
}
:root h3 > app-text-shell {
  --font-size: 24px;
  --text-shell-line-height: calc(var(--font-size) * 1.2);
  --text-shell-line-color: #DDD;
}
:root h4 > app-text-shell {
  --font-size: 20px;
  --text-shell-line-height: calc(var(--font-size) * 1.2);
  --text-shell-line-color: #DDD;
}
:root h5 > app-text-shell {
  --font-size: 18px;
  --text-shell-line-height: calc(var(--font-size) * 1.2);
  --text-shell-line-color: #DDD;
}

.my-alert-class {
  --background: white;
}

.challenge-alert {
  text-align: center;
}
.challenge-alert ion-backdrop {
  --backdrop-opacity: 1;
  background-color: white;
}
.challenge-alert .alert-wrapper {
  --background: white;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: none !important;
}
.challenge-alert .alert-wrapper .alert-head h2 {
  text-align: center;
}
.challenge-alert .challenge {
  width: 30vw;
  height: 30vw;
  display: block;
  margin: 0 auto;
}
.challenge-alert .text-challenge {
  text-align: center;
  margin: 0 auto;
}
.challenge-alert .modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

hr {
  background: black !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  animation-delay: 1.25s, 1.25s, 1.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}
@keyframes bang {
  to {
    box-shadow: 227px -203.6666666667px hsl(236, 100%, 50%), -29px -252.6666666667px hsl(312, 100%, 50%), 77px 27.3333333333px hsl(272, 100%, 50%), -183px -176.6666666667px hsl(299, 100%, 50%), -55px -359.6666666667px hsl(167, 100%, 50%), -41px -6.6666666667px hsl(207, 100%, 50%), -94px -389.6666666667px hsl(80, 100%, 50%), 180px -176.6666666667px hsl(291, 100%, 50%), 98px -171.6666666667px hsl(58, 100%, 50%), 149px -143.6666666667px hsl(279, 100%, 50%), 135px 10.3333333333px hsl(305, 100%, 50%), -71px -374.6666666667px hsl(217, 100%, 50%), 232px -69.6666666667px hsl(203, 100%, 50%), -203px -299.6666666667px hsl(245, 100%, 50%), 124px -330.6666666667px hsl(93, 100%, 50%), 212px -262.6666666667px hsl(357, 100%, 50%), 161px 65.3333333333px hsl(113, 100%, 50%), 149px -32.6666666667px hsl(175, 100%, 50%), -208px -71.6666666667px hsl(62, 100%, 50%), -130px -333.6666666667px hsl(56, 100%, 50%), 224px -129.6666666667px hsl(14, 100%, 50%), -111px -122.6666666667px hsl(312, 100%, 50%), -68px 82.3333333333px hsl(190, 100%, 50%), 219px -297.6666666667px hsl(176, 100%, 50%), -114px 59.3333333333px hsl(84, 100%, 50%), -244px -89.6666666667px hsl(82, 100%, 50%), 164px 43.3333333333px hsl(18, 100%, 50%), 77px -45.6666666667px hsl(27, 100%, 50%), 5px -27.6666666667px hsl(16, 100%, 50%), -205px -231.6666666667px hsl(240, 100%, 50%), 131px -223.6666666667px hsl(311, 100%, 50%), 42px -255.6666666667px hsl(46, 100%, 50%), 207px -130.6666666667px hsl(26, 100%, 50%), -224px -299.6666666667px hsl(254, 100%, 50%), 52px -35.6666666667px hsl(275, 100%, 50%), 7px -292.6666666667px hsl(193, 100%, 50%), 117px -1.6666666667px hsl(55, 100%, 50%), -14px -39.6666666667px hsl(221, 100%, 50%), 239px -67.6666666667px hsl(234, 100%, 50%), 79px 29.3333333333px hsl(331, 100%, 50%), -207px -249.6666666667px hsl(286, 100%, 50%), 12px -109.6666666667px hsl(13, 100%, 50%), 198px -93.6666666667px hsl(256, 100%, 50%), 220px 27.3333333333px hsl(340, 100%, 50%), 189px -213.6666666667px hsl(336, 100%, 50%), 126px -352.6666666667px hsl(334, 100%, 50%), 11px -18.6666666667px hsl(181, 100%, 50%), -41px -392.6666666667px hsl(62, 100%, 50%), 235px -404.6666666667px hsl(26, 100%, 50%), 183px 72.3333333333px hsl(143, 100%, 50%), -236px -135.6666666667px hsl(178, 100%, 50%);
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}/*# sourceMappingURL=global.css.map */