/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Add application styles & imports to this file! */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
// Add base app styles
@import "theme/app-defaults.scss";

// Add form components styles
@import "theme/form-component.scss";

// Add base shell styles
@import "theme/shell-defaults.scss";

// Add Shared Care Plan
@import "theme/shared-care-plan/ion-colors.scss";
@import "theme/shared-care-plan/components.scss";

// Swiper
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';


.scp-home-alert .alert-wrapper {
  background: white;
  border-radius: 7px;
  
  .alert-head {
    padding: 0px;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins-Regular";
  }

  .alert-message.sc-ion-alert-ios {
    max-height: 500px !important;
  }


  .alert-message {
    padding: 0px;
    --max-height: 700px !important;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #e3d7d7;
    font-size: 14px;
    color: #4f5f6f !important;

    h1 {
      font-family: 'Poppins-Bold';
      color: var(--bullet-active);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px; 
      text-align: center;
      margin: 5%;
    }

    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      color: var(--bullet-active);
      font-style: normal;
      font-weight: 500;
      line-height: 18px; 
      margin: 5%;
    }
  }

  .alert-button-group {
    
    button {
      color: var(--disabled-alert);
      &:last-child {
        color: var(--ion-color-primary);
      }
      span {
        display: flex;
        justify-content: center;
      }
    }
    .alert-button.sc-ion-alert-ios {
      min-width: 40% !important;
    }

    .alert-button.sc-ion-alert-md.onlyButton {
      width: 90% !important;
    }
  } 
}


.videocall-alert .alert-wrapper {
  background: white;
  border-radius: 7px;
  
  .alert-head {
    padding: 0px;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: "Poppins-Regular";
  }

  .alert-message.sc-ion-alert-ios {
    max-height: 500px !important;
  }


  .alert-message {
    padding: 0px;
    --max-height: 700px !important;
    height: 103px;
    justify-content: center;
    text-align: left;
    border-bottom: 1px solid #e3d7d7;
    font-size: 14px;
    color: #4f5f6f !important;

    h1 {
      font-family: 'Poppins-Bold';
      color: var(--bullet-active);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 14px; 
      text-align: left;
      margin: 5%;
    }

    p {
      font-family: 'Poppins-Regular';
      font-size: 12px;
      color: var(--bullet-active);
      font-style: normal;
      font-weight: 500;
      line-height: 18px; 
      margin: 5%;
    }
  }

  .alert-button-group {
    
    button {
      color: var(--ion-color-danger);
      &:last-child {
        color: var(--ion-color-success);
      }
      span {
        display: flex;
        justify-content: center;
      }
    }
    .alert-button.sc-ion-alert-ios {
      min-width: 40% !important;
    }

    .alert-button.sc-ion-alert-md.onlyButton {
      width: 90% !important;
    }
  } 
}



.challenge-alert {
    ion-backdrop {
        --backdrop-opacity: 1;
        background-color: white;
      }

    text-align: center;
    .alert-wrapper {
        --background: white;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: none !important;
      .alert-head {
          // header styling here eg. background
          h2 {
              // header text styling here eg. color, font size
              text-align: center;
          }
      }
    };
    .challenge{
        width: 30vw;
        height: 30vw;
        display: block;
        margin: 0 auto;
    };
    .text-challenge{

        text-align: center;
        margin: 0 auto;
    }
    .modal-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }
  }

// los elemento en el DOM con la etiqueta <hr> no se visualizan en el froala
hr{
    background: black !important;
}


$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}

@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.modal-custom-class{
  --height: 100% !important;
  --width:  100% !important;
}


swiper-container {
  width: 100%;
  height: 100%;
  --swiper-pagination-bullet-inactive-color: var(--bullet-disabled);
  --swiper-pagination-color: var(--bullet-active);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  //display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}

swiper-slide img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

ion-modal {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.08) !important;
}

ion-datetime {
  --background: white;
  --background-rgb: white;

  border-radius: 16px;
  //box-shadow: rgba(white, 0.3) 0px 10px 15px -3px;
}


.btn-style-1 {
  width: 100%;
  background-color: white;
}

ion-accordion-group{
  ion-accordion {
      .ion-accordion-toggle-icon {
        color: var(--ion-color-primary);
      }
  }
}

.ios ion-footer {
  padding-bottom: env(safe-area-inset-bottom); /* Asegura que el footer respeta el área segura */

}