<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" (click)="close()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'medication.add_medication' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterList($event)" placeholder="{{'medication.placeholder_search' | translate }}">
</ion-searchbar>
<ion-list>
  <ion-item  class="drugList" type="text" *ngFor="let drug of drugs" (click)="addMedicamento(drug)">{{drug.name}}</ion-item>
</ion-list>
</ion-content>
