@import "/src/theme/variables";

elastic-textarea {
    .text-input {
        margin: 6px 10px !important;
        padding: 0;
        width: calc(100% - 20px) !important;
    }
    ion-textarea {
        //border: 1px solid map-get($chat, input-border);
        color: var(--ion-color-primary);
        border-radius: 15px;
        border: 0.5px;
        background-color: white;
    }
}


ion-textarea {
    padding: 0px;
    border-radius: 15px;
    background-color: white;
    border: 0.1px solid var(--ion-color-primary);
    //box-shadow: 0px 0px 0px 0.1px var(--ion-color-primary, 0.5);
    box-shadow: 0px 0px 0px 0.1px rgba(128, 0, 128, 0.1); /* Your border color with reduced opacity */
    //height: 32px;
    padding-right: 2%;
    padding-left: 2%;
    height: 50px;
    min-height: 50px; 
    max-height: 200px; 
    overflow-y: hidden;
    
}

textarea#ion-textarea-0 {
    padding: 0px;
}
