.boton-reject {
  color: #e81111; /* Color del texto */
}

.boton-accepted {
  color: #4192f1; /* Color del texto */
}



.custom-textarea textarea {
  height: 150px; /* Adjust the height as per your requirement */
  width: 150px;
}

.cardProfile1{
   --ion-background-color: white !important;
}

.item{
  height: 100% !important;
}

.thumbnail{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 98px !important;
  height: 105px !important;
}