<ion-card  *ngIf="content?.state !== undefined; else noRouterLink"
  class="cardProfile ion-no-padding"
  (click)="goTo(content.type)"
  [routerLink]="content.routerlink"
  [state]="{ id: content?.id }"
  routerLinkActive="active-item"
>
  <ion-item class="ion-no-padding item" lines="none" mode="ios">
    <ion-thumbnail class="thumbnail" slot="start">
      <img
        class="img"
        [src]="content?.img"
        onError="this.onerror=null; this.src='/assets/images/shared-care-plan/image-not-found.png' "
        alt=""
      />
    </ion-thumbnail>
    <ion-grid style="height: 100% !important">
      <ion-row class="verticalAlignItem" style="margin: unset;" >
        <ion-text class="txtSubtitle" style="display: inline-flex !important;">
          <p>{{ content?.from  }} </p>&nbsp; 
          <p *ngIf="content?.to"> ---  {{ content?.to }}</p>
        </ion-text>
      </ion-row>

      <ion-row>
        <ion-text class="txtTitleGoalsDarker textAdvicesSlider">{{
          content?.title | translate
        }}</ion-text>
        
       
      </ion-row>

      <ion-row class="verticalAlignItem">
        <ion-text class="status" [ngStyle]="{ color: this.state?.color }">
          {{ this.state?.name | translate }}&nbsp;
        </ion-text>
        <ion-icon *ngIf="this.isPending" class="status-icon" [src]="this.state?.icon" (click)="presentAlert($event)"></ion-icon>
      </ion-row>

    </ion-grid>
    <ion-buttons slot="end">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-buttons>
  </ion-item>
</ion-card>


<ng-template #noRouterLink>  <!-- Contenido del ion-card cuando el tipo no es 1 -->
  
  <ion-card
  class="cardProfile ion-no-padding"  
  [state]="{ id: content?.id }"
  routerLinkActive="active-item"
>
<ion-item class="ion-no-padding item" lines="none" mode="ios">
  <ion-thumbnail class="thumbnail" slot="start">
    <img
      class="img"
      [src]="content?.img"
      onError="this.onerror=null; this.src='/assets/images/shared-care-plan/image-not-found.png' "
      alt=""
    />
  </ion-thumbnail>
  <ion-grid style="height: 100% !important"  style="flex-direction: column;">     
    <ion-row class="verticalAlignItem" style="margin-top: -20px;" >
      <ion-text class="txtSubtitle" style="display: inline-flex !important;">
        <p>{{ content?.from  }} </p>&nbsp; 
        <p *ngIf="content?.to"> ---  {{ content?.to }}</p>
      </ion-text>
      <ion-row class="verticalAlignItem" style="margin-top:-12px;">
        <ion-text class="status" [ngStyle]="{ color: this.state?.color }" style="display: inline-flex !important;">
          {{ this.state?.name | translate }}&nbsp;
        </ion-text>
        <ion-icon *ngIf="this.isPending" class="status-icon" [src]="this.state?.icon" (click)="presentAlert($event)"></ion-icon>
      </ion-row>
      <ion-row style="margin-top:-12px;">      
        <ion-text class="txtTitleGoalsDarker textAdvicesSlider" >{{
          content?.title | translate
        }}</ion-text>
      </ion-row>
    </ion-row>
    

    
  </ion-grid>
  <ion-buttons slot="end">
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-buttons>
</ion-item>
</ion-card>

</ng-template>