<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>CHAT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div  #contentArea>
    <ion-infinite-scroll threshold="10px" position="top" (ionInfinite)="getMessagesList(this.lastPage)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-list no-lines>
      <ion-item *ngFor="let message of this.messagesList">
        <ion-label>
          <chat-bubble [chatMessage]="message"></chat-bubble>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let message of this.messageUploadList">
        <chat-bubble [chatMessage]="message"></chat-bubble>
      </ion-item>    
    </ion-list>
  </div>

<!--   <div class="main">
    <div class="chat-box">
      <div class="message-area">
        <div class="message" *ngFor="let message of messages" [ngClass]="getClasses(message.type)">
          <p>{{message.text}}</p>
        </div>
      </div>
      <div class="emo-area">

      </div>
      <div class="input-area">
        <form (submit)="sendMessage()" name="messageForm" #messageForm="ngForm">
          <ion-input type="text" name="message" id="message" [(ngModel)]="message" placeholder="Say something nice..."></ion-input>
          <button>
            <ion-icon name="send"></ion-icon>
          </button>
        </form>
      </div>
    </div>
  </div> -->
</ion-content>

<ion-toolbar>
  <ion-item no-lines>
<!--     <ion-buttons >
      <ion-button (click)="selectImageSource()">
        <ion-icon icon-start name="add-outline"></ion-icon>
        <input 
          type="file"
          #fileInput
          (change)="uploadFileFromBrowser($event)"
          hidden="true"
          accept="image/*, application/pdf, video/*, audio/*, .doc,.docx,application/msword"
        />
      </ion-button>
    </ion-buttons> -->
    <div item-content style="width:120%!important" >
      <elastic-textarea #txtChat placeholder="{{ 'conversation.placeholder' | translate}}">
        <ion-input  lineHeight="20" maxExpand="8" style="width:120%!important"></ion-input>
      </elastic-textarea>
    </div>
    <ion-buttons >
<!--        <ion-button (click)="this.addImage()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button  (click)="this.addAudio()">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button> -->
      <ion-button [disabled]="txtChat.content.trim().length<1 || !btnEnabled" slot="end" (click)="this.send()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
 </ion-toolbar>
