<div [ngClass]="desactive ? 'd-none' : 'd-block'">
  <div *ngIf="!this.isVertical">
    <ion-grid class="form-component" [id]="this.data?.id" [name]="data.name" [ngClass]="data?.hidden ? 'd-none' : 'd-block'">
      <ion-row class="form-question">
        <div  class="text-index">{{data.index}}</div>
        <div style="display: flex;">
          <ion-text *ngIf=" this.data.required" color="danger" style="font-size:20px; margin-right: 4px;">*</ion-text>
          <app-tooltip *ngIf="this.data?.tooltip !== '' " style="margin-right: 4px;margin-top: 2px;" [info]="this.data.tooltip" ></app-tooltip>
          <div [innerHtml]="this.label | safeHtml"></div>
        </div>
      </ion-row>
      <ion-note class="ion-padding" color="danger">{{this.error_msg}}</ion-note>
      <div *ngIf="this.slider === true; else noSlider">
        <ion-item lines="none" [ngClass]="error ? 'form-input-error' : 'form-input'">
          <ion-input mode="ios" (ionBlur)="checkLastValue()" (ionInput)="setValue($event)" (ionChange)="checkValue()"
          [value]="this.value" [min]="min" [max]="max" type="number"  maxlength="20"
          inputmode="decimal" [placeholder]="this.data?.placeholder" required="this.data?.required"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-range mode="ios" (ionChange)="setValue($event)" (touchend)="sendValue($event)" [value]="this.value" [min]="min" [max]="max" [step]="step" snaps="true" [pin]="true">
            <ion-label slot="start">{{min}}</ion-label>
            <ion-label slot="end">{{max}}</ion-label>
          </ion-range>
        </ion-item>
      </div>
        <ng-template #noSlider>
          <ion-item lines="none" [ngClass]="error ? 'form-input-error' : 'form-input'">
            <ion-input mode="ios" [min]="min" [max]="max" [step]="step" (ionBlur)="checkLastValue()" (ionInput)="setValue($event)" (ionChange)="checkValue()" [value]="this.value" inputmode="decimal" maxlength="20" [placeholder]="this.data?.placeholder" required="this.data?.required"></ion-input>
          </ion-item>
        </ng-template>
    </ion-grid>
  </div>

</div>