<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo3FFiZKRlrEpdggUqhD9-tMZddIAScas</string>
	<key>GCM_SENDER_ID</key>
	<string>786292298290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doole.inca</string>
	<key>PROJECT_ID</key>
	<string>carematrix-inca</string>
	<key>STORAGE_BUCKET</key>
	<string>carematrix-inca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786292298290:ios:4f7f3cff57a6c093e6a22b</string>
</dict>
</plist>