<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbarTitle">{{ 'health_card.header_card' | translate}}</ion-title>
    <ion-buttons slot="end" (click)="addCard()" >
    <ion-icon slot="icon-only" name="add" color="primary"></ion-icon>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spin" *ngIf="this.isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

  <ion-list *ngIf="listCard.length > 0; else noData">
    <ion-card *ngFor="let card of listCard" class="cardProfile" routerLink="detailCard" [state]="{id:card.id}" routerLinkActive='active-item'>
      <ion-card-content>
        <ion-item lines="none">
            <img [src]="(card.thumbnail !== null)? 'card.thumbnail':'assets/images/tarjeta.png'">
          <ion-label class="txtPaddingLeft" >
            <h3>{{ card.name}}</h3>
            <div>
              <p>{{ card.card_number}}</p>
              <p *ngIf="card.expiration_date !== null && card.expiration_date !== undefined">
                {{ this.formatDate(card.expiration_date) | date: 'MM/yyyy'}}</p>
            </div>

          </ion-label>
        </ion-item>
    </ion-card-content>
  </ion-card>
  </ion-list>
  <ng-template #noData>
    <app-no-data></app-no-data>
  </ng-template>
</ion-content>
