<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="" text="{{'alert.button_cancel' | translate }}" ></ion-back-button>
    </ion-buttons>
    <ion-title>{{'setting.password.title_change_password' | translate }}</ion-title>
    <ion-button slot="end" fill="clear" (click)="changePassword()">OK
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="formPassword" (ngSubmit)="changePassword()">
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item lines="none" >
              <ion-label>{{'setting.password.current-password' | translate }}</ion-label>
              <ion-input type="current-password" (ionInput)="isSubmittedCurrentPassword = false" formControlName="currentPassword" class="textMedium" placeholder="{{'setting.password.password' | translate }}" minlength="6" required></ion-input>
            </ion-item>
            <ion-label class="error ion-padding" color="danger" *ngIf="isSubmittedCurrentPassword && this.formPassword.get('currentPassword').invalid">
                {{this.getErrorCurrentPassword()}}
              </ion-label>
          </ion-list>
    </ion-card>
    <ion-card class="cardProfile">
      <ion-list>
        <ion-item>
          <ion-label >{{'setting.password.new-password' | translate }}</ion-label>
          <!-- <ion-label class="textMedium">Contraseña</ion-label> -->
          <ion-input type="new-password" (ionInput)="isSubmittedNewPassword = false" formControlName="newPassword" class="textMedium" placeholder="{{'setting.password.password' | translate }}" minlength="6"  required></ion-input>
        </ion-item>
        <ion-label class="error ion-padding" color="danger" *ngIf="isSubmittedCurrentPassword && this.formPassword.get('newPassword').invalid">
          {{this.getErrorNewPassword()}}
        </ion-label>
        <ion-item lines="none">
          <ion-label>{{'setting.password.confirmedPassword' | translate }}</ion-label>
          <!-- <ion-label class="textMedium">Contraseña</ion-label> -->
          <ion-input type="new-password" (ionInput)="isSubmittedRepeatedPassword = false" formControlName="confirmedPassword" class="textMedium" placeholder="{{'setting.password.password' | translate }}" required="true"></ion-input>
        </ion-item>
        <ion-label class="error ion-padding" color="danger" *ngIf="isSubmittedRepeatedPassword && this.formPassword.get('confirmedPassword').invalid">
          {{this.getErrorConfirmPassword()}}
        </ion-label>
      </ion-list>
</ion-card>
</form>
</ion-content>