<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="" text="Cancelar" ></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card class="cardProfile">
          <ion-list>
            <ion-item lines="none" >
              <ion-label>Contraseña actual</ion-label>
              <ion-label class="textMedium">Contraseña</ion-label>
            </ion-item>
          </ion-list>
    </ion-card>
    <ion-card class="cardProfile">
      <ion-list>
        <ion-item>
          <ion-label >Nueva contraseña</ion-label>
          <ion-label class="textMedium">Contraseña</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Repetir contraseña</ion-label>
          <ion-label class="textMedium">Contraseña</ion-label>
        </ion-item>
      </ion-list>
</ion-card>
</ion-content>
